## ANEXO III Variaciones y notificaciones de participaciones en el Grupo BBVA en el ejercicio 2016

### Adquisiciones o aumento de participación en entidades dependientes y entidades estructuradas

<table class="l">
    <thead>
        <tr>
            <th>Sociedad Participada</th>
            <th>Tipo de transacción</th>
            <th>Actividad</th>
            <th>Importe pagado en las operaciones + costes asocidos (millones de euros)</th>
            <th>Valor razonable de los instrumentos de Patrimonio neto emitidos para las transacciones (millones de euros)</th>
            <th>% Participación (neto) adquirido en el periodo %Derechos de voto</th>
            <th>Total derechos controlados con posterioridad a la transacción %Derechos de voto</th>
            <th>Fecha efectiva de la transacción (o en su caso fecha de notificación)</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PROPEL VENTURE PARTNERS US FUND I, L.P.</td>
            <td>CONSTITUCIÓN</td>
            <td>SOCIEDAD CAPITAL RIESGO</td>
            <td>2</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>14-ene-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA NOMINEES LIMITED</td>
            <td>COMPRA</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>5,00%</td>
            <td>100,00%</td>
            <td>29-ene-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA COMPASS PAYMENTS, INC</td>
            <td>CONSTITUCIÓN</td>
            <td>CARTERA</td>
            <td>43</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>1-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>HOLVI PAYMENT SERVICE OY</td>
            <td>COMPRA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>9</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>4-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>RENTRUCKS, ALQUILER Y SERVICIOS DE TRANSPORTE, S.A.</td>
            <td>COMPRA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>-</td>
            <td>-</td>
            <td>0,68%</td>
            <td>100,00%</td>
            <td>29-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>ESPAIS CERDANYOLA, S.L.</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>14</td>
            <td>-</td>
            <td>47,51%</td>
            <td>97,51%</td>
            <td>31-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/403112-6 DE ADMINISTRACION DOS LAGOS</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>50,00%</td>
            <td>100,00%</td>
            <td>31-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>FIDEICOMISO SCOTIABANK INVERLAT S A F100322908</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>2</td>
            <td>-</td>
            <td>50,00%</td>
            <td>100,00%</td>
            <td>31-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>OPERADORA DOS LAGOS S.A. DE C.V.</td>
            <td>COMPRA</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>50,00%</td>
            <td>100,00%</td>
            <td>31-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA CONSUMER FINANCE ENTIDAD DE DESARROLLO A LA PEQUEÑA Y MICRO EMPRESA, EDPYME, S.A. (BBVA CONSUMER FINANCE - EDPYME)</td>
            <td>COMPRA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>3</td>
            <td>-</td>
            <td>15,68%</td>
            <td>100,00%</td>
            <td>29-abr-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>FORUM COMERCIALIZADORA DEL PERU, S.A.</td>
            <td>COMPRA</td>
            <td>SERVICIOS</td>
            <td>1</td>
            <td>-</td>
            <td>15,68%</td>
            <td>100,00%</td>
            <td>29-abr-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>FORUM DISTRIBUIDORA DEL PERU, S.A.</td>
            <td>COMPRA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>1</td>
            <td>-</td>
            <td>15,68%</td>
            <td>100,00%</td>
            <td>29-abr-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA OP3N S.L.</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>1-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>HABITATGES FINVER, S.L.</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>50,00%</td>
            <td>100,00%</td>
            <td>14-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>DATA ARCHITECTURE AND TECHNOLOGY S.L</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>51,00%</td>
            <td>51,00%</td>
            <td>28-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>NEW CO PERU SAC</td>
            <td>ESCISIÓN</td>
            <td>CARTERA</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>31-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>VOLJA PLUS SL</td>
            <td>EFECTO DILUCIÓN</td>
            <td>CARTERA</td>
            <td>-</td>
            <td>-</td>
            <td>0,46%</td>
            <td>75,40%</td>
            <td>31-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>DALLAS CREATION CENTER, INC</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS</td>
            <td>2</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>1-ago-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA OP3N, INC</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>5-ago-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>GRUPO FINANCIERO BBVA BANCOMER, S.A. DE C.V.</td>
            <td>COMPRA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>1</td>
            <td>-</td>
            <td>0,01%</td>
            <td>99,98%</td>
            <td>7-sept-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>VOLKSWAGEN FINANCIAL SERVICES COMPAÑIA FINANCIERA S.A.</td>
            <td>COMPRA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>17</td>
            <td>-</td>
            <td>51,00%</td>
            <td>51,00%</td>
            <td>26-sept-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>FIDEICOMISO LOTE 6.1 ZARAGOZA</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>1</td>
            <td>-</td>
            <td>59,99%</td>
            <td>59,99%</td>
            <td>27-oct-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA BROKER, S.A.</td>
            <td>CONSTITUCIÓN</td>
            <td>SEGUROS</td>
            <td>-</td>
            <td>-</td>
            <td>95,00%</td>
            <td>95,00%</td>
            <td>1-nov-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>CX PROPIETAT, FII</td>
            <td>COMPRA</td>
            <td>FONDO INVERSIÓN INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>0,19%</td>
            <td>67,93%</td>
            <td>30-nov-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>GARANTI YATIRIM ORTAKLIGI AS</td>
            <td>CONTROL DERECHOS</td>
            <td>CARTERA</td>
            <td>-</td>
            <td>-</td>
            <td>3,30%</td>
            <td>99,97%</td>
            <td>30-nov-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>NOET, INC.</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>100,00%</td>
            <td>1-dic-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>CATALONIA GEBIRA, S.L.</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>18,33%</td>
            <td>100,00%</td>
            <td>15-dic-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>GARRAF MEDITERRANIA, S.A.</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>2</td>
            <td>-</td>
            <td>9,42%</td>
            <td>100,00%</td>
            <td>29-dic-16</td>
            <td>DEPENDIENTE</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)

<ul class="cita"><li>(*) Primero hubo escisión parcial de la rama de activididad de suelo y promoción a favor de la sociedad de nueva constitución Metrovacesa Suelo y Promoción, S.A. y en Octubre fue la escisón total de la sociedad a favor de Testa Residencial SOCIMI SAU, Merlin Properties, SOCIMI, S.A. y la sociedad de nueva constitución Metrovacesa Promoción y Arrendamiento S.A..</li>
<li>(**) Aportación no dineral</li></ul>


### Adquisiciones o aumento de participación en entidades dependientes y entidades estructuradas

<table class="l">
    <thead>
        <tr>
            <th>Sociedad Participada</th>
            <th>Tipo de transacción</th>
            <th>Actividad</th>
            <th>Beneficio (Perdida) generado en la transacción (millones de euros)</th>
            <th>Variación en Patrimonio generado en la transacción (millones de euros)</th>
            <th>% Participación vendido en el periodo %Derechos de voto</th>
            <th>Total derechos controlados con posterioridad a la transacción %Derechos de voto</th>
            <th>Fecha efectiva de la transacción (o en su caso fecha de notificación)</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ANIDA SERVICIOS INMOBILIARIOS, S.A. DE C.V.</td>
            <td>FUSIÓN</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>31-ene-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>HIPOTECARIA NACIONAL MEXICANA INCORPORATED</td>
            <td>LIQUIDACIÓN</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>31-ene-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>ARRAHONA GARRAF, S.L.</td>
            <td>LIQUIDACIÓN</td>
            <td>INMOBILIARIA</td>
            <td>(1)</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>21-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>ECOARENYS, S.L. </td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>9</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>IMOBILIARIA DUQUE DE AVILA, S.A.</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>(1)</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>22-abr-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>FIDEICOMISO Nº 781, EN BANCO INVEX, S.A.,INSTITUCION DE BANCA MULTIPLE, INVEX GRUPO FINANCIERO, FIDUCIARIO (FIDEIC. INVEX 3ª EMISION)</td>
            <td>FUSIÓN</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>30-may-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA GEST, S.G.DE FUNDOS DE INVESTIMENTO MOBILIARIO, S.A.</td>
            <td>LIQUIDACIÓN</td>
            <td>SOCIEDAD DE VALORES</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>9-jun-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>PROXIMA ALFA INVESTMENTS HOLDINGS (USA) INC.</td>
            <td>LIQUIDACIÓN</td>
            <td>CARTERA</td>
            <td>3</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>30-jun-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>PROXIMA ALFA INVESTMENTS HOLDINGS (USA) II INC.</td>
            <td>LIQUIDACIÓN</td>
            <td>CARTERA</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>30-jun-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>PROXIMA ALFA INVESTMENTS (USA) LLC</td>
            <td>LIQUIDACIÓN</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>30-jun-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>UNIDAD DE AVALUOS MEXICO, S.A. DE CV</td>
            <td>VENTA</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>18</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>29-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>HOLDING CONTINENTAL, S.A.</td>
            <td>ESCISIÓN</td>
            <td>CARTERA</td>
            <td>-</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>31-jul-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>EUROPEA DE TITULIZACION, S.A., S.G.F.T.</td>
            <td>EFECTO DILUCIÓN</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>-</td>
            <td>-</td>
            <td>1,14%</td>
            <td>87,86%</td>
            <td>31-ago-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>CATALUNYA BANC, S.A.</td>
            <td>FUSIÓN</td>
            <td>BANCA</td>
            <td>-</td>
            <td>-</td>
            <td>99,10%</td>
            <td>-</td>
            <td>9-sept-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>CATALUNYACAIXA INVERSIO, SGIIC, S.A.</td>
            <td>FUSIÓN</td>
            <td>OTRAS SOCIEDADES DE INVERSIÓN</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>13-sept-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>CATALUNYACAIXA MEDIACIO , S.L.</td>
            <td>FUSIÓN</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>6-oct-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA ELCANO EMPRESARIAL, S.A. EN LIQUIDACION</td>
            <td>LIQUIDACIÓN</td>
            <td>EN LIQUIDACION</td>
            <td>-</td>
            <td>-</td>
            <td>45,00%</td>
            <td>-</td>
            <td>25-oct-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BBVA ELCANO EMPRESARIAL II, S.A. EN LIQUIDACION</td>
            <td>LIQUIDACIÓN</td>
            <td>EN LIQUIDACION</td>
            <td>-</td>
            <td>-</td>
            <td>45,00%</td>
            <td>-</td>
            <td>26-oct-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>BANCO DEPOSITARIO BBVA, S.A.</td>
            <td>FUSIÓN</td>
            <td>BANCA</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>11-nov-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>GARANTI BANK MOSCOW</td>
            <td>VENTA</td>
            <td>BANCA</td>
            <td>8</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>5-dic-16</td>
            <td>DEPENDIENTE</td>
        </tr>
        <tr>
            <td>UNO-E BANK, S.A.</td>
            <td>FUSIÓN</td>
            <td>BANCA</td>
            <td>-</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>9-dic-16</td>
            <td>DEPENDIENTE</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)

### Ventas o disminución de participación en entidades dependientes y entidades estructuradas

<table class="l">
    <thead>
        <tr>
            <th>Sociedad Participada</th>
            <th>Tipo de transacción</th>
            <th>Actividad</th>
            <th>Importe pagado en las operaciones + costes asociados (millones de euros)</th>
            <th>Valor razonable de los instrumentos de Patrimonio Neto emitidos par las transacciones (millones de euros)</th>
            <th>% Participación (neto) adquirido en el precio %Derechos de voto</th>
            <th>Total derechos controlados con posterioridad a la transacción %Derechos de voto</th>
            <th>Fecha efectiva de la transacción (o en su caso fecha de notificación)</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>AUMENTO DE CAPITAL (**)</td>
            <td>INMOBILIARIA</td>
            <td>344</td>
            <td>-</td>
            <td>1,10%</td>
            <td>20,52%</td>
            <td>17-feb-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>ESCISIÓN PARCIAL</td>
            <td>INMOBILIARIA</td>
            <td>(208)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1-mar-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>ESCISIÓN TOTAL</td>
            <td>INMOBILIARIA</td>
            <td>(502)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>26-oct-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>METROVACESA SUELO Y PROMOCION, S.A.</td>
            <td>ESCISIÓN</td>
            <td>INMOBILIARIA</td>
            <td>208</td>
            <td>-</td>
            <td>20,52%</td>
            <td>20,52%</td>
            <td>1-mar-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>ATOM BANK PLC</td>
            <td>COMPRA</td>
            <td>BANCA</td>
            <td>56</td>
            <td>-</td>
            <td>29,46%</td>
            <td>29,46%</td>
            <td>29-abr-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>RCI COLOMBIA S.A., COMPAÑIA DE FINANCIAMIENTO</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS FINANCIEROS</td>
            <td>9</td>
            <td>-</td>
            <td>49,00%</td>
            <td>49,00%</td>
            <td>1-jun-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>PARQUE RIO RESIDENCIAL, S.L.</td>
            <td>CONSTITUCIÓN</td>
            <td>INMOBILIARIA</td>
            <td>10</td>
            <td>-</td>
            <td>50,00%</td>
            <td>50,00%</td>
            <td>14-jun-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>CAPIPOTA PRODUCTIONS S.L.</td>
            <td>COMPRA</td>
            <td>COMERCIAL</td>
            <td>-</td>
            <td>-</td>
            <td>25,00%</td>
            <td>25,00%</td>
            <td>30-jun-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>FIDEICOMISO DE ADMINISTRACION REDETRANS</td>
            <td>COMPRA</td>
            <td>SERIVICIOS</td>
            <td>1</td>
            <td>-</td>
            <td>25,07%</td>
            <td>25,07%</td>
            <td>30-jun-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>IBV SOURCE - PRESTAÇAO DE SERVIÇOS INFORMATICOS, ACE</td>
            <td>CONSTITUCIÓN</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>-</td>
            <td>49,00%</td>
            <td>49,00%</td>
            <td>31-jul-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>LA ESMERALDA DESARROLLOS, S.L.</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>25,00%</td>
            <td>50,00%</td>
            <td>21-sept-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>AVANTESPACIA INMOBILIARIA, S.L.</td>
            <td>CONSTITUCIÓN</td>
            <td>INMOBILIARIA</td>
            <td>12</td>
            <td>-</td>
            <td>30,01%</td>
            <td>30,01%</td>
            <td>20-oct-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>METROVACESA PROMOCION Y ARRENDAMIENTO S.A (*)</td>
            <td>ESCISIÓN</td>
            <td>INMOBILIARIA</td>
            <td>67</td>
            <td>-</td>
            <td>20,52%</td>
            <td>20,52%</td>
            <td>26-oct-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>TESTA RESIDENCIAL SOCIMI SAU (*)</td>
            <td>ESCISIÓN</td>
            <td>INMOBILIARIA</td>
            <td>91</td>
            <td>-</td>
            <td>13,49%</td>
            <td>13,49%</td>
            <td>26-oct-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/404180-2 BBVA BANCOMER SERVICIOS GOLF ZIBATA</td>
            <td>COMPRA</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>30,00%</td>
            <td>30,00%</td>
            <td>1-dic-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
    </tbody>
</table>

### Adquisiciones o aumento de participación en entidades asociadas y negocios conjuntos por el método de la participación

<table class="l">
    <thead>
        <tr>
            <th>Sociedad Participada</th>
            <th>Tipo de transacción</th>
            <th>Actividad</th>
            <th>Beneficio (Perdida) generado en la transacción (millones de euros)</th>
            <th>% Participación vendido en el periodo %Derechos de voto</th>
            <th>Total derechos controlados con posterioridad a la transacción %Derechos de voto</th>
            <th>Fecha efectiva de la transacción (o en su caso fecha de notificación)</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BALMA HABITAT, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>ECUALITY E-COMMERCE QUALITY, S.A.S.P.</td>
            <td>SIN CONTROL</td>
            <td>COMERCIAL</td>
            <td>-</td>
            <td>28,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>FIDEICOMISO SCOTIABANK INVERLAT SA F100322742</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>5</td>
            <td>33,78%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>I+D MEXICO, S.A. DE C.V.</td>
            <td>VENTA</td>
            <td>SERVICIOS</td>
            <td>16</td>
            <td>50,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>OPERADORA HITO URBANO, S.A.DE C.V</td>
            <td>VENTA</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>35,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>OPERADORA MIRASIERRA, S.A. DE C.V.</td>
            <td>VENTA</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>35,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>PROBIS AIGUAVIVA, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>(1)</td>
            <td>50,00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>AMBIT D'EQUIPAMENTS, S.A.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>35,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>CAPASATUS, S.L</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>CRUILLA CENTRE, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>49,04%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>EUGESA PROCAM, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>55,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>HARMONIA BADALONA, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>45,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>HARMONIA PLA DE PONENT, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>22,33%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>IMMOCENTRE 3000, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>40,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>LANDOMUS, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>L'ERA DE VIC, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>40,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>NOU MAPRO, S.A.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>SARDENYA CENTRE, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>TAGE CENTRE PROMOCIONS IMMOBILIARIES, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>VERTIX PROCAM PATRIMONIAL, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>100,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>VISOREN CENTRE, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>40,00%</td>
            <td>-</td>
            <td>30-abr-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>INMOBILIARIA MONTE BOADILLA, S.L.</td>
            <td>SIN CONTROL</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>51,00%</td>
            <td>-</td>
            <td>1-jul-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>SANYRES SUR, S.L.</td>
            <td>VENTA</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>33,05%</td>
            <td>-</td>
            <td>1-jul-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>UNION SANYRES, S.L.</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>2</td>
            <td>33,36%</td>
            <td>-</td>
            <td>1-jul-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>VIC CONVENT, S.L.</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>25,00%</td>
            <td>-</td>
            <td>14-jul-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>KUARS CENTRE, S.L.</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>9</td>
            <td>40,00%</td>
            <td>-</td>
            <td>8-sept-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>P.R.ALBIRSA, S.L.</td>
            <td>LIQUIDACION</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>50,00%</td>
            <td>-</td>
            <td>14-sept-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>S.C.I. MAGNAN SAINT PHILIPPE</td>
            <td>LIQUIDACIÓN</td>
            <td>INMOBILIARIA</td>
            <td>-</td>
            <td>25,00%</td>
            <td>-</td>
            <td>30-sept-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>ESCISION TOTAL</td>
            <td>INMOBILIARIA</td>
            <td>(2)</td>
            <td>20,52%</td>
            <td>-</td>
            <td>26-oct-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F 404015-0 BBVA BANCOMER LOMAS III</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>7</td>
            <td>25,00%</td>
            <td>-</td>
            <td>29-nov-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/70191-2 LOMAS DE ANGELOPOLIS II</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>4</td>
            <td>25,00%</td>
            <td>-</td>
            <td>30-nov-16</td>
            <td>NEGOCIO CONJUNTO</td>
        </tr>
        <tr>
            <td>PARQUE REFORMA SANTA FE, S.A. de C.V.</td>
            <td>VENTA</td>
            <td>INMOBILIARIA</td>
            <td>2</td>
            <td>30,00%</td>
            <td>-</td>
            <td>20-dic-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>TENEDORA DE VEHICULOS, S.A.</td>
            <td>LIQUIDACION</td>
            <td>SERVICIOS</td>
            <td>-</td>
            <td>35,00%</td>
            <td>-</td>
            <td>22-dic-16</td>
            <td>ASOCIADA</td>
        </tr>
        <tr>
            <td>BRUNARA, SICAV, S.A.</td>
            <td>VENTA</td>
            <td>SOCIEDADES DE CAPITAL VARIABLE</td>
            <td>-</td>
            <td>30,36%</td>
            <td>3,71%</td>
            <td>31-dic-16</td>
            <td>ASOCIADA</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)

<ul class="cita"><li>(*) Primero hubo escisión parcial de la rama de activididad de suelo y promoción a favor de la sociedad de nueva constitución Metrovacesa Suelo y Promoción, S.A. y en Octubre fue la escisón total de la sociedad a favor de
Testa Residencial SOCIMI SAU, Merlin Properties, SOCIMI, S.A. y la sociedad de nueva constitución Metrovacesa Promoción y Arrendamiento S.A..</li></ul>



### Ventas o disminución de participación en entidades asociadas y negocios conjuntos por el método de la participación

<table class="l">
    <thead>
        <tr>
            <th>Sociedad Participada. Con cotización en mercados españoles</th>
            <th>Tipo de transacción</th>
            <th>Actividad</th>
            <th>% Participación adquirido (vendido) en la transacción %Derechos de voto</th>
            <th>Derechos controlados totales con posterioridad a la transacción %Derechos de voto</th>
            <th>Fecha efectiva de la transacción (o en su caso fecha de notificación)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MERLIN PROPERTIES SOCIMI, S.A</td>
            <td>ESCISIÓN DE METROVACESA</td>
            <td>INMOBILIARIA</td>
            <td>6,44%</td>
            <td>6,44%</td>
            <td>2-nov-16</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)