## ANEXO V Fondos de titulización del Grupo BBVA. Entidades estructuradas


<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="2">Millones de euros</th>
        </tr>
        <tr>
            <th>Fondos de titulación (consolidados)</th>
            <th>Entidad</th>
            <th>Fecha de originación</th>
            <th>Total exposiciones titulizadas a la fecha de originación</th>
            <th>Total exposiciones titulizadas al 31.12.2016(*)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2 PS Interamericana</td>
            <td>BBVA CHILE S.A.</td>
            <td>oct-04</td>
            <td>31</td>
            <td>3</td>
        </tr>
        <tr>
            <td>AYT CAIXA SABADELL HIPOTECARIO I, FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-08</td>
            <td>300</td>
            <td>98</td>
        </tr>
        <tr>
            <td>AYT HIPOTECARIO MIXTO IV, FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-05</td>
            <td>100</td>
            <td>24</td>
        </tr>
        <tr>
            <td>AYT HIPOTECARIO MIXTO, FTA</td>
            <td>BBVA, S.A.</td>
            <td>mar-04</td>
            <td>100</td>
            <td>17</td>
        </tr>
        <tr>
            <td>BACOMCB 07</td>
            <td>BBVA BANCOMER, S.A.,INSTIT. BANCA</td>
            <td>dic-07</td>
            <td>121</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BACOMCB 08</td>
            <td>BBVA BANCOMER, S.A.,INSTIT. BANCA</td>
            <td>mar-08</td>
            <td>53</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BACOMCB 08-2</td>
            <td>BBVA BANCOMER, S.A.,INSTIT. BANCA</td>
            <td>dic-08</td>
            <td>267</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BBVA CONSUMO 6 FTA</td>
            <td>BBVA, S.A.</td>
            <td>oct-14</td>
            <td>299</td>
            <td>181</td>
        </tr>
        <tr>
            <td>BBVA CONSUMO 7 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-15</td>
            <td>1.450</td>
            <td>1.433</td>
        </tr>
        <tr>
            <td>BBVA CONSUMO 8 FT</td>
            <td>BBVA, S.A.</td>
            <td>jul-16</td>
            <td>700</td>
            <td>652</td>
        </tr>
        <tr>
            <td>BBVA EMPRESAS 4 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-10</td>
            <td>1.700</td>
            <td>133</td>
        </tr>
        <tr>
            <td>BBVA LEASING 1 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-07</td>
            <td>2.500</td>
            <td>97</td>
        </tr>
        <tr>
            <td>BBVA PYME 10 FT</td>
            <td>BBVA, S.A.</td>
            <td>dic-15</td>
            <td>780</td>
            <td>507</td>
        </tr>
        <tr>
            <td>BBVA RMBS 1 FTA</td>
            <td>BBVA, S.A.</td>
            <td>feb-07</td>
            <td>2.500</td>
            <td>1.206</td>
        </tr>
        <tr>
            <td>BBVA RMBS 10 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-11</td>
            <td>1.600</td>
            <td>1.292</td>
        </tr>
        <tr>
            <td>BBVA RMBS 11 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-12</td>
            <td>1.400</td>
            <td>1.140</td>
        </tr>
        <tr>
            <td>BBVA RMBS 12 FTA</td>
            <td>BBVA, S.A.</td>
            <td>dic-13</td>
            <td>4.350</td>
            <td>3.685</td>
        </tr>
        <tr>
            <td>BBVA RMBS 13 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-14</td>
            <td>4.100</td>
            <td>3.596</td>
        </tr>
        <tr>
            <td>BBVA RMBS 14 FTA</td>
            <td>BBVA, S.A.</td>
            <td>nov-14</td>
            <td>700</td>
            <td>569</td>
        </tr>
        <tr>
            <td>BBVA RMBS 15 FTA</td>
            <td>BBVA, S.A.</td>
            <td>may-15</td>
            <td>4.000</td>
            <td>3.659</td>
        </tr>
        <tr>
            <td>BBVA RMBS 16 FT</td>
            <td>BBVA, S.A.</td>
            <td>may-16</td>
            <td>1.600</td>
            <td>1.544</td>
        </tr>
        <tr>
            <td>BBVA RMBS 17 FT</td>
            <td>BBVA, S.A.</td>
            <td>nov-16</td>
            <td>1.800</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BBVA RMBS 2 FTA</td>
            <td>BBVA, S.A.</td>
            <td>mar-07</td>
            <td>5.000</td>
            <td>4.090</td>
        </tr>
        <tr>
            <td>BBVA RMBS 3 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-07</td>
            <td>3.000</td>
            <td>1.627</td>
        </tr>
        <tr>
            <td>BBVA RMBS 5 FTA</td>
            <td>BBVA, S.A.</td>
            <td>may-08</td>
            <td>5.000</td>
            <td>2.695</td>
        </tr>
        <tr>
            <td>BBVA RMBS 9 FTA</td>
            <td>BBVA, S.A.</td>
            <td>abr-10</td>
            <td>1.295</td>
            <td>950</td>
        </tr>
        <tr>
            <td>BBVA UNIVERSALIDAD E10</td>
            <td>BBVA COLOMBIA, S.A.</td>
            <td>mar-09</td>
            <td>23</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BBVA UNIVERSALIDAD E11</td>
            <td>BBVA COLOMBIA, S.A.</td>
            <td>may-09</td>
            <td>15</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BBVA UNIVERSALIDAD E12</td>
            <td>BBVA COLOMBIA, S.A.</td>
            <td>ago-09</td>
            <td>25</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BBVA UNIVERSALIDAD E9</td>
            <td>BBVA COLOMBIA, S.A.</td>
            <td>dic-08</td>
            <td>44</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BBVA UNIVERSALIDAD N6</td>
            <td>BBVA COLOMBIA, S.A.</td>
            <td>ago-12</td>
            <td>67</td>
            <td>14</td>
        </tr>
        <tr>
            <td>BBVA-5 FTPYME FTA</td>
            <td>BBVA, S.A.</td>
            <td>nov-06</td>
            <td>1.900</td>
            <td>30</td>
        </tr>
        <tr>
            <td>BBVA-6 FTPYME FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-07</td>
            <td>1.500</td>
            <td>43</td>
        </tr>
        <tr>
            <td>BBVA-FINANZIA AUTOS 1 FTA</td>
            <td>BBVA, S.A.</td>
            <td>abr-07</td>
            <td>800</td>
            <td>3</td>
        </tr>
        <tr>
            <td>BMERCB 13</td>
            <td>BBVA BANCOMER, S.A.,INSTIT. BANCA</td>
            <td>jun-13</td>
            <td>497</td>
            <td>-</td>
        </tr>
        <tr>
            <td>FTA IM TERRASSA MBS-1</td>
            <td>BBVA, S.A.</td>
            <td>jul-06</td>
            <td>525</td>
            <td>53</td>
        </tr>
        <tr>
            <td>FTA TDA-22 MIXTO</td>
            <td>BBVA, S.A.</td>
            <td>dic-04</td>
            <td>112</td>
            <td>31</td>
        </tr>
        <tr>
            <td>FTA TDA-27</td>
            <td>BBVA, S.A.</td>
            <td>dic-06</td>
            <td>275</td>
            <td>109</td>
        </tr>
        <tr>
            <td>FTA TDA-28</td>
            <td>BBVA, S.A.</td>
            <td>jul-07</td>
            <td>250</td>
            <td>128</td>
        </tr>
        <tr>
            <td>GAT ICO FTVPO 1, F.T.H</td>
            <td>BBVA, S.A.</td>
            <td>mar-04</td>
            <td>40</td>
            <td>127</td>
        </tr>
        <tr>
            <td>GC FTGENCAT TARRAGONA 1 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-08</td>
            <td>283</td>
            <td>50</td>
        </tr>
        <tr>
            <td>HIPOCAT 10 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-06</td>
            <td>1.500</td>
            <td>408</td>
        </tr>
        <tr>
            <td>HIPOCAT 11 FTA</td>
            <td>BBVA, S.A.</td>
            <td>mar-07</td>
            <td>1.600</td>
            <td>417</td>
        </tr>
        <tr>
            <td>HIPOCAT 6 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jul-03</td>
            <td>850</td>
            <td>143</td>
        </tr>
        <tr>
            <td>HIPOCAT 7 FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-04</td>
            <td>1.400</td>
            <td>296</td>
        </tr>
        <tr>
            <td>HIPOCAT 8 FTA</td>
            <td>BBVA, S.A.</td>
            <td>may-05</td>
            <td>1.500</td>
            <td>361</td>
        </tr>
        <tr>
            <td>HIPOCAT 9 FTA</td>
            <td>BBVA, S.A.</td>
            <td>nov-05</td>
            <td>1.000</td>
            <td>277</td>
        </tr>
        <tr>
            <td>Instrumentos de Titulización Hip- Junior</td>
            <td>BANCO CONTINENTAL, S.A.</td>
            <td>dic-07</td>
            <td>24</td>
            <td>2</td>
        </tr>
        <tr>
            <td>TDA 19 FTA</td>
            <td>BBVA, S.A.</td>
            <td>mar-04</td>
            <td>200</td>
            <td>36</td>
        </tr>
        <tr>
            <td>TDA 20-MIXTO, FTA</td>
            <td>BBVA, S.A.</td>
            <td>jun-04</td>
            <td>100</td>
            <td>20</td>
        </tr>
        <tr>
            <td>TDA 23 FTA</td>
            <td>BBVA, S.A.</td>
            <td>mar-05</td>
            <td>300</td>
            <td>76</td>
        </tr>
        <tr>
            <td>TDA TARRAGONA 1 FTA</td>
            <td>BBVA, S.A.</td>
            <td>dic-07</td>
            <td>397</td>
            <td>148</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/V.1.xls">Descargar Excel</a>

<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="2">Millones de euros</th>
        </tr>
        <tr>
            <th>Fondos de titulación (consolidados)</th>
            <th>Entidad</th>
            <th>Fecha de originación</th>
            <th>Total exposiciones titulizadas a la fecha de originación</th>
            <th>Total exposiciones titulizadas al 31.12.2016(*)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FTA TDA13</td>
            <td>BBVA, S.A.</td>
            <td>dic-00</td>
            <td>84</td>
            <td>13</td>
        </tr>
        <tr>
            <td>FTA TDA-18 MIXTO</td>
            <td>BBVA, S.A.</td>
            <td>nov-13</td>
            <td>91</td>
            <td>15</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/V.2.xls">Descargar Excel</a>

<ul class="cita"><li>(*) Perímetro de solvencia.</li></ul>
