## ANEXO VI Detalle de las emisiones vivas a 31 de diciembre de 2016, 2015 y 2014 de pasivos subordinados emitidos por el Banco o por sociedades consolidables del Grupo BBVA

### Emisiones vivas al 31 de diciembre de 2016 de pasivos subordinadas

<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="3">Millones de euros</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Sociedad Emisora y fecha de emisión</th>
            <th>Moneda</th>
            <th>Diciembre 2016</th>
            <th>Diciembre 2015</th>
            <th>Diciembre 2014</th>
            <th>Tipo de interes vigente en 2016</th>
            <th>Fecha de vencimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Emisiones en euros</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s b">
            <td> BBVA</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>febrero-07</td>
            <td>EUR</td>
            <td>255</td>
            <td>255</td>
            <td>253</td>
            <td>4,50%</td>
            <td>16-feb-22</td>
        </tr>
        <tr class="s2">
            <td>marzo-08</td>
            <td>EUR</td>
            <td>125</td>
            <td>125</td>
            <td>125</td>
            <td>6,03%</td>
            <td>3-mar-33</td>
        </tr>
        <tr class="s2">
            <td>julio-08</td>
            <td>EUR</td>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>6,20%</td>
            <td>4-jul-23</td>
        </tr>
        <tr class="s2">
            <td>febrero-14</td>
            <td>EUR</td>
            <td>1.500</td>
            <td>1.500</td>
            <td>1.500</td>
            <td>7,00%</td>
            <td>Perpetuo</td>
        </tr>
        <tr class="s2">
            <td>febrero-15</td>
            <td>EUR</td>
            <td>1.500</td>
            <td>1.500</td>
            <td>-</td>
            <td>6,75%</td>
            <td>Perpetuo</td>
        </tr>
        <tr class="s2">
            <td>abril-16</td>
            <td>EUR</td>
            <td>1.000</td>
            <td>-</td>
            <td>-</td>
            <td>8,88%</td>
            <td>Perpetuo</td>
        </tr>
        <tr class="s2">
            <td>Varias emisiones </td>
            <td>EUR</td>
            <td>277</td>
            <td>310</td>
            <td>342</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2 b">
            <td>Subtotal</td>
            <td>EUR</td>
            <td>4.756</td>
            <td>3.789</td>
            <td>2.320</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s b">
            <td>BBVA GLOBAL FINANCE, LTD. (*)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>octubre-01</td>
            <td>EUR</td>
            <td>-</td>
            <td>10</td>
            <td>10</td>
            <td>6,08%</td>
            <td>10-oct-16</td>
        </tr>
        <tr class="s2">
            <td>octubre-01</td>
            <td>EUR</td>
            <td>-</td>
            <td>46</td>
            <td>46</td>
            <td>0,55%</td>
            <td>15-oct-16</td>
        </tr>
        <tr class="s2">
            <td>noviembre-01</td>
            <td>EUR</td>
            <td>-</td>
            <td>53</td>
            <td>53</td>
            <td>0,63%</td>
            <td>02-nov-16</td>
        </tr>
        <tr class="s2">
            <td>diciembre-01</td>
            <td>EUR</td>
            <td>-</td>
            <td>56</td>
            <td>56</td>
            <td>0,57%</td>
            <td>20-dic-16</td>
        </tr>
        <tr class="s2 b">
            <td>Subtotal</td>
            <td>EUR</td>
            <td>-</td>
            <td>165</td>
            <td>223</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s b">
            <td>BBVA SUBORDINATED CAPITAL, S.A.U. (*)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>octubre-05</td>
            <td>EUR</td>
            <td>99</td>
            <td>99</td>
            <td>96</td>
            <td>0,49%</td>
            <td>13-oct-20</td>
        </tr>
        <tr class="s2">
            <td>abril-07</td>
            <td>EUR</td>
            <td>68</td>
            <td>68</td>
            <td>66</td>
            <td>0,57%</td>
            <td>4-abr-22</td>
        </tr>
        <tr class="s2">
            <td>mayo-08</td>
            <td>EUR</td>
            <td>50</td>
            <td>50</td>
            <td>50</td>
            <td>3,00%</td>
            <td>19-may-23</td>
        </tr>
        <tr class="s2">
            <td>julio-08</td>
            <td>EUR</td>
            <td>20</td>
            <td>20</td>
            <td>20</td>
            <td>6,11%</td>
            <td>22-jul-18</td>
        </tr>
        <tr class="s2">
            <td>abril-14</td>
            <td>EUR</td>
            <td>1.500</td>
            <td>1.500</td>
            <td>1.485</td>
            <td>3,50%</td>
            <td>11-abr-24</td>
        </tr>
        <tr class="s2 b">
            <td>Subtotal</td>
            <td>EUR</td>
            <td>1.737</td>
            <td>1.737</td>
            <td>1.717</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s b">
            <td>TURKIYE GARANTI BANKASI A.S</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>febrero-09</td>
            <td>EUR</td>
            <td>-</td>
            <td>50</td>
            <td>-</td>
            <td>3,53%</td>
            <td>31-mar-21</td>
        </tr>
        <tr class="s2 b">
            <td>Subtotal</td>
            <td>EUR</td>
            <td>&nbsp;</td>
            <td>50</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Resto</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Total emisiones en euros</td>
            <td>&nbsp;</td>
            <td>6.493</td>
            <td>5.742</td>
            <td>4.260</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<ul class="cita"><li>(*) Las emisiones de BBVA Subordinated Capital, S.A.U. y BBVA Global Finance, Ltd., están garantizadas con carácter solidario e irrevocable por el Banco.</li></ul>

### Emisiones vivas al 31 de diciembre de 2016 de pasivos subordinadas (Continuación)

<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="3">Millones de euros</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Sociedad Emisora y fecha de emisión</th>
            <th>Moneda</th>
            <th>Diciembre 2016</th>
            <th>Diciembre 2015</th>
            <th>Diciembre 2014</th>
            <th>Tipo de interes vigente en 2016</th>
            <th>Fecha de vencimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Emisiones en moneda extranjera</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BBVA</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>mayo-13</td>
            <td>USD</td>
            <td>1.423</td>
            <td>1.378</td>
            <td>1.235</td>
            <td>9,00%</td>
            <td>Perpetuo</td>
        </tr>
        <tr class="b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>1.423</td>
            <td>1.378</td>
            <td>1.235</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BBVA GLOBAL FINANCE, LTD. (*)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>diciembre-95</td>
            <td>USD</td>
            <td>189</td>
            <td>183</td>
            <td>165</td>
            <td>7,00%</td>
            <td>01-dic-25</td>
        </tr>
        <tr class="b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>189</td>
            <td>183</td>
            <td>165</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BANCO BILBAO VIZCAYA ARGENTARIA, CHILE</td>
            <td>USD</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Varias emisiones</td>
            <td>CLP</td>
            <td>609</td>
            <td>558</td>
            <td>578</td>
            <td>&nbsp;</td>
            <td>Varios</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>CLP</td>
            <td>609</td>
            <td>558</td>
            <td>578</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BBVA BANCOMER, S.A. de C.V.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>mayo-07</td>
            <td>USD</td>
            <td>474</td>
            <td>456</td>
            <td>413</td>
            <td>6,01%</td>
            <td>17-may-22</td>
        </tr>
        <tr class="s">
            <td>abril-10</td>
            <td>USD</td>
            <td>947</td>
            <td>912</td>
            <td>825</td>
            <td>7,25%</td>
            <td>22-abr-20</td>
        </tr>
        <tr class="s">
            <td>marzo-11</td>
            <td>USD</td>
            <td>1.184</td>
            <td>1.140</td>
            <td>1.031</td>
            <td>6,50%</td>
            <td>10-mar-21</td>
        </tr>
        <tr class="s">
            <td>julio-12</td>
            <td>USD</td>
            <td>947</td>
            <td>912</td>
            <td>825</td>
            <td>6,75%</td>
            <td>30-sep-22</td>
        </tr>
        <tr class="s">
            <td>septiembre-12</td>
            <td>USD</td>
            <td>474</td>
            <td>456</td>
            <td>413</td>
            <td>6,75%</td>
            <td>30-sep-22</td>
        </tr>
        <tr class="s">
            <td>noviembre-14</td>
            <td>USD</td>
            <td>189</td>
            <td>182</td>
            <td>165</td>
            <td>5,35%</td>
            <td>12nov-29</td>
        </tr>
        <tr class="b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>4.214</td>
            <td>4.058</td>
            <td>3.672</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>diciembre-08</td>
            <td>MXN</td>
            <td>-</td>
            <td>-</td>
            <td>160</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Subtotal</td>
            <td>MXN</td>
            <td>-</td>
            <td>-</td>
            <td>160</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BBVA URUGUAY</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>diciembre-14 (**)</td>
            <td>USD</td>
            <td>14</td>
            <td>14</td>
            <td>12</td>
            <td>4,60%</td>
            <td>16-dic-24</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>14</td>
            <td>14</td>
            <td>12</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BBVA PARAGUAY</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>noviembre-14</td>
            <td>USD</td>
            <td>19</td>
            <td>18</td>
            <td>16</td>
            <td>6,75%</td>
            <td>05-nov-21</td>
        </tr>
        <tr class="s">
            <td>noviembre-15</td>
            <td>USD</td>
            <td>24</td>
            <td>23</td>
            <td>-</td>
            <td>6,70%</td>
            <td>22-nov-22</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>43</td>
            <td>42</td>
            <td>16</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>TEXAS REGIONAL STATUTORY TRUST I</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>febrero-04</td>
            <td>USD</td>
            <td>47</td>
            <td>46</td>
            <td>41</td>
            <td>3,13%</td>
            <td>17-mar-34</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>47</td>
            <td>46</td>
            <td>41</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<ul class="cita"><li>(*) Las emisiones de BBVA Subordinated Capital, S.A.U. y BBVA Global Finance, Ltd., están avaladas, con carácter subordinado, por el Banco.</li>

<li>(**) Depósitos subordinados a la clientela</li></ul>

### Emisiones vivas al 31 de diciembre de 2016 de pasivos subordinadas (Continuación)

<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="3">Millones de euros</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Sociedad Emisora y fecha de emisión</th>
            <th>Moneda</th>
            <th>Diciembre 2016</th>
            <th>Diciembre 2015</th>
            <th>Diciembre 2014</th>
            <th>Tipo de interes vigente en 2016</th>
            <th>Fecha de vencimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>STATE NATIONAL CAPITAL TRUST I</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>julio-03</td>
            <td>USD</td>
            <td>14</td>
            <td>14</td>
            <td>12</td>
            <td>3,32%</td>
            <td>30-sep-33</td>
        </tr>
        <tr class="b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>14</td>
            <td>14</td>
            <td>12</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>STATE NATIONAL STATUTORY TRUST II</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>marzo-04</td>
            <td>USD</td>
            <td>9</td>
            <td>9</td>
            <td>8</td>
            <td>3,07%</td>
            <td>17-mar-34</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>9</td>
            <td>9</td>
            <td>8</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>TEXASBANC CAPITAL TRUST I</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>junio-04</td>
            <td>USD</td>
            <td>24</td>
            <td>23</td>
            <td>21</td>
            <td>2,88%</td>
            <td>23-jul-34</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>24</td>
            <td>23</td>
            <td>21</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>COMPASS BANK</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>marzo-05</td>
            <td>USD</td>
            <td>212</td>
            <td>204</td>
            <td>182</td>
            <td>5,50%</td>
            <td>01-abr-20</td>
        </tr>
        <tr class="s">
            <td>marzo-06</td>
            <td>USD</td>
            <td>65</td>
            <td>63</td>
            <td>56</td>
            <td>5,90%</td>
            <td>01-abr-26</td>
        </tr>
        <tr class="s">
            <td>septiembre-07</td>
            <td>USD</td>
            <td>332</td>
            <td>321</td>
            <td>288</td>
            <td>6,40%</td>
            <td>01-oct-17</td>
        </tr>
        <tr class="s">
            <td>abril-15</td>
            <td>USD</td>
            <td>655</td>
            <td>633</td>
            <td>-</td>
            <td>3,88%</td>
            <td>10-abr-25</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>&nbsp;</td>
            <td>1.264</td>
            <td>1.221</td>
            <td>526</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BBVA COLOMBIA, S.A.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>septiembre-11</td>
            <td>COP</td>
            <td>33</td>
            <td>58</td>
            <td>36</td>
            <td>10,27%</td>
            <td>19-sep-21</td>
        </tr>
        <tr class="s">
            <td>septiembre-11</td>
            <td>COP</td>
            <td>49</td>
            <td>48</td>
            <td>54</td>
            <td>10,52%</td>
            <td>19-sep-26</td>
        </tr>
        <tr class="s">
            <td>septiembre-11</td>
            <td>COP</td>
            <td>32</td>
            <td>45</td>
            <td>35</td>
            <td>10,11%</td>
            <td>19-sep-18</td>
        </tr>
        <tr class="s">
            <td>febrero-13</td>
            <td>COP</td>
            <td>63</td>
            <td>30</td>
            <td>69</td>
            <td>9,44%</td>
            <td>19-feb-23</td>
        </tr>
        <tr class="s">
            <td>febrero-13</td>
            <td>COP</td>
            <td>52</td>
            <td>31</td>
            <td>57</td>
            <td>9,72%</td>
            <td>19-feb-28</td>
        </tr>
        <tr class="s">
            <td>noviembre-14</td>
            <td>COP</td>
            <td>51</td>
            <td>26</td>
            <td>55</td>
            <td>10,32%</td>
            <td>26-nov-34</td>
        </tr>
        <tr class="s">
            <td>noviembre-14</td>
            <td>COP</td>
            <td>28</td>
            <td>47</td>
            <td>31</td>
            <td>10,20%</td>
            <td>26-nov-29</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>COP</td>
            <td>309</td>
            <td>285</td>
            <td>337</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>abril-15</td>
            <td>USD</td>
            <td>379</td>
            <td>366</td>
            <td>-</td>
            <td>4,88%</td>
            <td>21-abr-25</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>379</td>
            <td>366</td>
            <td>337</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>BANCO CONTINENTAL, S.A.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Diciembre-06(*)</td>
            <td>USD</td>
            <td>29</td>
            <td>28</td>
            <td>25</td>
            <td>2,50%</td>
            <td>15-feb-17</td>
        </tr>
        <tr class="s">
            <td>mayo-07</td>
            <td>USD</td>
            <td>19</td>
            <td>18</td>
            <td>17</td>
            <td>6,00%</td>
            <td>14-may-27</td>
        </tr>
        <tr class="s">
            <td>septiembre-07</td>
            <td>USD</td>
            <td>19</td>
            <td>18</td>
            <td>16</td>
            <td>2,16%</td>
            <td>24-sep-17</td>
        </tr>
        <tr class="s">
            <td>febrero-08</td>
            <td>USD</td>
            <td>19</td>
            <td>18</td>
            <td>17</td>
            <td>6,47%</td>
            <td>28-feb-28</td>
        </tr>
        <tr class="s">
            <td>junio-08</td>
            <td>USD</td>
            <td>-</td>
            <td>-</td>
            <td>25</td>
            <td>2,97%</td>
            <td>15-jun-18</td>
        </tr>
        <tr class="s">
            <td>noviembre-08</td>
            <td>USD</td>
            <td>-</td>
            <td>-</td>
            <td>17</td>
            <td>3,83%</td>
            <td>15-feb-19</td>
        </tr>
        <tr class="s">
            <td>Octubre-10 (*)</td>
            <td>USD</td>
            <td>190</td>
            <td>184</td>
            <td>165</td>
            <td>7,38%</td>
            <td>07-oct-40</td>
        </tr>
        <tr class="s">
            <td>octubre-13</td>
            <td>USD</td>
            <td>43</td>
            <td>41</td>
            <td>37</td>
            <td>6,53%</td>
            <td>08-oct-28</td>
        </tr>
        <tr class="s">
            <td>septiembre-14</td>
            <td>USD</td>
            <td>273</td>
            <td>274</td>
            <td>246</td>
            <td>5,25%</td>
            <td>22-sep-29</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>USD</td>
            <td>591</td>
            <td>582</td>
            <td>565</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>mayo-07</td>
            <td>PEN</td>
            <td>11</td>
            <td>11</td>
            <td>11</td>
            <td>5,85%</td>
            <td>07-may-22</td>
        </tr>
        <tr class="s">
            <td>junio-07</td>
            <td>PEN</td>
            <td>21</td>
            <td>20</td>
            <td>19</td>
            <td>3,47%</td>
            <td>18-jun-32</td>
        </tr>
        <tr class="s">
            <td>noviembre-07</td>
            <td>PEN</td>
            <td>19</td>
            <td>18</td>
            <td>17</td>
            <td>3,56%</td>
            <td>19-nov-32</td>
        </tr>
        <tr class="s">
            <td>julio-08</td>
            <td>PEN</td>
            <td>17</td>
            <td>15</td>
            <td>15</td>
            <td>3,06%</td>
            <td>08-jul-23</td>
        </tr>
        <tr class="s">
            <td>septiembre-08</td>
            <td>PEN</td>
            <td>18</td>
            <td>17</td>
            <td>16</td>
            <td>3,09%</td>
            <td>09-sep-23</td>
        </tr>
        <tr class="s">
            <td>diciembre-08</td>
            <td>PEN</td>
            <td>11</td>
            <td>10</td>
            <td>10</td>
            <td>4,19%</td>
            <td>15-dic-33</td>
        </tr>
        <tr class="s b">
            <td>Subtotal</td>
            <td>PEN</td>
            <td>97</td>
            <td>90</td>
            <td>88</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Total emisiones en otras divisas (millones de euros)</td>
            <td>&nbsp;</td>
            <td>9.228</td>
            <td>8.868</td>
            <td>7.436</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<ul class="cita"><li>(*) Depósitos subordinados a la clientela.</li></ul>

### Emisiones vivas al 31 de diciembre de 2016 de preferentes

<table class="l">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th colspan="2">Diciembre 2016</th>
            <th colspan="2">Diciembre 2015</th>
            <th colspan="2">Diciembre 2014</th>
        </tr>
        <tr>
            <th>Sociedad Emisora y fecha de emisión</th>
            <th>Moneda</th>
            <th>Importe emitido (millones)</th>
            <th>Moneda</th>
            <th>Importe emitido (millones)</th>
            <th>Moneda</th>
            <th>Importe emitido (millones)</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>BBVA</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Diciembre 2007</td>
            <td>EUR</td>
            <td>14</td>
            <td>EUR</td>
            <td>14</td>
            <td>EUR</td>
            <td>14</td>
        </tr>
        <tr class="b">
            <td>BBVA International, Ltd.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Diciembre 2002</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EUR</td>
            <td>9</td>
        </tr>
        <tr class="b">
            <td>BBVA Capital Finance, S.A.U.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Diciembre 2003</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EUR</td>
            <td>350</td>
        </tr>
        <tr class="s">
            <td> Julio 2004</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EUR</td>
            <td>500</td>
        </tr>
        <tr class="s">
            <td> Diciembre 2004</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EUR</td>
            <td>1.125</td>
        </tr>
        <tr class="s">
            <td> Diciembre 2008</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EUR</td>
            <td>1.000</td>
        </tr>
        <tr class="b">
            <td>BBVA International Preferred, S.A.U.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Septiembre 2005</td>
            <td>EUR</td>
            <td>86</td>
            <td>EUR</td>
            <td>86</td>
            <td>EUR</td>
            <td>85</td>
        </tr>
        <tr class="s">
            <td> Septiembre 2006</td>
            <td>EUR</td>
            <td>164</td>
            <td>EUR</td>
            <td>164</td>
            <td>EUR</td>
            <td>164</td>
        </tr>
        <tr class="s">
            <td> Abril 2007</td>
            <td>USD</td>
            <td>569</td>
            <td>USD</td>
            <td>551</td>
            <td>USD</td>
            <td>600</td>
        </tr>
        <tr class="s">
            <td> Julio 2007</td>
            <td>GBP</td>
            <td>36</td>
            <td>GBP</td>
            <td>43</td>
            <td>GBP</td>
            <td>31</td>
        </tr>
        <tr class="s">
            <td> Octubre 2009</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EUR</td>
            <td>645</td>
        </tr>
        <tr class="s">
            <td> Octubre 2009</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>GBP</td>
            <td>251</td>
        </tr>
        <tr class="b">
            <td>Phoenix Loan Holdings Inc.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Noviembre 2000</td>
            <td>USD</td>
            <td>22</td>
            <td>USD</td>
            <td>22</td>
            <td>USD</td>
            <td>21</td>
        </tr>
        <tr class="b">
            <td>Caixa Terrasa Societat de Participacion</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Agosto 2005</td>
            <td>EUR</td>
            <td>51</td>
            <td>EUR</td>
            <td>75</td>
            <td>EUR</td>
            <td>75</td>
        </tr>
        <tr class="b">
            <td>Caixasabadell Preferents, S.A.</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td> Julio 2006</td>
            <td>EUR</td>
            <td>53</td>
            <td>EUR</td>
            <td>90</td>
            <td>EUR</td>
            <td>90</td>
        </tr>
        <tr class="b">
            <td>Resto</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>1</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->


