## ANEXO VII Balances consolidados a 31 de diciembre de 2016, 2015 y 2014 de saldos mantenidos en moneda extranjera

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="5">Millones de euros</th>
        </tr>
        <tr>
            <th>Diciembre 2016</th>
            <th>Dolares estadounidenses</th>
            <th>Pesos mexicanos</th>
            <th>Lira Turca</th>
            <th>Otras monedas</th>
            <th>Total moneda extranjera</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Activo -</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Efectivo, saldos en efectivo en bancos centrales y otros depósitos a la vista</td>
            <td>15.436</td>
            <td>4.947</td>
            <td>426</td>
            <td>4.547</td>
            <td>25.357</td>
        </tr>
        <tr class="s">
            <td>Activos financieros mantenidos para negociar</td>
            <td>5.048</td>
            <td>15.541</td>
            <td>732</td>
            <td>2.695</td>
            <td>24.016</td>
        </tr>
        <tr class="s">
            <td>Activos financieros disponibles para la venta</td>
            <td>18.525</td>
            <td>9.458</td>
            <td>4.889</td>
            <td>5.658</td>
            <td>38.530</td>
        </tr>
        <tr class="s">
            <td>Préstamos y partidas a cobrar</td>
            <td>109.167</td>
            <td>41.344</td>
            <td>34.425</td>
            <td>46.629</td>
            <td>231.565</td>
        </tr>
        <tr class="s">
            <td>Inversiones en negocios conjuntos y asociadas</td>
            <td>5</td>
            <td>135</td>
            <td>-</td>
            <td>106</td>
            <td>247</td>
        </tr>
        <tr class="s">
            <td>Activos Tangibles</td>
            <td>788</td>
            <td>2.200</td>
            <td>1.376</td>
            <td>844</td>
            <td>5.207</td>
        </tr>
        <tr class="s">
            <td>Otros activos</td>
            <td>4.482</td>
            <td>5.214</td>
            <td>5.219</td>
            <td>4.358</td>
            <td>19.273</td>
        </tr>
        <tr class="b">
            <td>Total</td>
            <td>153.451</td>
            <td>78.839</td>
            <td>47.066</td>
            <td>64.839</td>
            <td>344.194</td>
        </tr>
        <tr class="b2">
            <td>Pasivo - </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Pasivos financieros mantenidos para negociar</td>
            <td>3.908</td>
            <td>5.957</td>
            <td>693</td>
            <td>1.426</td>
            <td>11.983</td>
        </tr>
        <tr class="s">
            <td>Pasivos financieros a coste amortizado</td>
            <td>150.035</td>
            <td>53.185</td>
            <td>28.467</td>
            <td>53.858</td>
            <td>285.546</td>
        </tr>
        <tr class="s">
            <td>Otros pasivos</td>
            <td>1.812</td>
            <td>8.774</td>
            <td>1.418</td>
            <td>1.957</td>
            <td>13.961</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>155.755</td>
            <td>67.916</td>
            <td>30.578</td>
            <td>57.241</td>
            <td>311.490</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="5">Millones de euros</th>
        </tr>
        <tr>
            <th>Diciembre 2015</th>
            <th>Dolares estadounidenses</th>
            <th>Pesos mexicanos</th>
            <th>Lira Turca</th>
            <th>Otras monedas</th>
            <th>Total moneda extranjera</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Activo -</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Efectivo, saldos en efectivo en bancos centrales y otros depósitos a la vista</td>
            <td>8.257</td>
            <td>6.547</td>
            <td>485</td>
            <td>3.833</td>
            <td>19.121</td>
        </tr>
        <tr class="s">
            <td>Activos financieros mantenidos para negociar</td>
            <td>6.449</td>
            <td>16.581</td>
            <td>374</td>
            <td>3.006</td>
            <td>26.410</td>
        </tr>
        <tr class="s">
            <td>Activos financieros disponibles para la venta</td>
            <td>22.573</td>
            <td>10.465</td>
            <td>9.691</td>
            <td>6.724</td>
            <td>49.454</td>
        </tr>
        <tr class="s">
            <td>Préstamos y partidas a cobrar</td>
            <td>115.899</td>
            <td>45.396</td>
            <td>32.650</td>
            <td>44.382</td>
            <td>238.328</td>
        </tr>
        <tr class="s">
            <td>Inversiones en negocios conjuntos y asociadas</td>
            <td>216</td>
            <td>241</td>
            <td>-</td>
            <td>40</td>
            <td>498</td>
        </tr>
        <tr class="s">
            <td>Activos Tangibles</td>
            <td>781</td>
            <td>2.406</td>
            <td>1.348</td>
            <td>762</td>
            <td>5.296</td>
        </tr>
        <tr class="s">
            <td>Otros activos</td>
            <td>2.018</td>
            <td>5.054</td>
            <td>2.320</td>
            <td>3.817</td>
            <td>13.209</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>156.193</td>
            <td>86.690</td>
            <td>46.868</td>
            <td>62.564</td>
            <td>352.315</td>
        </tr>
        <tr class="b">
            <td>Pasivo - </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Pasivos financieros mantenidos para negociar</td>
            <td>5.010</td>
            <td>5.303</td>
            <td>513</td>
            <td>1.925</td>
            <td>12.750</td>
        </tr>
        <tr class="s">
            <td>Pasivos financieros a coste amortizado</td>
            <td>152.383</td>
            <td>60.800</td>
            <td>30.267</td>
            <td>50.004</td>
            <td>293.455</td>
        </tr>
        <tr class="s">
            <td>Otros pasivos</td>
            <td>2.001</td>
            <td>9.038</td>
            <td>1.393</td>
            <td>2.132</td>
            <td>14.564</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>159.394</td>
            <td>75.141</td>
            <td>32.173</td>
            <td>54.061</td>
            <td>320.769</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="5">Millones de euros</th>
        </tr>
        <tr>
            <th>Diciembre 2014</th>
            <th>Dolares estadounidenses</th>
            <th>Pesos mexicanos</th>
            <th>Lira Turca</th>
            <th>Otras monedas</th>
            <th>Total moneda extranjera</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Activo -</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Efectivo, saldos en efectivo en bancos centrales y otros depósitos a la vista</td>
            <td>4.905</td>
            <td>5.995</td>
            <td>-</td>
            <td>8.516</td>
            <td>19.416</td>
        </tr>
        <tr class="s">
            <td>Activos financieros mantenidos para negociar</td>
            <td>5.727</td>
            <td>16.745</td>
            <td>-</td>
            <td>4.073</td>
            <td>26.545</td>
        </tr>
        <tr class="s">
            <td>Activos financieros disponibles para la venta</td>
            <td>13.590</td>
            <td>11.623</td>
            <td>-</td>
            <td>9.565</td>
            <td>34.779</td>
        </tr>
        <tr class="s">
            <td>Préstamos y partidas a cobrar</td>
            <td>79.935</td>
            <td>40.641</td>
            <td>-</td>
            <td>50.804</td>
            <td>171.380</td>
        </tr>
        <tr class="s">
            <td>Inversiones en negocios conjuntos y asociadas</td>
            <td>5</td>
            <td>227</td>
            <td>-</td>
            <td>3.700</td>
            <td>3.931</td>
        </tr>
        <tr class="s">
            <td>Activos Tangibles</td>
            <td>726</td>
            <td>1.894</td>
            <td>-</td>
            <td>1.076</td>
            <td>3.696</td>
        </tr>
        <tr class="s">
            <td>Otros activos</td>
            <td>3.874</td>
            <td>3.861</td>
            <td>-</td>
            <td>3.934</td>
            <td>11.669</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>108.762</td>
            <td>80.985</td>
            <td>-</td>
            <td>81.668</td>
            <td>271.415</td>
        </tr>
        <tr class="b">
            <td>Pasivo - </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Pasivos financieros mantenidos para negociar</td>
            <td>3.828</td>
            <td>5.776</td>
            <td>-</td>
            <td>1.907</td>
            <td>11.511</td>
        </tr>
        <tr class="s">
            <td>Pasivos financieros a coste amortizado</td>
            <td>106.582</td>
            <td>57.856</td>
            <td>-</td>
            <td>61.404</td>
            <td>225.841</td>
        </tr>
        <tr class="s">
            <td>Otros pasivos</td>
            <td>1.612</td>
            <td>8.620</td>
            <td>&nbsp;</td>
            <td>2.657</td>
            <td>12.889</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>112.021</td>
            <td>72.252</td>
            <td>-</td>
            <td>65.968</td>
            <td>250.241</td>
        </tr>
    </tbody>
</table>
[Descargar tabla](#)
