## ANEXO X Información sobre datos procedentes del registro contable especial

### a) Políticas y procedimientos sobre mercado hipotecario

La información requerida por la Circular 5/2011 de Banco de España se muestra a continuación.

El Banco cuenta con políticas y procedimientos expresos en relación con sus actividades en el mercado
hipotecario que permiten garantizar el adecuado cumplimiento de la normativa aplicable.

La política de concesión de operaciones hipotecarias está sustentada en unos criterios orientados a garantizar
una adecuada relación entre el importe y las cuotas del préstamo con respecto a los ingresos del solicitante. Es
necesario en todos los casos que éste demuestre que tiene suficiente capacidad de pago (presente y futura) para
hacer frente a sus compromisos de pago, tanto de la deuda hipotecaria, como de otras deudas detectadas en el
sistema financiero. Por tanto, la capacidad de reembolso del solicitante es un elemento clave dentro de las
herramientas de decisión crediticia y manuales de admisión de riesgo minorista, manteniendo una elevada
ponderación en la decisión final.

Durante el proceso de análisis de las operaciones de riesgo hipotecario, se solicita documentación acreditativa de
los ingresos del solicitante (nóminas, etc.) y se comprueba la posición del solicitante en el sistema financiero
mediante consultas automatizadas a bases de datos (internas y públicas externas). De estas informaciones se
derivan los cálculos para determinar el nivel de endeudamiento/cumplimiento con el resto del sistema. Esta
documentación se custodia dentro del expediente de la operación.

Por otro lado, la política de concesión de operaciones hipotecarias evalúa una adecuada relación entre el importe
del préstamo y la tasación del bien hipotecado. En este sentido, se establece que la tasación del inmueble a
hipotecar se realizará por una sociedad de tasación tal como se establece en la Circular 3/2010 y en la Circular
4/2016. BBVA selecciona aquellas sociedades que por su reputación, reconocimiento en el mercado e
independencia son capaces de ofrecer la máxima adecuación de sus valoraciones a la realidad de mercado en
cada territorio. Cada valoración se revisa y comprueba previamente a la concesión por el personal de BBVA y, en
caso de contratación final, se custodia dentro del expediente de la operación.

Respecto a las emisiones relacionadas con el mercado hipotecario, el área de Finanzas del Grupo define con
periodicidad anual la estrategia de emisión de financiación mayorista y, en concreto, de las emisiones
hipotecarias, tales como cédulas hipotecarias o titulizaciones hipotecarias. El Comité de Activos y Pasivos (en
adelante, “COAP”) realiza el seguimiento presupuestario con frecuencia mensual. La determinación del volumen y
tipología de activos de dichas operaciones se realiza en función del plan de financiación mayorista, de la
evolución de los saldos vivos de “Inversiones crediticias” del Banco y de las condiciones del mercado.

El Consejo de Administración del Banco autoriza cada una de las emisiones de Certificados de Transmisión de
Hipoteca y/o Participaciones Hipotecarias que se emiten por parte de BBVA para titulizar préstamos y créditos
hipotecarios. Asimismo, el Consejo de Administración, en uso de la facultad delegada por la Junta General
Ordinaria de Accionistas celebrada el 13 de marzo de 2015 en el punto tercero de su orden del día, autoriza el
establecimiento de un Folleto de Base para la emisión de valores de renta fija a través del cual se instrumentan
las emisiones de cédulas hipotecarias.

De acuerdo con lo establecido en el artículo 24 del Real Decreto 716/2009, el volumen de las cédulas
hipotecarias emitidas por una entidad y no vencidas no podrá superar el 80 por 100 de una base de cómputo
formada por la suma de los capitales no amortizados de todos los préstamos y créditos hipotecarios de la cartera
de la entidad que resulten elegibles y que no estén afectos a la emisión de Bonos Hipotecarios, Participaciones
Hipotecarias o Certificados de Transmisión de Hipoteca. A estos efectos, de acuerdo con el mencionado Real
Decreto 716/2009, para que los préstamos y créditos hipotecarios resulten elegibles deberán: (i) estar
garantizados con rango de primera hipoteca sobre el pleno dominio; (ii) el importe del préstamo no podrá
superar el 80% del valor de tasación, en financiación de viviendas, y el 60% en el resto de financiaciones
hipotecarias; (iii) estar constituidos sobre bienes que pertenezcan en pleno dominio y en su totalidad al
hipotecante; (iv) haber sido tasados por una sociedad de tasación independiente del Grupo y homologada por el
Banco de España; y (v) el inmueble hipotecado deberá contar, al menos, con un seguro de daños en vigor.

Por otro lado, el Banco tiene establecidos una serie de controles para la emisión de las cédulas hipotecarias, en
virtud de los cuales se controla periódicamente el volumen total de cédulas hipotecarias emitido y del colateral
elegible remanente, con el objetivo de evitar que se traspase el límite previsto en el Real Decreto 716/2009 y
descrito en el párrafo anterior. En el caso de las titulizaciones, la cartera preliminar de préstamos y créditos
hipotecarios a titulizar es verificada por el auditor externo del Banco, conforme a lo requerido por la Comisión
Nacional del Mercado de Valores. Existe además, una serie de filtros a través de los cuales, son excluidos
determinados préstamos y créditos hipotecarios atendiendo a criterios legales, comerciales y de concentración de
riesgos.

### b) Información cuantitativa sobre actividades en mercado hipotecario

A continuación se presenta la información cuantitativa de BBVA SA sobre actividades en el mercado hipotecario
requerida por la Circular 5/2011 de Banco de España.

#### b.1) Operaciones activas


<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th></th>
            <th colspan="2">Millones de euros</th>
        </tr>
        <tr>
            <th colspan="2">Prestamos hipotecarios. Elegibilidad y computabilidad a efectos del mercado hipotecario</th>
            <th>2016</th>
            <th>2015</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Valor nominal de los préstamos y créditos hipotecarios pendientes de amortización</td>
            <td>(A)</td>
            <td>113.977</td>
            <td>98.555</td>
        </tr>
        <tr class="s">
            <td>Menos: Valor nominal de la totalidad de los préstamos y créditos hipotecarios pendientes que, figurando aún en la cartera, hayan sido movilizados a través de participaciones hipotecarias o certificados de transmisión hipotecaria</td>
            <td>(B)</td>
            <td>(33.677)</td>
            <td>(25.650)</td>
        </tr>
        <tr class="b">
            <td>Valor nominal de los préstamos y créditos hipotecarios pendientes de amortización sin titulizados</td>
            <td>(A)-(B)</td>
            <td>80.300</td>
            <td>72.905</td>
        </tr>
        <tr class="s">
            <td>De los que:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>-</td>
        </tr>
        <tr class="s2">
            <td>Préstamos y créditos hipotecarios que resultarían elegibles sin tener en cuenta los límites de cómputo fijados en el artículo 12 del RD 716/2009</td>
            <td>(C)</td>
            <td>46.987</td>
            <td>40.373</td>
        </tr>
        <tr class="s2">
            <td>Menos: Préstamos y créditos hipotecarios que resultarían elegibles pero que, a tenor de los criterios fijados en el artículo 12 del RD 716/2009, no son computables para dar cobertura a la emisión de títulos hipotecarios</td>
            <td>(D)</td>
            <td>(2.268)</td>
            <td>(2.213)</td>
        </tr>
        <tr class="b">
            <td>Préstamos y créditos hipotecarios elegibles que, a tenor de los criterios fijados en el artículo 12 del RD 716/2009, son computables para dar cobertura a la emisión de títulos hipotecarios</td>
            <td>(C)-(D)</td>
            <td>44.719</td>
            <td>38.160</td>
        </tr>
        <tr>
            <td>Límite de emisiones = 80% de los préstamos y créditos hipotecarios elegibles que sean computables</td>
            <td>(E )</td>
            <td>35.775</td>
            <td>30.528</td>
        </tr>
        <tr class="b">
            <td>Cédulas hipotecarias emitidas</td>
            <td>(F)</td>
            <td>29.085</td>
            <td>28.362</td>
        </tr>
        <tr class="b">
            <td>Cédulas hipotecarias en circulación</td>
            <td>&nbsp;</td>
            <td>24.670</td>
            <td>25.220</td>
        </tr>
        <tr>
            <td>Capacidad de emisión de cédulas hipotecarias </td>
            <td>(E)-(F)</td>
            <td>6.690</td>
            <td>2.166</td>
        </tr>
        <tr>
            <td>Promemoria:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Porcentaje de sobrecolateralización sobre toda la cartera</td>
            <td>&nbsp;</td>
            <td>276%</td>
            <td>257%</td>
        </tr>
        <tr class="s">
            <td>Porcentaje de sobrecolateralización sobre toda la cartera elegible computable</td>
            <td>&nbsp;</td>
            <td>154%</td>
            <td>135%</td>
        </tr>
        <tr>
            <td>Valor nominal de los importes disponibles (importes comprometidos no dispuestos) de la totalidad de los préstamos y créditos hipotecarios</td>
            <td>&nbsp;</td>
            <td>2.917</td>
            <td>1.999</td>
        </tr>
        <tr>
            <td>De los que:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Potencialmente elegibles</td>
            <td>&nbsp;</td>
            <td>2.237</td>
            <td>1.361</td>
        </tr>
        <tr class="s">
            <td>No elegibles</td>
            <td>&nbsp;</td>
            <td>680</td>
            <td>638</td>
        </tr>
        <tr>
            <td>Valor nominal de la totalidad de los préstamos y créditos hipotecarios que no siendo elegibles por no respetar los límites fijados en el artículo 5.1 del RD 716/2009, cumplan el resto de requisitos exigibles a los elegibles, señalados en el artículo 4 del Real Decreto </td>
            <td>&nbsp;</td>
            <td>25.282</td>
            <td>25.350</td>
        </tr>
        <tr>
            <td>Valor nominal de los activos de sustitución afectos a emisiones de cédulas hipotecarias</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th></th>
            <th colspan="2">Millones de euros</th>
        </tr>
        <tr>
            <th colspan="2">Prestamos hipotecarios. Elegibilidad y computabilidad a efectos del mercado hipotecario</th>
            <th>2016</th>
            <th>2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Total préstamos</td>
            <td>(1)</td>
            <td>113.977</td>
            <td>98.555</td>
        </tr>
        <tr class="b">
            <td>Participaciones hipotecarias emitidas</td>
            <td>(2)</td>
            <td>2.865</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>De los que: Préstamos mantenidos en balance</td>
            <td>&nbsp;</td>
            <td>695</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Certificados de transmisión hipotecaria emitidos</td>
            <td>(3)</td>
            <td>30.812</td>
            <td>25.650</td>
        </tr>
        <tr class="s">
            <td>De los que: Préstamos mantenidos en balance</td>
            <td>&nbsp;</td>
            <td>28.778</td>
            <td>25.612</td>
        </tr>
        <tr class="b">
            <td>Préstamos hipotecarios afectos en garantía de financiaciones recibidas </td>
            <td>(4)</td>
            <td>&nbsp;</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Préstamos que respaldan la emisión de bonos y cédulas hipotecarias </td>
            <td>1-2-3-4</td>
            <td>80.300</td>
            <td>72.905</td>
        </tr>
        <tr class="s">
            <td>Préstamos no elegibles </td>
            <td>&nbsp;</td>
            <td>33.313</td>
            <td>32.532</td>
        </tr>
        <tr class="s2">
            <td>Cumplen los requisitos para ser elegibles excepto el límite del artículo 5.1 del RD 716/2009</td>
            <td>&nbsp;</td>
            <td>25.282</td>
            <td>25.350</td>
        </tr>
        <tr class="s2">
            <td>Resto</td>
            <td>&nbsp;</td>
            <td>8.031</td>
            <td>7.182</td>
        </tr>
        <tr class="s">
            <td>Préstamos elegibles</td>
            <td>&nbsp;</td>
            <td>46.987</td>
            <td>40.373</td>
        </tr>
        <tr class="s2">
            <td>Importes no computables </td>
            <td>&nbsp;</td>
            <td>2.268</td>
            <td>2.213</td>
        </tr>
        <tr class="s2">
            <td>Importes computables </td>
            <td>&nbsp;</td>
            <td>44.719</td>
            <td>38.160</td>
        </tr>
        <tr class="s3">
            <td>Prestamos que cubren emisiones de bonos hipotecarios</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s3">
            <td>Prestamos aptos para cobertura de cédulas hipotecarias</td>
            <td>&nbsp;</td>
            <td>44.719</td>
            <td>38.160</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th></th>
            <th colspan="2">Millones de euros</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="3">2016</th>
            <th colspan="3">2015</th>
        </tr>
        <tr>
            <th>Prestamos hipotecarios. Clasificación de los valores nominales según diferentes atributos</th>
            <th>Total préstamos y créditos hipotecarios sin titulizados</th>
            <th>Prestamos elegibles (*)</th>
            <th>Elegibles computables para las emisiones (*)</th>
            <th>Total préstamos y créditos hipotecarios sin titulizados</th>
            <th>Prestamos elegibles (*)</th>
            <th>Elegibles computables para las emisiones (*)</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Totales</td>
            <td>80.300</td>
            <td>46.987</td>
            <td>44.719</td>
            <td>72.905</td>
            <td>40.373</td>
            <td>38.160</td>
        </tr>
        <tr class="b">
            <td>Según origen de las operaciones</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Originadas por la entidad</td>
            <td>74.220</td>
            <td>42.641</td>
            <td>40.451</td>
            <td>64.852</td>
            <td>34.629</td>
            <td>32.477</td>
        </tr>
        <tr class="s">
            <td>Subrogadas de otras entidades</td>
            <td>904</td>
            <td>685</td>
            <td>678</td>
            <td>554</td>
            <td>459</td>
            <td>457</td>
        </tr>
        <tr class="s">
            <td>Resto</td>
            <td>5.176</td>
            <td>3.661</td>
            <td>3.590</td>
            <td>7.499</td>
            <td>5.285</td>
            <td>5.226</td>
        </tr>
        <tr class="b">
            <td>Según divisa:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>En euros</td>
            <td>79.422</td>
            <td>46.594</td>
            <td>44.341</td>
            <td>72.331</td>
            <td>40.013</td>
            <td>37.811</td>
        </tr>
        <tr class="s">
            <td>En moneda extranjera</td>
            <td>878</td>
            <td>393</td>
            <td>378</td>
            <td>574</td>
            <td>360</td>
            <td>349</td>
        </tr>
        <tr class="b">
            <td>Según situación en el pago</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Normalidad en el pago</td>
            <td>61.264</td>
            <td>40.685</td>
            <td>40.389</td>
            <td>56.192</td>
            <td>34.987</td>
            <td>34.330</td>
        </tr>
        <tr class="s">
            <td>Otras situaciones</td>
            <td>19.036</td>
            <td>6.302</td>
            <td>4.330</td>
            <td>16.713</td>
            <td>5.386</td>
            <td>3.830</td>
        </tr>
        <tr class="b">
            <td>Según vencimiento medio residual</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Hasta diez años</td>
            <td>19.762</td>
            <td>12.722</td>
            <td>11.765</td>
            <td>18.457</td>
            <td>11.536</td>
            <td>10.402</td>
        </tr>
        <tr class="s">
            <td>Más de diez años y hasta veinte años</td>
            <td>30.912</td>
            <td>22.417</td>
            <td>21.646</td>
            <td>24.926</td>
            <td>17.896</td>
            <td>17.317</td>
        </tr>
        <tr class="s">
            <td>Más de veinte años y hasta treinta años</td>
            <td>19.899</td>
            <td>9.375</td>
            <td>8.910</td>
            <td>18.399</td>
            <td>8.379</td>
            <td>7.963</td>
        </tr>
        <tr class="s">
            <td>Más de treinta años</td>
            <td>9.727</td>
            <td>2.473</td>
            <td>2.398</td>
            <td>11.123</td>
            <td>2.562</td>
            <td>2.478</td>
        </tr>
        <tr class="b">
            <td>Según tipo de interes:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>A tipo fijo</td>
            <td>4.460</td>
            <td>1.680</td>
            <td>1.559</td>
            <td>3.169</td>
            <td>944</td>
            <td>759</td>
        </tr>
        <tr class="s">
            <td>A tipo variable</td>
            <td>75.840</td>
            <td>45.307</td>
            <td>43.160</td>
            <td>69.736</td>
            <td>39.429</td>
            <td>37.401</td>
        </tr>
        <tr class="s">
            <td>A tipo mixto</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Según destino de las operaciones:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Personas jurídicas y personas físicas empresarios</td>
            <td>20.913</td>
            <td>8.614</td>
            <td>6.926</td>
            <td>20.741</td>
            <td>7.690</td>
            <td>5.912</td>
        </tr>
        <tr class="s2">
            <td> Del que: Promociones inmobiliarias</td>
            <td>6.958</td>
            <td>1.894</td>
            <td>740</td>
            <td>8.623</td>
            <td>2.072</td>
            <td>768</td>
        </tr>
        <tr class="s">
            <td>Resto de personas físicas e ISFLSH</td>
            <td>59.387</td>
            <td>38.373</td>
            <td>37.793</td>
            <td>52.164</td>
            <td>32.683</td>
            <td>32.248</td>
        </tr>
        <tr class="b">
            <td>Según naturaleza de la garantía:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Garantía de activos/edificios terminados</td>
            <td>75.806</td>
            <td>46.240</td>
            <td>44.237</td>
            <td>66.807</td>
            <td>39.203</td>
            <td>37.461</td>
        </tr>
        <tr class="s">
            <td>Uso residencial</td>
            <td>61.338</td>
            <td>39.494</td>
            <td>38.139</td>
            <td>56.563</td>
            <td>34.269</td>
            <td>33.066</td>
        </tr>
        <tr class="s2">
            <td> De los que: viviendas de protección oficial</td>
            <td>5.607</td>
            <td>3.338</td>
            <td>3.213</td>
            <td>5.607</td>
            <td>3.354</td>
            <td>3.104</td>
        </tr>
        <tr class="s">
            <td>Comercial</td>
            <td>5.453</td>
            <td>2.563</td>
            <td>2.289</td>
            <td>9.645</td>
            <td>4.574</td>
            <td>4.046</td>
        </tr>
        <tr class="s">
            <td>Resto</td>
            <td>9.015</td>
            <td>4.183</td>
            <td>3.809</td>
            <td>599</td>
            <td>360</td>
            <td>349</td>
        </tr>
        <tr class="b">
            <td>Garantía de activos/edificios en construcción</td>
            <td>1.914</td>
            <td>413</td>
            <td>295</td>
            <td>2.125</td>
            <td>367</td>
            <td>277</td>
        </tr>
        <tr class="s">
            <td>Uso residencial</td>
            <td>1.457</td>
            <td>290</td>
            <td>187</td>
            <td>1.642</td>
            <td>235</td>
            <td>158</td>
        </tr>
        <tr class="s2">
            <td> De los que: viviendas de protección oficial</td>
            <td>57</td>
            <td>11</td>
            <td>10</td>
            <td>84</td>
            <td>5</td>
            <td>4</td>
        </tr>
        <tr class="s">
            <td>Comercial</td>
            <td>286</td>
            <td>61</td>
            <td>53</td>
            <td>483</td>
            <td>132</td>
            <td>119</td>
        </tr>
        <tr class="s">
            <td>Resto</td>
            <td>171</td>
            <td>62</td>
            <td>55</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Garantía de terrenos</td>
            <td>2.580</td>
            <td>334</td>
            <td>187</td>
            <td>3.973</td>
            <td>803</td>
            <td>422</td>
        </tr>
        <tr class="s">
            <td>Urbanizados</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1.590</td>
            <td>334</td>
            <td>105</td>
        </tr>
        <tr class="s2">
            <td>No urbanizados</td>
            <td>2.580</td>
            <td>334</td>
            <td>187</td>
            <td>2.383</td>
            <td>469</td>
            <td>317</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<ul class="cita">(<li>*) Sin considerar los límites a su cómputo que establece el artículo 12 del RD 716/2009.</li>

<li>(**) Considerando los límites a su cómputo que establece el artículo 12 del RD 716/2009.</li></ul>

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="5">Millones de euros</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="5">Riesgo total sobre importe de última tasación disponible (Lon to Value-LTV)</th>
        </tr>
        <tr>
            <th>Diciembre 2016. Préstamos elegibles para la emisión de bonos hipotecarios y cédulas hipotecarias</th>
            <th>Igual o inferior al 40%</th>
            <th>Superior al 40% e inferior o igual al 60%</th>
            <th>Superior al 60% e inferior o igual al 80%</th>
            <th>Superior al 80%</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sobre vivienda</td>
            <td>12.883</td>
            <td>15.921</td>
            <td>14.047</td>
            <td>-</td>
            <td>42.851</td>
        </tr>
        <tr>
            <td>Sobre resto de bienes</td>
            <td>2.150</td>
            <td>1.986</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4.136</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>15.033</td>
            <td>17.907</td>
            <td>14.047</td>
            <td>-</td>
            <td>46.987</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->


<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th colspan="5">Millones de euros</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="5">Riesgo total sobre importe de última tasación disponible (Lon to Value-LTV)</th>
        </tr>
        <tr>
            <th>Diciembre 2016. Préstamos elegibles para la emisión de bonos hipotecarios y cédulas hipotecarias</th>
            <th>Igual o inferior al 40%</th>
            <th>Superior al 40% e inferior o igual al 60%</th>
            <th>Superior al 60% e inferior o igual al 80%</th>
            <th>Superior al 80%</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sobre vivienda</td>
            <td>9.364</td>
            <td>12.730</td>
            <td>12.690</td>
            <td>-</td>
            <td>34.784</td>
        </tr>
        <tr>
            <td>Sobre resto de bienes</td>
            <td>2.657</td>
            <td>2.932</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>5.589</td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>12.021</td>
            <td>15.662</td>
            <td>12.690</td>
            <td>-</td>
            <td>40.373</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th colspan="4">Millones de euros</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="2">2016</th>
            <th colspan="2">2015</th>
        </tr>
        <tr>
            <th>Préstamos hipotecarios elegibles y no elegibles. Movimientos de los valores nominales en el ejercicio</th>
            <th>Elegibles (*)</th>
            <th>No elegibles</th>
            <th>Elegibles (*)</th>
            <th>No elegibles</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b2">
            <td>Saldo inicial</td>
            <td>40.373</td>
            <td>32.532</td>
            <td>42.920</td>
            <td>36.907</td>
        </tr>
        <tr class="b">
            <td>Bajas en el período:</td>
            <td>7.458</td>
            <td>11.489</td>
            <td>5.772</td>
            <td>9.218</td>
        </tr>
        <tr class="s">
            <td>Cancelaciones a vencimiento</td>
            <td>3.552</td>
            <td>2.084</td>
            <td>4.175</td>
            <td>2.487</td>
        </tr>
        <tr class="s">
            <td>Cancelaciones anticipadas</td>
            <td>1.479</td>
            <td>1.971</td>
            <td>1.236</td>
            <td>2.268</td>
        </tr>
        <tr class="s">
            <td>Subrogaciones de otras entidades</td>
            <td>37</td>
            <td>30</td>
            <td>23</td>
            <td>20</td>
        </tr>
        <tr class="s">
            <td>Resto</td>
            <td>2.390</td>
            <td>7.404</td>
            <td>338</td>
            <td>4.443</td>
        </tr>
        <tr class="b">
            <td>Altas en el período:</td>
            <td>14.072</td>
            <td>12.270</td>
            <td>3.225</td>
            <td>4.843</td>
        </tr>
        <tr class="s">
            <td>Originados por la entidad</td>
            <td>10.051</td>
            <td>9.523</td>
            <td>2.529</td>
            <td>3.794</td>
        </tr>
        <tr class="s">
            <td>Subrogaciones de otras entidades</td>
            <td>283</td>
            <td>162</td>
            <td>14</td>
            <td>12</td>
        </tr>
        <tr class="s">
            <td>Resto</td>
            <td>3.738</td>
            <td>2.585</td>
            <td>682</td>
            <td>1.037</td>
        </tr>
        <tr class="b2">
            <td>Saldo final</td>
            <td>46.987</td>
            <td>33.313</td>
            <td>40.373</td>
            <td>32.532</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->
<ul class="cita"><li>(*) Sin considerar los límites a su cómputo que establece el artículo 12 del RD 716/2009.</li></ul>


<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="2">Millones de euros</th>
        </tr>
        <tr>
            <th>Préstamos hipotecarios que respaldan la emisión de bonos y cédulas hipotecarias. Saldos disponibles. Valor nominal.</th>
            <th>2016</th>
            <th>2015</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Potencialmente elegibles </td>
            <td> 2.237 </td>
            <td> 1.361 </td>
        </tr>
        <tr>
            <td>No elegibles</td>
            <td> 680 </td>
            <td> 638 </td>
        </tr>
        <tr class="b2">
            <td>Total</td>
            <td>2.917</td>
            <td>1.999</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<table class="l">
    <thead>
        <tr class="m">
            <th>&nbsp;</th>
            <th colspan="4">Millones de euros</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="2">2016</th>
            <th colspan="2">2015</th>
        </tr>
        <tr>
            <th>Títulos hipotecarios emitidos</th>
            <th>Valor nominal</th>
            <th>Vencimiento residual medio</th>
            <th>Valor nominal</th>
            <th>Vencimiento residual medio</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Bonos hipotecarios vivos</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Cédulas hipotecarias emitidas (*)</td>
            <td>29.085</td>
            <td>&nbsp;</td>
            <td>28.362</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>De las que: No registradas en el pasivo del balance</td>
            <td>4.414</td>
            <td>&nbsp;</td>
            <td>3.142</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>De las que: En circulación</td>
            <td>24.670</td>
            <td>&nbsp;</td>
            <td>25.220</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual hasta un año</td>
            <td>8.272</td>
            <td>&nbsp;</td>
            <td>4.500</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de un año y hasta dos años</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>6.772</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de dos y hasta tres años</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr  class="s2">
            <td>Vencimiento residual mayor de tres y hasta cinco años</td>
            <td>4.801</td>
            <td>&nbsp;</td>
            <td>2.051</td>
            <td>&nbsp;</td>
        </tr>
        <tr  class="s2" >
            <td>Vencimiento residual mayor de cinco y hasta diez años</td>
            <td>7.500</td>
            <td>&nbsp;</td>
            <td>8.000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de diez años</td>
            <td>200</td>
            <td>&nbsp;</td>
            <td>200</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Valores representativos de deuda. Resto de emisiones</td>
            <td>4.321</td>
            <td>&nbsp;</td>
            <td>2.765</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual hasta un año</td>
            <td>150</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de un año y hasta dos años</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>150</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de dos y hasta tres años</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de tres y hasta cinco años</td>
            <td>1.550</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de cinco y hasta diez años</td>
            <td>2.500</td>
            <td>&nbsp;</td>
            <td>2.500</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de diez años</td>
            <td>121</td>
            <td>&nbsp;</td>
            <td>115</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s">
            <td>Depósitos</td>
            <td>3.991</td>
            <td>&nbsp;</td>
            <td>4.074</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual hasta un año</td>
            <td>460</td>
            <td>&nbsp;</td>
            <td>1.064</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de un año y hasta dos años</td>
            <td>791</td>
            <td>&nbsp;</td>
            <td>460</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de dos y hasta tres años</td>
            <td>380</td>
            <td>&nbsp;</td>
            <td>639</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de tres y hasta cinco años</td>
            <td>671</td>
            <td>&nbsp;</td>
            <td>422</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de cinco y hasta diez años</td>
            <td>839</td>
            <td>&nbsp;</td>
            <td>849</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="s2">
            <td>Vencimiento residual mayor de diez años</td>
            <td>850</td>
            <td>&nbsp;</td>
            <td>640</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Participaciones hipotecarias emitidas</td>
            <td>695</td>
            <td>196</td>
            <td>-</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>Certificados de transmisión hipotecarias emitidos</td>
            <td>28.778</td>
            <td>286</td>
            <td>25.612</td>
            <td>293</td>
        </tr>
        <tr class="s">
            <td>Emitidos mediante oferta pública</td>
            <td>28.778</td>
            <td>286</td>
            <td>25.612</td>
            <td>293</td>
        </tr>
        <tr class="s">
            <td>Resto de emisiones</td>
            <td>-</td>
            <td>&nbsp;</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
<!--[Descargar tabla](#)-->

<ul class="cita"><li>(*) Incluye cédulas hipotecarias mantenidas en autocartera</li></ul>

Dadas las características propias del tipo de emisiones de cédulas hipotecarias del Banco, no existen activos de
sustitución afectos a dichas emisiones

El Banco no mantiene instrumentos financieros derivados vinculados con las emisiones de títulos hipotecarios, tal
y como se definen en el Real Decreto antes mencionado.



