## ANEXO XIII - Falta título

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th colspan="5">Millones de euros</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>País</th>
            <th>Pagos de caja del Impuesto Sociedades</th>
            <th>Gasto por impuesto sociedades</th>
            <th>Beneficio antes de impuesto</th>
            <th>Margen bruto</th>
            <th>Nº empleados (*)</th>
            <th>Actividad</th>
            <th>Sociedad principal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mexico</td>
            <td>792</td>
            <td>707</td>
            <td>2.672</td>
            <td>6.682</td>
            <td>37.378</td>
            <td>Finance, banking and insurance services</td>
            <td>BBVA Bancomer SA</td>
        </tr>
        <tr>
            <td>España</td>
            <td>74</td>
            <td>(108)</td>
            <td>(608)</td>
            <td>6.457</td>
            <td>31.451</td>
            <td>Finance, banking and insurance services and real estate</td>
            <td>BBVA SA</td>
        </tr>
        <tr>
            <td>Turquía</td>
            <td>320</td>
            <td>375</td>
            <td>1.758</td>
            <td>3.919</td>
            <td>22.006</td>
            <td>Finance, banking and insurance services</td>
            <td>Turkiye Garanti Bankasi</td>
        </tr>
        <tr>
            <td>Estados Unidos (**)</td>
            <td>170</td>
            <td>161</td>
            <td>625</td>
            <td>2.707</td>
            <td>10.544</td>
            <td>Finance and banking services</td>
            <td>Compass Bank, Inc.</td>
        </tr>
        <tr>
            <td>Colombia</td>
            <td>131</td>
            <td>130</td>
            <td>360</td>
            <td>874</td>
            <td>7.228</td>
            <td>Finance, banking and insurance services</td>
            <td>BBVA Colombia SA</td>
        </tr>
        <tr>
            <td>Argentina</td>
            <td>88</td>
            <td>134</td>
            <td>396</td>
            <td>1.086</td>
            <td>6.439</td>
            <td>Finance, banking and insurance services</td>
            <td>BBVA Banco Frances SA</td>
        </tr>
        <tr>
            <td>Perú</td>
            <td>176</td>
            <td>128</td>
            <td>485</td>
            <td>1.084</td>
            <td>6.010</td>
            <td>Finance and banking services</td>
            <td>BBVA Banco Continental SA</td>
        </tr>
        <tr>
            <td>Venezuela</td>
            <td>5</td>
            <td>38</td>
            <td>31</td>
            <td>52</td>
            <td>4.877</td>
            <td>Finance, banking and insurance services</td>
            <td>BBVA Banco Provincial SA</td>
        </tr>
        <tr>
            <td>Chile</td>
            <td>15</td>
            <td>38</td>
            <td>218</td>
            <td>697</td>
            <td>4.522</td>
            <td>Finance, banking and insurance services</td>
            <td>BBVA Chile SA</td>
        </tr>
        <tr>
            <td>Rumanía</td>
            <td>-</td>
            <td>(1)</td>
            <td>9</td>
            <td>120</td>
            <td>1.290</td>
            <td>Finance and banking services</td>
            <td>Garanti Bank SA</td>
        </tr>
        <tr>
            <td>Uruguay</td>
            <td>23</td>
            <td>16</td>
            <td>31</td>
            <td>142</td>
            <td>618</td>
            <td>Finance and banking services</td>
            <td>BBVA Uruguay SA</td>
        </tr>
        <tr>
            <td>Portugal</td>
            <td>5</td>
            <td>21</td>
            <td>74</td>
            <td>98</td>
            <td>490</td>
            <td>Financial services</td>
            <td>BBVA Portugal SA</td>
        </tr>
        <tr>
            <td>Paraguay</td>
            <td>1</td>
            <td>3</td>
            <td>28</td>
            <td>81</td>
            <td>463</td>
            <td>Financial services</td>
            <td>BBVA Paraguay SA</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>2</td>
            <td>2</td>
            <td>7</td>
            <td>25</td>
            <td>366</td>
            <td>Financial services</td>
            <td>BBVA Previsión AFP SA</td>
        </tr>
        <tr>
            <td>Países Bajos</td>
            <td>6</td>
            <td>10</td>
            <td>38</td>
            <td>104</td>
            <td>248</td>
            <td>Finance and banking services</td>
            <td>Garantibank International NV</td>
        </tr>
        <tr>
            <td>Reino Unido</td>
            <td>-</td>
            <td>(16)</td>
            <td>20</td>
            <td>84</td>
            <td>150</td>
            <td>Financial services</td>
            <td>BBVA - London branch</td>
        </tr>
        <tr>
            <td>Suiza</td>
            <td>6</td>
            <td>3</td>
            <td>11</td>
            <td>46</td>
            <td>125</td>
            <td>Financial services</td>
            <td>BBVA -Switzerland SA</td>
        </tr>
        <tr>
            <td>Hong Kong</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>61</td>
            <td>89</td>
            <td>Financial services</td>
            <td>BBVA - Hong-Kong branch</td>
        </tr>
        <tr>
            <td>Francia</td>
            <td>14</td>
            <td>13</td>
            <td>36</td>
            <td>65</td>
            <td>78</td>
            <td>Financial services</td>
            <td>BBVA -Paris branch</td>
        </tr>
        <tr>
            <td>Italia</td>
            <td>37</td>
            <td>14</td>
            <td>41</td>
            <td>57</td>
            <td>61</td>
            <td>Financial services</td>
            <td>BBVA -Rome branch</td>
        </tr>
        <tr>
            <td>Alemania</td>
            <td>22</td>
            <td>20</td>
            <td>44</td>
            <td>55</td>
            <td>45</td>
            <td>Financial services</td>
            <td>BBVA -Frankfurt branch</td>
        </tr>
        <tr>
            <td>Bélgica</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>7</td>
            <td>32</td>
            <td>Financial services</td>
            <td>BBVA - Brussels branch</td>
        </tr>
        <tr>
            <td>Luxemburgo (***)</td>
            <td>7</td>
            <td>2</td>
            <td>5</td>
            <td>10</td>
            <td>20</td>
            <td>Financial services</td>
            <td>Garanti - Luxembourg branch</td>
        </tr>
        <tr>
            <td>Irlanda</td>
            <td>2</td>
            <td>2</td>
            <td>15</td>
            <td>11</td>
            <td>4</td>
            <td>Finance, banking and insurance services</td>
            <td>BBVA Ireland PCL</td>
        </tr>
        <tr>
            <td>Rusia (****)</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>6</td>
            <td>-</td>
            <td>Financial services</td>
            <td>Moscow branch</td>
        </tr>
        <tr>
            <td>China</td>
            <td>4</td>
            <td>-</td>
            <td>(1)</td>
            <td>-</td>
            <td>23</td>
            <td>Financial services</td>
            <td>BBVA - Shanghai branch</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>-</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
            <td>8</td>
            <td>Financial services</td>
            <td>BBVA Brasil Banco de Investimento, S.A.</td>
        </tr>
        <tr>
            <td>Curaçao</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>4</td>
            <td>11</td>
            <td>Financial services</td>
            <td>Banco Provincial Overseas NV</td>
        </tr>
        <tr>
            <td>Singapur</td>
            <td>1</td>
            <td>1</td>
            <td>4</td>
            <td>7</td>
            <td>10</td>
            <td>Financial services</td>
            <td>BBVA -Singapore branch</td>
        </tr>
        <tr>
            <td>Japón</td>
            <td>-</td>
            <td>-</td>
            <td>(6)</td>
            <td>(3)</td>
            <td>10</td>
            <td>Financial services</td>
            <td>BBVA -Tokio branch</td>
        </tr>
        <tr>
            <td>Corea del Sur</td>
            <td>-</td>
            <td>-</td>
            <td>(7)</td>
            <td>3</td>
            <td>17</td>
            <td>Financial services</td>
            <td>BBVA -Seoul branch</td>
        </tr>
        <tr>
            <td>Taiwan</td>
            <td>-</td>
            <td>1</td>
            <td>5</td>
            <td>9</td>
            <td>7</td>
            <td>Financial services</td>
            <td>BBVA -Taipei branch</td>
        </tr>
        <tr>
            <td>Finlandia</td>
            <td>-</td>
            <td>-</td>
            <td>(2)</td>
            <td>-</td>
            <td>39</td>
            <td>Banking services</td>
            <td>Holvi Payment Service OY</td>
        </tr>
        <tr>
            <td>Chipre (***)</td>
            <td>1</td>
            <td>2</td>
            <td>9</td>
            <td>14</td>
            <td>105</td>
            <td>Financial services</td>
            <td>BBVA -Nicosia branch</td>
        </tr>
        <tr>
            <td>Malta (***)</td>
            <td>4</td>
            <td>2</td>
            <td>83</td>
            <td>84</td>
            <td>12</td>
            <td>Financial services</td>
            <td>BBVA -Valleta branch</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>1.906</td>
            <td>1.699</td>
            <td>6.392</td>
            <td>24.653</td>
            <td>134.776</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>