## ANEXO XIII - Informe bancario anual - Información para el cumplimiento del artículo 89 de la directiva 2013/36/UE del Parlamento Europeo y su trasposición al ordenamiento jurídico español mediante la ley 10/2014

De acuerdo con lo dispuesto en el artículo 89 de la Directiva 2013/36/UE del Parlamento Europeo y del Consejo de 26 de junio de 2013 relativa al acceso a la
actividad de las entidades de crédito y a la supervisión prudencial de las entidades de crédito y las empresas de inversión, y su trasposición al ordenamiento jurídico
español mediante la Ley 10/2014 de Ordenación, Supervisión y Solvencia de Entidades de Crédito de 26 de junio, se adjunta la información correspondiente al
ejercicio 2016, requerida por el artículo 87.1, de la citada norma.



<table class="l">
    <thead>
        <tr class="m">
            <th>31 de diciembre 2016</th>
            <th colspan="5">Millones de euros</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>País</th>
            <th>Pagos de caja del Impuesto Sociedades</th>
            <th>Gasto por impuesto sociedades</th>
            <th>Beneficio antes de impuesto</th>
            <th>Margen bruto</th>
            <th>Nº empleados (*)</th>
            <th>Actividad</th>
            <th>Sociedad principal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mexico</td>
            <td>792</td>
            <td>707</td>
            <td>2.672</td>
            <td>6.682</td>
            <td>37.378</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>BBVA Bancomer SA</td>
        </tr>
        <tr>
            <td>España</td>
            <td>74</td>
            <td>(108)</td>
            <td>(608)</td>
            <td>6.457</td>
            <td>31.451</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria and real estate</td>
            <td>BBVA SA</td>
        </tr>
        <tr>
            <td>Turquía</td>
            <td>320</td>
            <td>375</td>
            <td>1.758</td>
            <td>3.919</td>
            <td>22.006</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>Turkiye Garanti Bankasi</td>
        </tr>
        <tr>
            <td>Estados Unidos (**)</td>
            <td>170</td>
            <td>161</td>
            <td>625</td>
            <td>2.707</td>
            <td>10.544</td>
            <td>Financiera, Servicios Bancarios</td>
            <td>Compass Bank, Inc.</td>
        </tr>
        <tr>
            <td>Colombia</td>
            <td>131</td>
            <td>130</td>
            <td>360</td>
            <td>874</td>
            <td>7.228</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>BBVA Colombia SA</td>
        </tr>
        <tr>
            <td>Argentina</td>
            <td>88</td>
            <td>134</td>
            <td>396</td>
            <td>1.086</td>
            <td>6.439</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>BBVA Banco Frances SA</td>
        </tr>
        <tr>
            <td>Perú</td>
            <td>176</td>
            <td>128</td>
            <td>485</td>
            <td>1.084</td>
            <td>6.010</td>
            <td>Financiera, Servicios Bancarios</td>
            <td>BBVA Banco Continental SA</td>
        </tr>
        <tr>
            <td>Venezuela</td>
            <td>5</td>
            <td>38</td>
            <td>31</td>
            <td>52</td>
            <td>4.877</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>BBVA Banco Provincial SA</td>
        </tr>
        <tr>
            <td>Chile</td>
            <td>15</td>
            <td>38</td>
            <td>218</td>
            <td>697</td>
            <td>4.522</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>BBVA Chile SA</td>
        </tr>
        <tr>
            <td>Rumanía</td>
            <td>-</td>
            <td>(1)</td>
            <td>9</td>
            <td>120</td>
            <td>1.290</td>
            <td>Financiera, Servicios Bancarios</td>
            <td>Garanti Bank SA</td>
        </tr>
        <tr>
            <td>Uruguay</td>
            <td>23</td>
            <td>16</td>
            <td>31</td>
            <td>142</td>
            <td>618</td>
            <td>Financiera, Servicios Bancarios</td>
            <td>BBVA Uruguay SA</td>
        </tr>
        <tr>
            <td>Portugal</td>
            <td>5</td>
            <td>21</td>
            <td>74</td>
            <td>98</td>
            <td>490</td>
            <td>Financiera</td>
            <td>BBVA Portugal SA</td>
        </tr>
        <tr>
            <td>Paraguay</td>
            <td>1</td>
            <td>3</td>
            <td>28</td>
            <td>81</td>
            <td>463</td>
            <td>Financiera</td>
            <td>BBVA Paraguay SA</td>
        </tr>
        <tr>
            <td>Bolivia</td>
            <td>2</td>
            <td>2</td>
            <td>7</td>
            <td>25</td>
            <td>366</td>
            <td>Financiera</td>
            <td>BBVA Previsión AFP SA</td>
        </tr>
        <tr>
            <td>Países Bajos</td>
            <td>6</td>
            <td>10</td>
            <td>38</td>
            <td>104</td>
            <td>248</td>
            <td>Financiera, Servicios Bancarios</td>
            <td>Garantibank International NV</td>
        </tr>
        <tr>
            <td>Reino Unido</td>
            <td>-</td>
            <td>(16)</td>
            <td>20</td>
            <td>84</td>
            <td>150</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Londres</td>
        </tr>
        <tr>
            <td>Suiza</td>
            <td>6</td>
            <td>3</td>
            <td>11</td>
            <td>46</td>
            <td>125</td>
            <td>Financiera</td>
            <td>BBVA -Switzerland SA</td>
        </tr>
        <tr>
            <td>Hong Kong</td>
            <td>-</td>
            <td>-</td>
            <td>1</td>
            <td>61</td>
            <td>89</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Hong-Kong</td>
        </tr>
        <tr>
            <td>Francia</td>
            <td>14</td>
            <td>13</td>
            <td>36</td>
            <td>65</td>
            <td>78</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Paris</td>
        </tr>
        <tr>
            <td>Italia</td>
            <td>37</td>
            <td>14</td>
            <td>41</td>
            <td>57</td>
            <td>61</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Roma</td>
        </tr>
        <tr>
            <td>Alemania</td>
            <td>22</td>
            <td>20</td>
            <td>44</td>
            <td>55</td>
            <td>45</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Frankfurt</td>
        </tr>
        <tr>
            <td>Bélgica</td>
            <td>-</td>
            <td>-</td>
            <td>4</td>
            <td>7</td>
            <td>32</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Bruselas</td>
        </tr>
        <tr>
            <td>Luxemburgo (***)</td>
            <td>7</td>
            <td>2</td>
            <td>5</td>
            <td>10</td>
            <td>20</td>
            <td>Financiera</td>
            <td>Garanti -Sucursal de Luxemburgo</td>
        </tr>
        <tr>
            <td>Irlanda</td>
            <td>2</td>
            <td>2</td>
            <td>15</td>
            <td>11</td>
            <td>4</td>
            <td>Financiera, Servicios Bancarios , Actividad de Seguros y Actividad Inmobiliaria</td>
            <td>BBVA Ireland PCL</td>
        </tr>
        <tr>
            <td>Rusia (****)</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>6</td>
            <td>-</td>
            <td>Financiera</td>
            <td>Garanti Bank Moskow</td>
        </tr>
        <tr>
            <td>China</td>
            <td>4</td>
            <td>-</td>
            <td>(1)</td>
            <td>-</td>
            <td>23</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Shanghai</td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td>-</td>
            <td>1</td>
            <td>2</td>
            <td>5</td>
            <td>8</td>
            <td>Financiera</td>
            <td>BBVA Brasil Banco de Investimento, S.A.</td>
        </tr>
        <tr>
            <td>Curaçao</td>
            <td>-</td>
            <td>-</td>
            <td>2</td>
            <td>4</td>
            <td>11</td>
            <td>Financiera</td>
            <td>Banco Provincial Overseas NV</td>
        </tr>
        <tr>
            <td>Singapur</td>
            <td>1</td>
            <td>1</td>
            <td>4</td>
            <td>7</td>
            <td>10</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Singapur</td>
        </tr>
        <tr>
            <td>Japón</td>
            <td>-</td>
            <td>-</td>
            <td>(6)</td>
            <td>(3)</td>
            <td>10</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Tokio</td>
        </tr>
        <tr>
            <td>Corea del Sur</td>
            <td>-</td>
            <td>-</td>
            <td>(7)</td>
            <td>3</td>
            <td>17</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Seúl</td>
        </tr>
        <tr>
            <td>Taiwan</td>
            <td>-</td>
            <td>1</td>
            <td>5</td>
            <td>9</td>
            <td>7</td>
            <td>Financiera</td>
            <td>BBVA -Sucursal de Taipei</td>
        </tr>
        <tr>
            <td>Finlandia</td>
            <td>-</td>
            <td>-</td>
            <td>(2)</td>
            <td>-</td>
            <td>39</td>
            <td>Banking services</td>
            <td>Holvi Payment Service OY</td>
        </tr>
        <tr>
            <td>Chipre (***)</td>
            <td>1</td>
            <td>2</td>
            <td>9</td>
            <td>14</td>
            <td>105</td>
            <td>Financiera</td>
            <td>Garanti -Sucursal de Nicosia</td>
        </tr>
        <tr>
            <td>Malta (***)</td>
            <td>4</td>
            <td>2</td>
            <td>83</td>
            <td>84</td>
            <td>12</td>
            <td>Financiera</td>
            <td>Garanti -Sucursal de La Valeta</td>
        </tr>
        <tr class="b">
            <td>Total</td>
            <td>1.906</td>
            <td>1.699</td>
            <td>6.392</td>
            <td>24.653</td>
            <td>134.776</td>
            <td>&nbsp;</td>
            <td></td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIII.1.xls">Descargar Excel</a>

<ul class="cita"><li>(*) Número de empleados a tiempo completo. No incluye los 16 empleados de las oficinas de representación.
</li>
<li>(**) Las cifras de Estados Unidos incluyen los datos de las sucursales de las Islas Caimán.</li>

<li>(***) Los resultados de las sucursales que Garanti tiene en Malta, Chipre y Luxemburgo tributan también en Turquía</li>

<li>(****) En diciembre 2016 se ha registrado la venta de Garanti Bank Moscow.</li></ul>

A 31 de diciembre de 2016, el rendimiento de los activos del Grupo calculado dividiendo el “Resultado consolidado del ejercicio” entre el “Total de activo” es de
0,64%.


Durante el año 2016 (*), el grupo BBVA no ha recibido ayudas públicas dirigidas al sector financiero que tengan por objeto promover el desarrollo de la actividad
bancaria y que sean significativas. Esta declaración se realiza a los efectos de lo establecido en el artículo 89 de la Directiva 2013/36/UE del Parlamento Europeo y del
Consejo de 26 de junio (relativa al acceso a la actividad de las entidades de crédito y a la supervisión prudencial de las entidades de crédito y las empresas de
inversión) y su transposición al ordenamiento jurídico español mediante la Ley 10/2014 de Ordenación, Supervisión y Solvencia de Entidades de Crédito de 26 de
junio.

<ul class="cita"><li>(*) BBVA anunció mediante hecho relevante: (i) con fecha el 27/07/2012 el cierre de la adquisición de UNNIM Banc, S.A. y (ii) con fecha 24/04/2015 el cierre de la adquisición de
Catalunya Banc, S.A.</li></ul>

