## ANEXO XIV Conciliación de los Estados financieros


<h4 class="cwt">Formato actual</h4>
<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Activo</th>
            <th>Diciembre 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>EFECTIVO, SALDOS EN EFECTIVO EN BANCOS CENTRALES Y OTROS DEPÓSITOS A LA VISTA (1)</td>
            <td>29.282</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS FINANCIEROS MANTENIDOS PARA NEGOCIAR</td>
            <td>78.326</td>
        </tr>
        <tr>
            <td>Derivados </td>
            <td>40.902</td>
        </tr>
        <tr>
            <td>Instrumentos de patrimonio</td>
            <td>4.534</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>32.825</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a bancos centrales</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a entidades de crédito</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a la clientela</td>
            <td>65</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS FINANCIEROS DESIGNADOS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS</td>
            <td>2.311</td>
        </tr>
        <tr>
            <td>Instrumentos de patrimonio</td>
            <td>2.075</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>173</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a bancos centrales</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a entidades de crédito</td>
            <td>62</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a la clientela</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS FINANCIEROS DISPONIBLES PARA LA VENTA </td>
            <td>113.426</td>
        </tr>
        <tr>
            <td>Instrumentos de patrimonio</td>
            <td>5.116</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>108.310</td>
        </tr>
        <tr class="b">
            <td>PRÉSTAMOS Y PARTIDAS A COBRAR (2)</td>
            <td>471.828</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>10.516</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a bancos centrales</td>
            <td>17.830</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a entidades de crédito</td>
            <td>29.317</td>
        </tr>
        <tr>
            <td>Préstamos y anticipos a la clientela</td>
            <td>414.165</td>
        </tr>
        <tr class="b">
            <td>INVERSIONES MANTENIDAS HASTA EL VENCIMIENTO</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>DERIVADOS - CONTABILIDAD DE COBERTURAS</td>
            <td>3.538</td>
        </tr>
        <tr class="b">
            <td>CAMBIOS DEL VALOR RAZONABLE DE LOS ELEMENTOS CUBIERTOS DE UNA CARTERA CON COBERTURA DEL RIESGO DEL TIPO DE INTERÉS</td>
            <td>45</td>
        </tr>
        <tr class="b">
            <td>INVERSIONES EN NEGOCIOS CONJUNTOS Y ASOCIADAS</td>
            <td>879</td>
        </tr>
        <tr>
            <td>Entidades multigrupo</td>
            <td>243</td>
        </tr>
        <tr>
            <td>Entidades asociadas</td>
            <td>636</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS AMPARADOS POR CONTRATOS DE SEGURO O REASEGURO</td>
            <td>511</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS TANGIBLES</td>
            <td>9.944</td>
        </tr>
        <tr>
            <td>Inmovilizado material</td>
            <td>8.477</td>
        </tr>
        <tr>
            <td>De uso propio</td>
            <td>8.021</td>
        </tr>
        <tr>
            <td>Cedido en arrendamiento operativo</td>
            <td>456</td>
        </tr>
        <tr>
            <td>Inversiones inmobiliarias</td>
            <td>1.467</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS INTANGIBLES</td>
            <td>10.052</td>
        </tr>
        <tr>
            <td>Fondo de comercio</td>
            <td>6.915</td>
        </tr>
        <tr>
            <td>Otros activos intangibles</td>
            <td>3.137</td>
        </tr>
        <tr>
            <td>ACTIVOS POR IMPUESTOS</td>
            <td>17.779</td>
        </tr>
        <tr>
            <td>Activos por impuestos corrientes</td>
            <td>1.901</td>
        </tr>
        <tr>
            <td>Activos por impuestos diferidos</td>
            <td>15.878</td>
        </tr>
        <tr class="b">
            <td>OTROS ACTIVOS </td>
            <td>8.566</td>
        </tr>
        <tr>
            <td>Contratos de seguros vinculados a pensiones</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Existencias</td>
            <td>4.303</td>
        </tr>
        <tr>
            <td>Resto de los otros activos</td>
            <td>4.263</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS NO CORRIENTES Y GRUPOS ENAJENABLES DE ELEMENTOS QUE SE HAN CLASIFICADO COMO MANTENIDOS PARA LA VENTA (3)</td>
            <td>3.369</td>
        </tr>
        <tr class="b">
            <td>TOTAL ACTIVO</td>
            <td>749.855</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.ACTIVO.xls">Descargar Excel</a>

<ul class="cita"><li>(1) Las principales diferencias con respecto al epígrafe "Caja y depósitos en Bancos centrales" son la inclusión los saldos a la vista depositados en Entidades de crédito y la reclasificación de préstamos en bancos centrales al epígrafe Prestamos y partidas a cobrar"</li>

<li>(2) Las principales diferencias con respecto al epígrafe "Inversiones crediticias" son la inclusión de préstamos en bancos centrales y la reclasificación saldos a la vista depositados en Entidades de crédito al epígrafe "Efectivo, saldos en efectivo en Bancos centrales y otros depósitos a la vista"</li>

<li>(3) Corresponde al epígrafe "Activos no corrientes en venta" del formato anterior</li></ul>


<h4 class="cwt">Formato anterior</h4>
<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Activo</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CAJA Y DEPÓSITOS EN BANCOS CENTRALES </td>
            <td>43.467</td>
        </tr>
        <tr class="b">
            <td>CARTERA DE NEGOCIACIÓN </td>
            <td>78.326</td>
        </tr>
        <tr>
            <td>Depósitos en entidades de crédito</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Crédito a la clientela</td>
            <td>65</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>32.825</td>
        </tr>
        <tr>
            <td>Instrumentos de capital</td>
            <td>4.534</td>
        </tr>
        <tr>
            <td>Derivados de negociación</td>
            <td>40.902</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>OTROS ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN PÉRDIDAS Y GANANCIAS </td>
            <td>2.311</td>
        </tr>
        <tr>
            <td>Depósitos en entidades de crédito</td>
            <td>62</td>
        </tr>
        <tr>
            <td>Crédito a la clientela</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>173</td>
        </tr>
        <tr>
            <td>Instrumentos de capital</td>
            <td>2.075</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS FINANCIEROS DISPONIBLES PARA LA VENTA </td>
            <td>113.426</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>108.310</td>
        </tr>
        <tr>
            <td>Instrumentos de capital</td>
            <td>5.116</td>
        </tr>
        <tr class="b">
            <td>INVERSIONES CREDITICIAS </td>
            <td>457.644</td>
        </tr>
        <tr>
            <td>Depósitos en entidades de crédito</td>
            <td>32.962</td>
        </tr>
        <tr>
            <td>Crédito a la clientela</td>
            <td>414.165</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda</td>
            <td>10.516</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>CARTERA DE INVERSIÓN A VENCIMIENTO </td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>AJUSTES A ACTIVOS FINANCIEROS POR MACRO-COBERTURAS</td>
            <td>45</td>
        </tr>
        <tr class="b">
            <td>DERIVADOS DE COBERTURA </td>
            <td>3.538</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS NO CORRIENTES EN VENTA </td>
            <td>3.369</td>
        </tr>
        <tr class="b">
            <td>PARTICIPACIONES </td>
            <td>879</td>
        </tr>
        <tr>
            <td>Entidades asociadas</td>
            <td>636</td>
        </tr>
        <tr>
            <td>Negocios conjuntos</td>
            <td>243</td>
        </tr>
        <tr class="b">
            <td>CONTRATOS DE SEGUROS VINCULADOS A PENSIONES</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS POR REASEGUROS </td>
            <td>511</td>
        </tr>
        <tr class="b">
            <td>ACTIVO MATERIAL </td>
            <td>9.944</td>
        </tr>
        <tr>
            <td>Inmovilizado material</td>
            <td>8.477</td>
        </tr>
        <tr>
            <td>De uso propio</td>
            <td>8.021</td>
        </tr>
        <tr>
            <td>Cedido en arrendamiento operativo</td>
            <td>456</td>
        </tr>
        <tr>
            <td>Inversiones inmobiliarias</td>
            <td>1.467</td>
        </tr>
        <tr class="b">
            <td>ACTIVO INTANGIBLE </td>
            <td>10.052</td>
        </tr>
        <tr>
            <td>Fondo de comercio</td>
            <td>6.915</td>
        </tr>
        <tr>
            <td>Otro activo intangible</td>
            <td>3.137</td>
        </tr>
        <tr class="b">
            <td>ACTIVOS FISCALES </td>
            <td>17.779</td>
        </tr>
        <tr>
            <td>Corrientes</td>
            <td>1.901</td>
        </tr>
        <tr>
            <td>Diferidos</td>
            <td>15.878</td>
        </tr>
        <tr class="b">
            <td>RESTO DE ACTIVOS </td>
            <td>8.566</td>
        </tr>
        <tr>
            <td>Existencias</td>
            <td>4.303</td>
        </tr>
        <tr>
            <td>Otros</td>
            <td>4.263</td>
        </tr>
        <tr class="b">
            <td>TOTAL ACTIVO</td>
            <td>749.855</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.ACTIVO.xls">Descargar Excel</a>

<h4 class="cwt">Formato actual</h4>
<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Pasivo</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>PASIVOS FINANCIEROS MANTENIDOS PARA NEGOCIAR</td>
            <td>55.203</td>
        </tr>
        <tr>
            <td>Derivados</td>
            <td>42.149</td>
        </tr>
        <tr>
            <td>Posiciones cortas de valores</td>
            <td>13.053</td>
        </tr>
        <tr>
            <td>Depósitos de bancos centrales</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de entidades de crédito</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de la clientela</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda emitidos</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Otros pasivos financieros</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PASIVOS FINANCIEROS DESIGNADOS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS</td>
            <td>2.649</td>
        </tr>
        <tr>
            <td>Depósitos de bancos centrales</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de entidades de crédito</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de la clientela</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda emitidos</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Otros pasivos financieros</td>
            <td>2.649</td>
        </tr>
        <tr>
            <td>Pro memoria: pasivos subordinados (1)</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PASIVOS FINANCIEROS A COSTE AMORTIZADO </td>
            <td>606.113</td>
        </tr>
        <tr>
            <td>Depósitos de bancos centrales</td>
            <td>40.087</td>
        </tr>
        <tr>
            <td>Depósitos de entidades de crédito</td>
            <td>68.543</td>
        </tr>
        <tr>
            <td>Depósitos de la clientela</td>
            <td>403.362</td>
        </tr>
        <tr>
            <td>Valores representativos de deuda emitidos</td>
            <td>81.980</td>
        </tr>
        <tr>
            <td>Otros pasivos financieros</td>
            <td>12.141</td>
        </tr>
        <tr>
            <td>Pro memoria: pasivos subordinados (1)</td>
            <td>16.109</td>
        </tr>
        <tr class="b">
            <td>DERIVADOS - CONTABILIDAD DE COBERTURA </td>
            <td>2.726</td>
        </tr>
        <tr class="b">
            <td>CAMBIOS DEL VALOR RAZONABLE DE LOS ELEMENTOS CUBIERTOS DE UNA CARTERA CON COBERTURA DEL RIESGO DEL TIPO DE INTERÉS</td>
            <td>358</td>
        </tr>
        <tr class="b">
            <td>PASIVOS AMPARADOS POR CONTRATOS DE SEGUROS O REASEGUROS</td>
            <td>9.407</td>
        </tr>
        <tr class="b">
            <td>PROVISIONES </td>
            <td>8.852</td>
        </tr>
        <tr>
            <td>Pensiones y otras obligaciones de prestaciones definidas post-empleo</td>
            <td>6.299</td>
        </tr>
        <tr>
            <td>Otras retribuciones a los empleados a largo plazo</td>
            <td>68</td>
        </tr>
        <tr>
            <td>Cuestiones procesales y litigios por impuestos pendientes</td>
            <td>616</td>
        </tr>
        <tr>
            <td>Compromisos y garantías concedidos</td>
            <td>714</td>
        </tr>
        <tr>
            <td>Restantes provisiones</td>
            <td>1.155</td>
        </tr>
        <tr class="b">
            <td>PASIVOS POR IMPUESTOS</td>
            <td>4.656</td>
        </tr>
        <tr>
            <td>Pasivos por impuestos corrientes</td>
            <td>1.238</td>
        </tr>
        <tr>
            <td>Pasivos por impuestos diferidos</td>
            <td>3.418</td>
        </tr>
        <tr class="b">
            <td>OTROS PASIVOS </td>
            <td>4.610</td>
        </tr>
        <tr class="b">
            <td>PASIVOS INCLUIDOS EN GRUPOS ENAJENABLES DE ELEMENTOS QUE SE HAN CLASIFICADO COMO MANTENIDOS PARA LA VENTA</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>TOTAL PASIVO</td>
            <td>694.573</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.PASIVO.xls">Descargar Excel</a>

<ul class="cita"><li>(1) Pasivos subordinados: En el  están clasificados en los subepígrafes
Depósitos de la clientela y Valores representativos de deuda emitidos</li></ul>

<h4 class="cwt">Formato anterior</h4>
<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Pasivo</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CARTERA DE NEGOCIACIÓN </td>
            <td>55.203</td>
        </tr>
        <tr>
            <td>Depósitos de bancos centrales</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de entidades de crédito</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de la clientela</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Débitos representados por valores negociables</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Derivados de negociación</td>
            <td>42.149</td>
        </tr>
        <tr>
            <td>Posiciones cortas de valores</td>
            <td>13.053</td>
        </tr>
        <tr>
            <td>Otros pasivos financieros</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>OTROS PASIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN PÉRDIDAS Y GANANCIAS </td>
            <td>2.649</td>
        </tr>
        <tr>
            <td>Depósitos de bancos centrales</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de entidades de crédito</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Depósitos de la clientela</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Débitos representados por valores negociables</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Pasivos subordinados</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Otros pasivos financieros</td>
            <td>2.649</td>
        </tr>
        <tr class="b">
            <td>PASIVOS FINANCIEROS A COSTE AMORTIZADO </td>
            <td>606.113</td>
        </tr>
        <tr>
            <td>Depósitos de bancos centrales</td>
            <td>40.087</td>
        </tr>
        <tr>
            <td>Depósitos de entidades de crédito</td>
            <td>68.543</td>
        </tr>
        <tr>
            <td>Depósitos de la clientela</td>
            <td>403.069</td>
        </tr>
        <tr>
            <td>Débitos representados por valores negociables</td>
            <td>66.165</td>
        </tr>
        <tr>
            <td>Pasivos subordinados</td>
            <td>16.109</td>
        </tr>
        <tr>
            <td>Otros pasivos financieros</td>
            <td>12.141</td>
        </tr>
        <tr class="b">
            <td>AJUSTES A PASIVOS FINANCIEROS POR MACRO-COBERTURAS</td>
            <td>358</td>
        </tr>
        <tr class="b">
            <td>DERIVADOS DE COBERTURA </td>
            <td>2.726</td>
        </tr>
        <tr class="b">
            <td>PASIVOS ASOCIADOS CON ACTIVOS NO CORRIENTES EN VENTA </td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PASIVOS POR CONTRATOS DE SEGUROS </td>
            <td>9.407</td>
        </tr>
        <tr class="b">
            <td>PROVISIONES </td>
            <td>8.852</td>
        </tr>
        <tr>
            <td>Fondos para pensiones y obligaciones similares (2)</td>
            <td>6.299</td>
        </tr>
        <tr>
            <td>Provisiones para impuestos y otras contingencias legales</td>
            <td>616</td>
        </tr>
        <tr>
            <td>Provisiones para riesgos y compromisos contingentes</td>
            <td>714</td>
        </tr>
        <tr>
            <td>Otras provisiones</td>
            <td>1.223</td>
        </tr>
        <tr class="b">
            <td>PASIVOS FISCALES </td>
            <td>4.656</td>
        </tr>
        <tr>
            <td>Corrientes</td>
            <td>1.238</td>
        </tr>
        <tr>
            <td>Diferidos</td>
            <td>3.418</td>
        </tr>
        <tr class="b">
            <td>RESTO DE PASIVOS </td>
            <td>4.610</td>
        </tr>
        <tr class="b">
            <td>TOTAL PASIVO</td>
            <td>694.573</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.PASIVO.xls">Descargar Excel</a>


<h4 class="cwt">Formato actual</h4>
<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Patrimonio neto</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>FONDOS PROPIOS</td>
            <td>50.639</td>
        </tr>
        <tr>
            <td>Capital</td>
            <td>3.120</td>
        </tr>
        <tr>
            <td>Capital desembolsado</td>
            <td>3.120</td>
        </tr>
        <tr>
            <td>Capital no desembolsado exigido</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Pro memoria: capital no exigido</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Prima de emisión</td>
            <td>23.992</td>
        </tr>
        <tr>
            <td>Instrumentos de patrimonio emitidos distintos del capital</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Componente de patrimonio neto de los instrumentos financieros compuestos</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Otros instrumentos de patrimonio emitido</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Otros elementos de patrimonio neto</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Ganancias acumuladas</td>
            <td>22.588</td>
        </tr>
        <tr>
            <td>Reservas de revalorización</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Otras reservas</td>
            <td>(98)</td>
        </tr>
        <tr>
            <td>Reservas o pérdidas acumuladas de inversiones en negocios conjuntos y asociadas</td>
            <td>(98)</td>
        </tr>
        <tr>
            <td>Otras </td>
            <td>-</td>
        </tr>
        <tr>
            <td>Menos: acciones propias</td>
            <td>(309)</td>
        </tr>
        <tr>
            <td>Resultado atribuible a los propietarios de la dominante</td>
            <td>2.642</td>
        </tr>
        <tr>
            <td>Menos: Dividendos a cuenta</td>
            <td>(1.352)</td>
        </tr>
        <tr class="b">
            <td>OTRO RESULTADO GLOBAL ACUMULADO (2)</td>
            <td>(3.349)</td>
        </tr>
        <tr>
            <td>Elementos que no se reclasificarán en resultados</td>
            <td>(859)</td>
        </tr>
        <tr>
            <td>Ganancias o (-) pérdidas actuariales en planes de pensiones de prestaciones definidas</td>
            <td>(859)</td>
        </tr>
        <tr>
            <td>Activos no corrientes y grupos enajenables de elementos que se han clasificado como mantenidos para la venta</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Participación en otros ingresos y gastos reconocidos de inversiones en negocios conjuntos y asociadas</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Resto de ajustes de valoración</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Elementos que pueden reclasificarse en resultados</td>
            <td>(2.490)</td>
        </tr>
        <tr>
            <td>Cobertura de inversiones netas en negocios en el extranjero (porción efectiva)</td>
            <td>(274)</td>
        </tr>
        <tr>
            <td>Conversión en divisas</td>
            <td>(3.905)</td>
        </tr>
        <tr>
            <td>Derivados de cobertura. Coberturas de flujos de efectivo (porción efectiva)</td>
            <td>(49)</td>
        </tr>
        <tr>
            <td>Activos financieros disponibles para la venta</td>
            <td>1.674</td>
        </tr>
        <tr>
            <td>Activos no corrientes y grupos enajenables de elementos que se han clasificado como mantenidos para la venta</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Participación en otros ingresos y gastos reconocidos en inversiones en negocios conjuntos y asociadas</td>
            <td>64</td>
        </tr>
        <tr class="b">
            <td>INTERESES MINORITARIOS </td>
            <td>7.992</td>
        </tr>
        <tr>
            <td>Otro resultado global acumulado </td>
            <td>(1.333)</td>
        </tr>
        <tr>
            <td>Otros elementos </td>
            <td>9.325</td>
        </tr>
        <tr class="b">
            <td>TOTAL PATRIMONIO NETO</td>
            <td>55.282</td>
        </tr>
        <tr class="b">
            <td>TOTAL PATRIMONIO NETO Y PASIVO</td>
            <td>749.855</td>
        </tr>
    </tbody>
</table>

<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Pro-Memoria</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Garantías concedidas</td>
            <td>49.876</td>
        </tr>
        <tr>
            <td>Compromisos contingentes concedidos</td>
            <td>135.733</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.PATRIMONIO NETO.xls">Descargar Excel</a>

<ul class="cita"><li>(1) El epígrafe de Reservas se desglosa en tres epígrafes bajo el : Ganancias
acumuladas, Reservas de revalorización y Otras reservas</li>

<li>(2) Otro resultado global acumulado corresponde al epígrafe Ajustes por valoración, con un
mayor desglose y diferente orden de los subepígrafes</li></ul>

<h4 class="cwt">Formato anterior</h4>
<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>PATRIMONIO NETO</th>
            <th>Diciembre 2015</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>FONDOS PROPIOS</td>
            <td>50.639</td>
        </tr>
        <tr>
            <td>Capital</td>
            <td>3.120</td>
        </tr>
        <tr>
            <td>Escriturado</td>
            <td>3.120</td>
        </tr>
        <tr>
            <td>Menos: Capital no exigido</td>
            <td>-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Prima de emisión</td>
            <td>23.992</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Reservas (1)</td>
            <td>22.512</td>
        </tr>
        <tr>
            <td>Reservas (pérdidas) acumuladas</td>
            <td>22.610</td>
        </tr>
        <tr>
            <td>Reservas (pérdidas) de entidades valoradas por el método de la participación</td>
            <td>(98)</td>
        </tr>
        <tr>
            <td>Otros instrumentos de capital</td>
            <td>35</td>
        </tr>
        <tr>
            <td>De instrumentos financieros compuestos</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Resto de instrumentos de capital</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Menos: Valores propios</td>
            <td>(309)</td>
        </tr>
        <tr>
            <td>Resultado del ejercicio atribuido a la entidad dominante</td>
            <td>2.642</td>
        </tr>
        <tr>
            <td>Menos: Dividendos y retribuciones</td>
            <td>(1.352)</td>
        </tr>
        <tr>
            <td>AJUSTES POR VALORACIÓN</td>
            <td>(3.349)</td>
        </tr>
        <tr>
            <td>Activos financieros disponibles para la venta</td>
            <td>1.674</td>
        </tr>
        <tr>
            <td>Coberturas de los flujos de efectivo</td>
            <td>(49)</td>
        </tr>
        <tr>
            <td>Coberturas de inversiones netas en negocios en el extranjero</td>
            <td>(274)</td>
        </tr>
        <tr>
            <td>Diferencias de cambio</td>
            <td>(3.905)</td>
        </tr>
        <tr>
            <td>Activos no corrientes en venta</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Entidades valoradas por el método de la participación</td>
            <td>64</td>
        </tr>
        <tr>
            <td>Resto de ajustes por valoración</td>
            <td>(859)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>INTERESES MINORITARIOS </td>
            <td>7.992</td>
        </tr>
        <tr>
            <td>Ajustes por valoración</td>
            <td>(1.333)</td>
        </tr>
        <tr>
            <td>Resto</td>
            <td>9.325</td>
        </tr>
        <tr>
            <td>TOTAL PATRIMONIO NETO</td>
            <td>55.282</td>
        </tr>
        <tr>
            <td>TOTAL PASIVO Y PATRIMONIO NETO</td>
            <td>749.855</td>
        </tr>
    </tbody>
</table>

<table class="auto">
    <thead>
        <tr class="m">
            <th colspan="2">Formato anterior</th>
        </tr>
        <tr>
            <th>Pro-Memoria</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>RIESGOS CONTINGENTES</td>
            <td>49.876</td>
        </tr>
        <tr>
            <td>COMPROMISOS CONTINGENTES</td>
            <td>135.733</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.PATRIMONIO NETO.xls">Descargar Excel</a>


<h4 class="cwt">Formato actual</h4>

<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Cuentas de pérdidas y ganancias</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>INGRESOS POR INTERESES</td>
            <td>24.783</td>
        </tr>
        <tr>
            <td>GASTOS POR INTERESES</td>
            <td>(8.761)</td>
        </tr>
        <tr class="b">
            <td>MARGEN DE INTERESES</td>
            <td>16.022</td>
        </tr>
        <tr>
            <td>INGRESOS POR DIVIDENDOS</td>
            <td>415</td>
        </tr>
        <tr>
            <td>RESULTADO DE ENTIDADES VALORADAS POR EL MÉTODO DE LA PARTICIPACIÓN </td>
            <td>174</td>
        </tr>
        <tr>
            <td>INGRESOS POR COMISIONES</td>
            <td>6.340</td>
        </tr>
        <tr>
            <td>GASTOS POR COMISIONES</td>
            <td>(1.729)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>865</td>
        </tr>
        <tr>
            <td>GANANCIAS O PÉRDIDAS POR ACTIVOS Y PASIVOS FINANCIEROS DESIGNADOS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS, NETAS</td>
            <td>1.055</td>
        </tr>
        <tr>
            <td>GANANCIAS O PÉRDIDAS POR ACTIVOS Y PASIVOS FINANCIEROS MANTENIDOS PARA NEGOCIAR, NETAS</td>
            <td>(409)</td>
        </tr>
        <tr>
            <td>GANANCIAS O PÉRDIDAS AL DAR DE BAJA EN CUENTAS ACTIVOS Y PASIVOS FINANCIEROS NO VALORADOS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS, NETAS</td>
            <td>126</td>
        </tr>
        <tr>
            <td>GANANCIAS O PÉRDIDAS RESULTANTES DE LA CONTABILIDAD DE COBERTURAS, NETAS</td>
            <td>93</td>
        </tr>
        <tr>
            <td>DIFERENCIAS DE CAMBIO, (GANANCIAS O PERDIDAS), NETAS</td>
            <td>1.165</td>
        </tr>
        <tr>
            <td>OTROS INGRESOS DE EXPLOTACIÓN (2)</td>
            <td>1.315</td>
        </tr>
        <tr>
            <td>OTROS GASTOS DE EXPLOTACIÓN (2)</td>
            <td>(2.285)</td>
        </tr>
        <tr>
            <td>INGRESOS DE ACTIVOS AMPARADOS POR CONTRATOS DE SEGURO O REASEGURO (2)</td>
            <td>3.678</td>
        </tr>
        <tr>
            <td>GASTOS DE PASIVOS AMPARADOS POR CONTRATOS DE SEGURO O REASEGURO (2)</td>
            <td>(2.599)</td>
        </tr>
        <tr class="b">
            <td>MARGEN BRUTO</td>
            <td>23.362</td>
        </tr>
        <tr>
            <td>GASTOS DE ADMINISTRACIÓN </td>
            <td>(10.836)</td>
        </tr>
        <tr>
            <td>Gastos de personal</td>
            <td>(6.273)</td>
        </tr>
        <tr>
            <td>Otros gastos generales de administración</td>
            <td>(4.563)</td>
        </tr>
        <tr>
            <td>AMORTIZACIÓN</td>
            <td>(1.272)</td>
        </tr>
        <tr>
            <td>PROVISIONES O REVERSIÓN DE PROVISIONES</td>
            <td>(731)</td>
        </tr>
        <tr>
            <td>DETERIORO DEL VALOR O REVERSIÓN DEL DETERIORO DEL VALOR DE ACTIVOS FINANCIEROS NO VALORADOS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS</td>
            <td>(4.272)</td>
        </tr>
        <tr>
            <td>Activos financieros valorados al coste</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Activos financieros disponibles para la venta</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Préstamos y partidas a cobrar</td>
            <td>(4.248)</td>
        </tr>
        <tr>
            <td>Inversiones mantenidas hasta el vencimiento</td>
            <td>(23)</td>
        </tr>
        <tr class="b">
            <td>RESULTADO DE LA ACTIVIDAD DE EXPLOTACIÓN</td>
            <td>6.251</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.xlsm">Descargar Excel</a>

<ul class="cita"><li>(1) Se suprime el epígrafe de agrupación Resultados de operaciones financieras (neto), pero su desglose se mantiene</li>

<li>(2) Los epígrafes Otros productos y otras cargas de explotación del formato anterior se desglosa en cuatro epigrafes bajo en formato nuevo, separando los ingresos y gastos amparados por contratos de seguro y reaseguro</li></ul>


<h4 class="cwt">Formato actual</h4>

<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>(Continuación)</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="b">RESULTADO DE LA ACTIVIDAD DE EXPLOTACIÓN</td>
            <td>6.251</td>
        </tr>
        <tr>
            <td>DETERIORO DEL VALOR O REVERSIÓN DEL DETERIORO DEL VALOR DE INVERSIONES EN NEGOCIOS CONJUNTOS O ASOCIADAS</td>
            <td>-</td>
        </tr>
        <tr>
            <td>DETERIORO DEL VALOR O REVERSIÓN DEL DETERIORO DEL VALOR DE ACTIVOS NO FINANCIEROS</td>
            <td>(273)</td>
        </tr>
        <tr>
            <td>Activos tangibles</td>
            <td>(60)</td>
        </tr>
        <tr>
            <td>Activos intangibles</td>
            <td>(4)</td>
        </tr>
        <tr>
            <td>Otros</td>
            <td>(209)</td>
        </tr>
        <tr>
            <td>GANANCIAS O PÉRDIDAS AL DAR DE BAJA EN CUENTAS ACTIVOS NO FINANCIEROS Y PARTICIPACIONES, NETAS</td>
            <td>(2.135)</td>
        </tr>
        <tr>
            <td>FONDO DE COMERCIO NEGATIVO RECONOCIDO EN RESULTADOS</td>
            <td>26</td>
        </tr>
        <tr>
            <td>GANANCIAS O PÉRDIDAS PROCEDENTES DE ACTIVOS NO CORRIENTES Y GRUPOS ENAJENABLES DE ELEMENTOS CLASIFICADOS COMO MANTENIDOS PARA LA VENTA NO ADMISIBLES COMO ACTIVIDADES INTERRUMPIDAS</td>
            <td>734</td>
        </tr>
        <tr class="b">
            <td>GANANCIAS O PÉRDIDAS ANTES DE IMPUESTOS PROCEDENTES DE LAS ACTIVIDADES CONTINUADAS</td>
            <td>4.603</td>
        </tr>
        <tr>
            <td>Gastos o ingresos por impuestos sobre las ganancias de las actividades continuadas</td>
            <td>(1.274)</td>
        </tr>
        <tr class="b">
            <td>GANANCIAS O PÉRDIDAS DESPUES DE IMPUESTOS PROCEDENTES DE LAS ACTIVIDADES CONTINUADAS</td>
            <td>3.328</td>
        </tr>
        <tr>
            <td>Ganancias o pérdidas después de impuestos procedentes de actividades interrumpidas</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>RESULTADO DEL PERIODO</td>
            <td>3.328</td>
        </tr>
        <tr>
            <td>Atribuible a intereses minoritarios (participaciones no dominantes)</td>
            <td>686</td>
        </tr>
        <tr>
            <td>Atribuible a los propietarios de la dominante</td>
            <td>2.642</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.xlsm">Descargar Excel</a>

<h4 class="cwt">Formato actual</h4>

<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Cuentas de pérdidas y ganancias</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>INTERESES Y RENDIMIENTOS ASIMILADOS </td>
            <td>24.783</td>
        </tr>
        <tr>
            <td>INTERESES Y CARGAS ASIMILADAS </td>
            <td>(8.761)</td>
        </tr>
        <tr class="b">
            <td>MARGEN DE INTERESES</td>
            <td>16.022</td>
        </tr>
        <tr>
            <td>RENDIMIENTO DE INSTRUMENTOS DE CAPITAL </td>
            <td>415</td>
        </tr>
        <tr>
            <td>RESULTADO DE ENTIDADES VALORADAS POR EL MÉTODO DE LA PARTICIPACIÓN </td>
            <td>174</td>
        </tr>
        <tr>
            <td>COMISIONES PERCIBIDAS </td>
            <td>6.340</td>
        </tr>
        <tr>
            <td>COMISIONES PAGADAS </td>
            <td>(1.729)</td>
        </tr>
        <tr>
            <td>RESULTADO DE OPERACIONES FINANCIERAS (NETO) (1)</td>
            <td>865</td>
        </tr>
        <tr>
            <td>Cartera de negociación</td>
            <td>(409)</td>
        </tr>
        <tr>
            <td>Otros instrumentos financieros a valor razonable con cambios en pérdidas y ganancias</td>
            <td>117</td>
        </tr>
        <tr>
            <td>Instrumentos financieros no valorados a valor razonable con cambios en pérdidas y ganancias</td>
            <td>1.157</td>
        </tr>
        <tr>
            <td>Otros</td>
            <td>-</td>
        </tr>
        <tr>
            <td>DIFERENCIAS DE CAMBIO (NETO)</td>
            <td>1.165</td>
        </tr>
        <tr>
            <td>OTROS PRODUCTOS DE EXPLOTACIÓN (2)</td>
            <td>4.993</td>
        </tr>
        <tr>
            <td>OTRAS CARGAS DE EXPLOTACIÓN (2)</td>
            <td>(4.883)</td>
        </tr>
        <tr class="b">
            <td>MARGEN BRUTO</td>
            <td>23.362</td>
        </tr>
        <tr>
            <td>GASTOS DE ADMINISTRACIÓN </td>
            <td>(10.836)</td>
        </tr>
        <tr>
            <td>Gastos de personal</td>
            <td>(6.273)</td>
        </tr>
        <tr>
            <td>Otros gastos generales de administración</td>
            <td>(4.563)</td>
        </tr>
        <tr>
            <td>AMORTIZACIÓN</td>
            <td>(1.272)</td>
        </tr>
        <tr>
            <td>DOTACIONES A PROVISIONES (NETO) </td>
            <td>(731)</td>
        </tr>
        <tr>
            <td>PÉRDIDAS POR DETERIORO DE ACTIVOS FINANCIEROS (NETO) </td>
            <td>(4.272)</td>
        </tr>
        <tr>
            <td>Inversiones crediticias</td>
            <td>(4.248)</td>
        </tr>
        <tr>
            <td>Otros instrumentos financieros no valorados a valor razonable con cambios en pérdidas y ganancias</td>
            <td>(23)</td>
        </tr>
        <tr class="b">
            <td>RESULTADO DE LA ACTIVIDAD DE EXPLOTACIÓN</td>
            <td>6.251</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/XIV.xlsm">Descargar Excel</a>

<h4 class="cwt">Formato anterior</h4>

<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th>Millones de euros</th>
        </tr>
        <tr>
            <th>Continuación</th>
            <th>Diciembre 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>RESULTADO DE LA ACTIVIDAD DE EXPLOTACIÓN</td>
            <td>6.251</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>PÉRDIDAS POR DETERIORO DEL RESTO DE ACTIVOS (NETO) </td>
            <td>(273)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Fondo de comercio y otro activo intangible</td>
            <td>(4)</td>
        </tr>
        <tr>
            <td>Otros activos</td>
            <td>(269)</td>
        </tr>
        <tr>
            <td>GANANCIAS (PÉRDIDAS) EN LA BAJA DE ACTIVOS NO CLASIFICADOS COMO NO CORRIENTES EN VENTA </td>
            <td>(2.135)</td>
        </tr>
        <tr>
            <td>DIFERENCIA NEGATIVA EN COMBINACIONES DE NEGOCIO</td>
            <td>26</td>
        </tr>
        <tr>
            <td>GANANCIAS (PÉRDIDAS) DE ACTIVOS NO CORRIENTES EN VENTA NO CLASIFICADOS COMO OPERACIONES INTERRUMPIDAS </td>
            <td>734</td>
        </tr>
        <tr class="b">
            <td>RESULTADO ANTES DE IMPUESTOS</td>
            <td>4.603</td>
        </tr>
        <tr>
            <td>IMPUESTO SOBRE BENEFICIOS </td>
            <td>(1.274)</td>
        </tr>
        <tr class="b">
            <td>RESULTADO DEL EJERCICIO PROCEDENTE DE OPERACIONES CONTINUADAS</td>
            <td>3.328</td>
        </tr>
        <tr>
            <td>RESULTADO DE OPERACIONES INTERRUMPIDAS (NETO)</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>RESULTADO CONSOLIDADO DEL EJERCICIO</td>
            <td>3.328</td>
        </tr>
        <tr>
            <td>Resultado atribuido a la entidad dominante</td>
            <td>2.642</td>
        </tr>
        <tr>
            <td>Resultado atribuido a intereses minoritarios</td>
            <td>686</td>
        </tr>
    </tbody>
</table>

<a href="{{site.baseurl}}/images/XIV.xlsm">Descargar Excel</a>


