<!DOCTYPE HTML>
<html lang="{{ site.active_lang }}">
    {% include head.html %}
  <body>
    {% include menu-mobile.html %}
    <div class="fix-header">
      {% include header.html %}
    </div>
    <div class="container container--fixed">
      <div class="inner content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src="//www.jqueryscript.net/demo/Easy-Table-List-Pagination-Plugin-With-jQuery-Paginathing/paginathing.js"></script>

    <script type="text/javascript">
      var $ = window.jQuery;
      $('table.pagination tbody').paginathing({
        perPage: 5,
        insertAfter: 'table.pagination'
      });
    </script>
</body>
</html>
