## APPENDIX II Additional information on investments in subsidiaries, joint ventures and associates in the BBVA Group 

### Including the most significant entities, jointly representing 99,71% of all investment in this

<table class="l">
    <thead>
         <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="3" rowspan="2">% Legal share of participation</th>
            <th colspan="5">
                Millions of Euros(*) 
			</th>
        </tr>
         <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="5">
                Affiliate Entity Data
			</th>
        </tr>
        <tr>
            <th>Company</th>
            <th>Location</th>
            <th>Activity</th>
            <th>Direct</th>
            <th>Indirect</th>
            <th>Total</th>
            <th>Net Carrying Amount</th>
            <th>Assets 31,12,16</th>
            <th>Liabilities 31,12,16</th>
            <th>Equity 31,12,16</th>
            <th>Profit (Loss) 31,12,16</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ADQUIRA ESPAÑA, S.A.</td>
            <td>SPAIN</td>
            <td>COMMERCIAL</td>

            <td>-</td>
            <td>40.00</td>
            <td>40.00</td>
            <td>3</td>
            <td>19</td>
            <td>11</td>
            <td>7</td>
            <td>1</td>
        </tr>
        <tr>
            <td>ADQUIRA MEXICO, S.A. DE C.V.(*)</td>
            <td>MEXICO </td>
            <td>COMMERCIAL</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>2</td>
            <td>5</td>
            <td>2</td>
            <td>3</td>
            <td>-</td>
        </tr>
        <tr>
            <td>ALTURA MARKETS, SOCIEDAD DE VALORES, S.A.(*)</td>
            <td>SPAIN</td>
            <td>SECURITIES DEALER</td>
            
            <td>50.00</td>
            <td>-</td>
            <td>50.00</td>
            <td>19</td>
            <td>1,738</td>
            <td>1,700</td>
            <td>30</td>
            <td>8</td>
        </tr>
        <tr>
            <td>ATOM BANK PLC</td>
            <td>UNITED KINGDOM</td>
            <td>BANKING</td>
            
            <td>29.46</td>
            <td>-</td>
            <td>29.46</td>
            <td>43</td>
            <td>229</td>
            <td>137</td>
            <td>129</td>
            <td>(36)</td>
        </tr>
        <tr>
            <td>AUREA, S.A. (CUBA)</td>
            <td>CUBA </td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>49.00</td>
            <td>49.00</td>
            <td>5</td>
            <td>10</td>
            <td>-</td>
            <td>9</td>
            <td>-</td>
        </tr>
        <tr>
            <td>AVANTESPACIA INMOBILIARIA, S.L.(*)</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>30.01</td>
            <td>30.01</td>
            <td>18</td>
            <td>73</td>
            <td>12</td>
            <td>60</td>
            <td>-</td>
        </tr>
        <tr>
            <td>BANK OF HANGZHOU CONSUMER FINANCE CO LTD</td>
            <td>CHINA </td>
            <td>BANKING</td>
            
            <td>30.00</td>
            <td>-</td>
            <td>30.00</td>
            <td>20</td>
            <td>71</td>
            <td>5</td>
            <td>68</td>
            <td>(1)</td>
        </tr>
        <tr>
            <td>CANCUN SUN & GOLF COUNTRY CLUB, S.A.P.I. DE C.V.</td>
            <td>MEXICO </td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>33.33</td>
            <td>33.33</td>
            <td>23</td>
            <td>75</td>
            <td>35</td>
            <td>44</td>
            <td>(4)</td>
        </tr>
        <tr>
            <td>COMPAÑIA ESPAÑOLA DE FINANCIACION DEL DESARROLLO S.A.</td>
            <td>SPAIN</td>
            <td>FINANCIAL SERVICES</td>
            
            <td>16.67</td>
            <td>-</td>
            <td>16.67</td>
            <td>19</td>
            <td>122</td>
            <td>5</td>
            <td>109</td>
            <td>8</td>
        </tr>
        <tr>
            <td>COMPAÑIA MEXICANA DE PROCESAMIENTO, S.A. DE C.V.(*)</td>
            <td>MEXICO </td>
            <td>SERVICES</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>6</td>
            <td>12</td>
            <td>-</td>
            <td>11</td>
            <td>1</td>
        </tr>
        <tr>
            <td>CORPORACION IBV PARTICIPACIONES EMPRESARIALES, S.A.(*)</td>
            <td>SPAIN</td>
            <td>INVESTMENT COMPANY</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>29</td>
            <td>126</td>
            <td>25</td>
            <td>101</td>
            <td>-</td>
        </tr>
        <tr>
            <td>DESARROLLOS METROPOLITANOS DEL SUR, S.L.(*)</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>11</td>
            <td>41</td>
            <td>20</td>
            <td>23</td>
            <td>(1)</td>
        </tr>
        <tr>
            <td>FERROMOVIL 3000, S.L.(*)</td>
            <td>SPAIN</td>
            <td>SERVICES</td>
            
            <td>-</td>
            <td>20.00</td>
            <td>20.00</td>
            <td>4</td>
            <td>459</td>
            <td>437</td>
            <td>25</td>
            <td>(4)</td>
        </tr>
        <tr>
            <td>FERROMOVIL 9000, S.L.(*)</td>
            <td>SPAIN</td>
            <td>SERVICES</td>
            
            <td>-</td>
            <td>20.00</td>
            <td>20.00</td>
            <td>3</td>
            <td>298</td>
            <td>282</td>
            <td>19</td>
            <td>(3)</td>
        </tr>
        <tr>
            <td>FIDEICOMISO 1729 INVEX ENAJENACION DE CARTERA (*)</td>
            <td>MEXICO </td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>32.25</td>
            <td>32.25</td>
            <td>57</td>
            <td>177</td>
            <td>-</td>
            <td>177</td>
            <td>-</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F 403853- 5 BBVA BANCOMER SERVICIOS ZIBATA (*)</td>
            <td>MEXICO </td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>30.00</td>
            <td>30.00</td>
            <td>33</td>
            <td>184</td>
            <td>58</td>
            <td>98</td>
            <td>27</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/00185 FIMPE - FIDEICOMISO F/00185 PARA EXTENDER A LA SOCIEDAD LOS BENEFICIOS DEL ACCESO A LA INFRAESTRUCTURA DE LOS MEDIOS DE PAGO ELECTRONICOS</td>
            <td>MEXICO </td>
            <td>FINANCIAL SERVICES</td>
            
            <td>-</td>
            <td>28.50</td>
            <td>28.50</td>
            <td>4</td>
            <td>14</td>
            <td>-</td>
            <td>15</td>
            <td>(1)</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/402770-2 ALAMAR(*)</td>
            <td>MEXICO </td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>42.40</td>
            <td>42.40</td>
            <td>8</td>
            <td>19</td>
            <td>-</td>
            <td>19</td>
            <td>-</td>
        </tr>
        <tr>
            <td>INVERSIONES PLATCO, C.A.(*)</td>
            <td>VENEZUELA </td>
            <td>FINANCIAL SERVICES</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>4</td>
            <td>9</td>
            <td>1</td>
            <td>13</td>
            <td>(5)</td>
        </tr>
        <tr>
            <td>METROVACESA PROMOCION Y ARRENDAMIENTO S.A.</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>15.90</td>
            <td>4.62</td>
            <td>20.52</td>
            <td>67</td>
            <td>326</td>
            <td>-</td>
            <td>326</td>
            <td>-</td>
        </tr>
        <tr>
            <td>METROVACESA SUELO Y PROMOCION, S.A.</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>15.90</td>
            <td>4.62</td>
            <td>20.52</td>
            <td>208</td>
            <td>1,080</td>
            <td>68</td>
            <td>1,013</td>
            <td>-</td>
        </tr>
        <tr>
            <td>PARQUE RIO RESIDENCIAL, S.L.(*)</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>10</td>
            <td>21</td>
            <td>2</td>
            <td>20</td>
            <td>-</td>
        </tr>
        <tr>
            <td>PROMOCIONS TERRES CAVADES, S.A.(*)</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>-</td>
            <td>39.11</td>
            <td>39.11</td>
            <td>4</td>
            <td>15</td>
            <td>-</td>
            <td>15</td>
            <td>-</td>
        </tr>
        <tr>
            <td>PSA FINANCE ARGENTINA COMPAÑIA FINANCIERA, S.A.(*)</td>
            <td>ARGENTINA </td>
            <td>BANKING</td>
            
            <td>-</td>
            <td>50.00</td>
            <td>50.00</td>
            <td>21</td>
            <td>191</td>
            <td>148</td>
            <td>28</td>
            <td>14</td>
        </tr>
        <tr>
            <td>RCI COLOMBIA S.A., COMPAÑIA DE FINANCIAMIENTO (*)</td>
            <td>COLOMBIA </td>
            <td>FINANCIAL SERVICES</td>
            
            <td>-</td>
            <td>49.00</td>
            <td>49.00</td>
            <td>17</td>
            <td>139</td>
            <td>104</td>
            <td>37</td>
            <td>(2)</td>
        </tr>
        <tr>
            <td>REAL ESTATE DEAL II, S.A.(*)</td>
            <td>SPAIN</td>
            <td>IN LIQUIDATION</td>
            
            <td>20.06</td>
            <td>-</td>
            <td>20.06</td>
            <td>4</td>
            <td>23</td>
            <td>5</td>
            <td>23</td>
            <td>(6)</td>
        </tr>
        <tr>
            <td>REDSYS SERVICIOS DE PROCESAMIENTO, S.L.</td>
            <td>SPAIN</td>
            <td>FINANCIAL SERVICES</td>
            
            <td>20.00</td>
            <td>0.00</td>
            <td>20.00</td>
            <td>8</td>
            <td>146</td>
            <td>106</td>
            <td>32</td>
            <td>7</td>
        </tr>
        <tr>
            <td>ROMBO COMPAÑIA FINANCIERA, S.A.</td>
            <td>ARGENTINA </td>
            <td>BANKING</td>
            
            <td>-</td>
            <td>40.00</td>
            <td>40.00</td>
            <td>19</td>
            <td>329</td>
            <td>284</td>
            <td>37</td>
            <td>7</td>
        </tr>
        <tr>
            <td>SERVICIOS ELECTRONICOS GLOBALES, S.A. DE C.V.</td>
            <td>MEXICO </td>
            <td>SERVICES</td>
            
            <td>-</td>
            <td>46.14</td>
            <td>46.14</td>
            <td>6</td>
            <td>12</td>
            <td>-</td>
            <td>10</td>
            <td>2</td>
        </tr>
        <tr>
            <td>SERVIRED SOCIEDAD ESPAÑOLA DE MEDIOS DE PAGO, S.A.</td>
            <td>SPAIN</td>
            <td>FINANCIAL SERVICES</td>
            
            <td>28.72</td>
            <td>0.00</td>
            <td>28.72</td>
            <td>11</td>
            <td>49</td>
            <td>12</td>
            <td>29</td>
            <td>8</td>
        </tr>
        <tr>
            <td>SOCIEDAD ADMINISTRADORA DE FONDOS DE CESANTIA DE CHILE II, S.A.</td>
            <td>CHILE </td>
            <td>PENSION FUNDS MANAGEMENT</td>
            
            <td>-</td>
            <td>48.60</td>
            <td>48.60</td>
            <td>11</td>
            <td>28</td>
            <td>6</td>
            <td>20</td>
            <td>2</td>
        </tr>
        <tr>
            <td>TELEFONICA FACTORING ESPAÑA, S.A.</td>
            <td>SPAIN</td>
            <td>FINANCIAL SERVICES</td>
            
            <td>30.00</td>
            <td>-</td>
            <td>30.00</td>
            <td>4</td>
            <td>77</td>
            <td>62</td>
            <td>7</td>
            <td>8</td>
        </tr>
        <tr>
            <td>TESTA RESIDENCIAL SOCIMI SAU</td>
            <td>SPAIN</td>
            <td>REAL ESTATE</td>
            
            <td>10.46</td>
            <td>3.04</td>
            <td>13.50</td>
            <td>91</td>
            <td>831</td>
            <td>366</td>
            <td>462</td>
            <td>3</td>
        </tr>
        <tr>
            <td>VITAMEDICA ADMINISTRADORA, S.A. DE C.V (*)</td>
            <td>MEXICO </td>
            <td>SERVICES</td>
            
            <td>-</td>
            <td>51.00</td>
            <td>51.00</td>
            <td>2</td>
            <td>12</td>
            <td>8</td>
            <td>3</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->
