## APPENDIX III Changes and notification of investments and divestments in the BBVA Group in the year ended December 31, 2016

### Acquisitions or Increases of Interest Ownership in Consolidated Subsidiarie

<table class="l">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="2">Millions of Euros</th>
            <th colspan="2">% of  Voting Rights</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Company</th>
            <th>Type of Transaction</th>
            <th>Activity</th>
            <th>Price Paid in the Transactions + Expenses directly attributable to the Transactions</th>
            <th>Fair Value of Equity Instruments issued for the Transactions</th>
            <th>% Participation (net) Acquired in the Period</th>
            <th>Total Voting Rights Controlled after the Transactions</th>
            <th>Effective Date for the Transaction (or Notification Date)</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PROPEL VENTURE PARTNERS US FUND I, L.P.</td>
            <td>FOUNDING</td>
            <td>VENTURE CAPITAL</td>
            <td>2</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>14-Jan-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA NOMINEES LIMITED</td>
            <td>ACQUISITION</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>5.00%</td>
            <td>100.00%</td>
            <td>29-Jan-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA COMPASS PAYMENTS, INC</td>
            <td>FOUNDING</td>
            <td>INVESTMENT COMPANY</td>
            <td>43</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>1-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>HOLVI PAYMENT SERVICE OY</td>
            <td>ACQUISITION</td>
            <td>FINANCIAL SERVICES</td>
            <td>9</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>4-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>RENTRUCKS, ALQUILER Y SERVICIOS DE TRANSPORTE, S.A.</td>
            <td>ACQUISITION</td>
            <td>FINANCIAL SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>0.68%</td>
            <td>100.00%</td>
            <td>29-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>ESPAIS CERDANYOLA, S.L.</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>14</td>
            <td>-</td>
            <td>47.51%</td>
            <td>97.51%</td>
            <td>31-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/403112-6 DE ADMINISTRACION DOS LAGOS</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>-</td>
            <td>50.00%</td>
            <td>100.00%</td>
            <td>31-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>FIDEICOMISO SCOTIABANK INVERLAT S A F100322908</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>2</td>
            <td>-</td>
            <td>50.00%</td>
            <td>100.00%</td>
            <td>31-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>OPERADORA DOS LAGOS S.A. DE C.V.</td>
            <td>ACQUISITION</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>50.00%</td>
            <td>100.00%</td>
            <td>31-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA CONSUMER FINANCE ENTIDAD DE DESARROLLO A LA PEQUEÑA Y MICRO EMPRESA, EDPYME, S.A. (BBVA CONSUMER FINANCE - EDPYME)</td>
            <td>ACQUISITION</td>
            <td>FINANCIAL SERVICES</td>
            <td>3</td>
            <td>-</td>
            <td>15.68%</td>
            <td>100.00%</td>
            <td>29-apr-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>FORUM COMERCIALIZADORA DEL PERU, S.A.</td>
            <td>ACQUISITION</td>
            <td>SERVICES</td>
            <td>1</td>
            <td>-</td>
            <td>15.68%</td>
            <td>100.00%</td>
            <td>29-apr-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>FORUM DISTRIBUIDORA DEL PERU, S.A.</td>
            <td>ACQUISITION</td>
            <td>FINANCIAL SERVICES</td>
            <td>1</td>
            <td>-</td>
            <td>15.68%</td>
            <td>100.00%</td>
            <td>29-apr-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA OP3N S.L.</td>
            <td>FOUNDING</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>1-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>HABITATGES FINVER, S.L.</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>-</td>
            <td>50.00%</td>
            <td>100.00%</td>
            <td>14-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>DATA ARCHITECTURE AND TECHNOLOGY S.L</td>
            <td>FOUNDING</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>51.00%</td>
            <td>51.00%</td>
            <td>28-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>NEW CO PERU SAC</td>
            <td>SPLIT</td>
            <td>INVESTMENT COMPANY</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>31-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>VOLJA PLUS SL</td>
            <td>DILUTION EFFECT</td>
            <td>INVESTMENT COMPANY</td>
            <td>-</td>
            <td>-</td>
            <td>0.46%</td>
            <td>75.40%</td>
            <td>31-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>DALLAS CREATION CENTER, INC</td>
            <td>FOUNDING</td>
            <td>SERVICES</td>
            <td>2</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>1-aug-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA OP3N, INC</td>
            <td>FOUNDING</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>5-aug-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>GRUPO FINANCIERO BBVA BANCOMER, S.A. DE C.V.</td>
            <td>ACQUISITION</td>
            <td>FINANCIAL SERVICES</td>
            <td>1</td>
            <td>-</td>
            <td>0.01%</td>
            <td>99.98%</td>
            <td>7-sept-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>VOLKSWAGEN FINANCIAL SERVICES COMPAÑIA FINANCIERA S.A.</td>
            <td>ACQUISITION</td>
            <td>FINANCIAL SERVICES</td>
            <td>17</td>
            <td>-</td>
            <td>51.00%</td>
            <td>51.00%</td>
            <td>26-sept-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>FIDEICOMISO LOTE 6,1 ZARAGOZA</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>1</td>
            <td>-</td>
            <td>59.99%</td>
            <td>59.99%</td>
            <td>27-oct-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA BROKER, S.A.</td>
            <td>FOUNDING</td>
            <td>INSURANCES SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>95.00%</td>
            <td>95.00%</td>
            <td>1-nov-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>CX PROPIETAT, FII</td>
            <td>ACQUISITION</td>
            <td>FONDO INVERSIÓN INMOBILIARIA</td>
            <td>-</td>
            <td>-</td>
            <td>0.19%</td>
            <td>67.93%</td>
            <td>30-nov-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>GARANTI YATIRIM ORTAKLIGI AS</td>
            <td>CONTROL RIGHTS</td>
            <td>INVESTMENT COMPANY</td>
            <td>-</td>
            <td>-</td>
            <td>3.30%</td>
            <td>99.97%</td>
            <td>30-nov-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>NOET, INC.</td>
            <td>FOUNDING</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>1-dec-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>CATALONIA GEBIRA, S.L.</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>-</td>
            <td>18.33%</td>
            <td>100.00%</td>
            <td>15-dec-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>GARRAF MEDITERRANIA, S.A.</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>2</td>
            <td>-</td>
            <td>9.42%</td>
            <td>100.00%</td>
            <td>29-dec-16</td>
            <td>SUBSIDIARY</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->


### Disposals or Reduction of Interest Ownership in Consolidated Subsidiaries 

<table class="l">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="2">Millions of Euros</th>
            <th colspan="2">% of  Voting Rights</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Company</th>
            <th>Type of Transaction</th>
            <th>Activity</th>
            <th>Profit (Loss) in the Transaction (*) Millions of Euros</th>
            <th>Changes in the Equity due to the transaction - Millions of Euros</th>
            <th>% Participation Sold in the Period</th>
            <th>Total Voting Rights Controlled after the Disposal</th>
            <th>Effective Date for the Transaction (or Notification Date)</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ANIDA SERVICIOS INMOBILIARIOS, S.A. DE C.V.</td>
            <td>MERGER</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>31-Jan-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>HIPOTECARIA NACIONAL MEXICANA INCORPORATED</td>
            <td>LIQUIDATION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>31-Jan-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>ARRAHONA GARRAF, S.L.</td>
            <td>LIQUIDATION</td>
            <td>REAL ESTATE</td>
            <td>(1)</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>21-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>ECOARENYS, S.L. </td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>9</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>IMOBILIARIA DUQUE DE AVILA, S.A.</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>(1)</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>22-apr-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>FIDEICOMISO Nº 781, EN BANCO INVEX, S.A.,INSTITUCION DE BANCA MULTIPLE, INVEX GRUPO FINANCIERO, FIDUCIARIO (FIDEIC. INVEX 3ª EMISION)</td>
            <td>MERGER</td>
            <td>FINANCIAL SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>30-may-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA GEST, S.G.DE FUNDOS DE INVESTIMENTO MOBILIARIO, S.A.</td>
            <td>LIQUIDATION</td>
            <td>SOCIEDAD DE VALORES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>9-jun-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>PROXIMA ALFA INVESTMENTS HOLDINGS (USA) INC.</td>
            <td>LIQUIDATION</td>
            <td>INVESTMENT COMPANY</td>
            <td>3</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>30-jun-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>PROXIMA ALFA INVESTMENTS HOLDINGS (USA) II INC.</td>
            <td>LIQUIDATION</td>
            <td>INVESTMENT COMPANY</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>30-jun-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>PROXIMA ALFA INVESTMENTS (USA) LLC</td>
            <td>LIQUIDATION</td>
            <td>FINANCIAL SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>30-jun-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>UNIDAD DE AVALUOS MEXICO, S.A. DE CV</td>
            <td>DISPOSAL</td>
            <td>FINANCIAL SERVICES</td>
            <td>18</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>29-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>HOLDING CONTINENTAL, S.A.</td>
            <td>SPLIT</td>
            <td>INVESTMENT COMPANY</td>
            <td>-</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>31-jul-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>EUROPEA DE TITULIZACION, S.A., S.G.F.T.</td>
            <td>DILUTION EFFECT</td>
            <td>FINANCIAL SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>1.14%</td>
            <td>87.86%</td>
            <td>31-aug-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>CATALUNYA BANC, S.A.</td>
            <td>MERGER</td>
            <td>BANKING</td>
            <td>-</td>
            <td>-</td>
            <td>99.10%</td>
            <td>-</td>
            <td>9-sept-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>CATALUNYACAIXA INVERSIO, SGIIC, S.A.</td>
            <td>MERGER</td>
            <td>OTHER INVESTMENT COMPANIES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>13-sept-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>CATALUNYACAIXA MEDIACIO , S.L.</td>
            <td>MERGER</td>
            <td>FINANCIAL SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>6-oct-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA ELCANO EMPRESARIAL, S.A. EN LIQUIDACION</td>
            <td>LIQUIDATION</td>
            <td>IN LIQUIDATION</td>
            <td>-</td>
            <td>-</td>
            <td>45.00%</td>
            <td>-</td>
            <td>25-oct-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BBVA ELCANO EMPRESARIAL II, S.A. EN LIQUIDACION</td>
            <td>LIQUIDATION</td>
            <td>IN LIQUIDATION</td>
            <td>-</td>
            <td>-</td>
            <td>45.00%</td>
            <td>-</td>
            <td>26-oct-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>BANCO DEPOSITARIO BBVA, S.A.</td>
            <td>MERGER</td>
            <td>BANKING</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>11-nov-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>GARANTI BANK MOSCOW</td>
            <td>DISPOSAL</td>
            <td>BANKING</td>
            <td>8</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>5-dec-16</td>
            <td>SUBSIDIARY</td>
        </tr>
        <tr>
            <td>UNO-E BANK, S.A.</td>
            <td>MERGER</td>
            <td>BANKING</td>
            <td>-</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>9-dec-16</td>
            <td>SUBSIDIARY</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->

### Business Combinations and Other Acquisitions or Increases of Interest Ownership in Associates and Joint-Ventures Accounted for Under the Equity Method

<table class="l">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="2">Millions of Euros</th>
            <th colspan="2">% of  Voting Rights</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Company</th>
            <th>Type of Transaction</th>
            <th>Activity</th>
            <th>Price Paid in the Transactions + Expenses Directly Attributable to the Transactions - Millions of Euros</th>
            <th>Fair Value of Equity Instruments Issued for the Transactions - Millions of Euros</th>
            <th>% Participation (Net) Acquired in the Period</th>
            <th>Total Voting Rights Controlled after the Disposal</th>
            <th>Effective Date for the Transaction (or Notification Date)</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>AUMENTO DE CAPITAL (**)</td>
            <td>REAL ESTATE</td>
            <td>344</td>
            <td>-</td>
            <td>1.10%</td>
            <td>20.52%</td>
            <td>17-feb-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>ESCISIÓN PARCIAL</td>
            <td>REAL ESTATE</td>
            <td>(208)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1-mar-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>ESCISIÓN TOTAL</td>
            <td>REAL ESTATE</td>
            <td>(502)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>26-oct-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>METROVACESA SUELO Y PROMOCION, S.A.</td>
            <td>SPLIT</td>
            <td>REAL ESTATE</td>
            <td>208</td>
            <td>-</td>
            <td>20.52%</td>
            <td>20.52%</td>
            <td>1-mar-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>ATOM BANK PLC</td>
            <td>ACQUISITION</td>
            <td>BANKING</td>
            <td>56</td>
            <td>-</td>
            <td>29.46%</td>
            <td>29.46%</td>
            <td>29-apr-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>RCI COLOMBIA S.A., COMPAÑIA DE FINANCIAMIENTO</td>
            <td>FOUNDING</td>
            <td>FINANCIAL SERVICES</td>
            <td>9</td>
            <td>-</td>
            <td>49.00%</td>
            <td>49.00%</td>
            <td>1-jun-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>PARQUE RIO RESIDENCIAL, S.L.</td>
            <td>FOUNDING</td>
            <td>REAL ESTATE</td>
            <td>10</td>
            <td>-</td>
            <td>50.00%</td>
            <td>50.00%</td>
            <td>14-jun-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>CAPIPOTA PRODUCTIONS S.L.</td>
            <td>ACQUISITION</td>
            <td>COMMERCIAL</td>
            <td>-</td>
            <td>-</td>
            <td>25.00%</td>
            <td>25.00%</td>
            <td>30-jun-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>FIDEICOMISO DE ADMINISTRACION REDETRANS</td>
            <td>ACQUISITION</td>
            <td>SERVICES</td>
            <td>1</td>
            <td>-</td>
            <td>25.07%</td>
            <td>25.07%</td>
            <td>30-jun-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>IBV SOURCE - PRESTAÇAO DE SERVIÇOS INFORMATICOS, ACE</td>
            <td>FOUNDING</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>-</td>
            <td>49.00%</td>
            <td>49.00%</td>
            <td>31-jul-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>LA ESMERALDA DESARROLLOS, S.L.</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>-</td>
            <td>25.00%</td>
            <td>50.00%</td>
            <td>21-sept-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>AVANTESPACIA INMOBILIARIA, S.L.</td>
            <td>FOUNDING</td>
            <td>REAL ESTATE</td>
            <td>12</td>
            <td>-</td>
            <td>30.01%</td>
            <td>30.01%</td>
            <td>20-oct-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>METROVACESA PROMOCION Y ARRENDAMIENTO S.A (*)</td>
            <td>SPLIT</td>
            <td>REAL ESTATE</td>
            <td>67</td>
            <td>-</td>
            <td>20.52%</td>
            <td>20.52%</td>
            <td>26-oct-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>TESTA RESIDENCIAL SOCIMI SAU (*)</td>
            <td>SPLIT</td>
            <td>REAL ESTATE</td>
            <td>91</td>
            <td>-</td>
            <td>13.49%</td>
            <td>13.49%</td>
            <td>26-oct-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/404180-2 BBVA BANCOMER SERVICIOS GOLF ZIBATA</td>
            <td>ACQUISITION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>-</td>
            <td>30.00%</td>
            <td>30.00%</td>
            <td>1-dec-16</td>
            <td>JOINT VENTURE</td>
        </tr>
    </tbody>
</table>

<ul class="cita"><li>(*) First there was partial split of the of soil activity and promotion in favor of the society of new constitution Metrovacesa Suelo y Promoción, S.A. and in October was the total split of the society in favor of Testa Residencial SOCIMI SAU, Merlin Properties, SOCIMI, S.A. and the new constitution company Metrovacesa Promotion and Leasing S.A</li>

<li>(**) Non-monetary contribution.</li></ul>


### Disposal or Reduction of Interest Ownership in Associates and Joint-Ventures Companies Accounted for Under the Equity Method

<table class="l">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Millions of Euros</th>
            <th colspan="2">% of  Voting Rights</th>
            <th rowspan="2">Effective Date for the Transaction (or Notification Date)</th>
            <th rowspan="2">Category</th>
        </tr>
        <tr>
            <th>Company</th>
            <th>Type of Transaction</th>
            <th>Activity</th>
            <th>Profit (Loss) in the Transaction (*) Millions of Euros</th>
            <th>% Participation Sold in the Period</th>
            <th>Total Voting Rights Controlled after the Disposal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BALMA HABITAT, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>ECUALITY E-COMMERCE QUALITY, S.A.S.P.</td>
            <td>NON CONTROL</td>
            <td>COMMERCIAL</td>
            <td>-</td>
            <td>28.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>FIDEICOMISO SCOTIABANK INVERLAT SA F100322742</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>5</td>
            <td>33.78%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>I+D MEXICO, S.A. DE C.V.</td>
            <td>DISPOSAL</td>
            <td>SERVICES</td>
            <td>16</td>
            <td>50.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>OPERADORA HITO URBANO, S.A.DE C.V</td>
            <td>DISPOSAL</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>35.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>OPERADORA MIRASIERRA, S.A. DE C.V.</td>
            <td>DISPOSAL</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>35.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>PROBIS AIGUAVIVA, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>(1)</td>
            <td>50.00%</td>
            <td>-</td>
            <td>31-mar-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>AMBIT D'EQUIPAMENTS, S.A.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>35.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>CAPASATUS, S.L</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>CRUILLA CENTRE, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>49.04%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>EUGESA PROCAM, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>55.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>HARMONIA BADALONA, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>45.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>HARMONIA PLA DE PONENT, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>22.33%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>IMMOCENTRE 3000, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>40.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>LANDOMUS, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>L'ERA DE VIC, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>40.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>NOU MAPRO, S.A.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>SARDENYA CENTRE, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>TAGE CENTRE PROMOCIONS IMMOBILIARIES, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>VERTIX PROCAM PATRIMONIAL, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>100.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>VISOREN CENTRE, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>40.00%</td>
            <td>-</td>
            <td>30-apr-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>INMOBILIARIA MONTE BOADILLA, S.L.</td>
            <td>NON CONTROL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>51.00%</td>
            <td>-</td>
            <td>1-jul-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>SANYRES SUR, S.L.</td>
            <td>DISPOSAL</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>33.05%</td>
            <td>-</td>
            <td>1-jul-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>UNION SANYRES, S.L.</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>2</td>
            <td>33.36%</td>
            <td>-</td>
            <td>1-jul-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>VIC CONVENT, S.L.</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>25.00%</td>
            <td>-</td>
            <td>14-jul-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>KUARS CENTRE, S.L.</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>9</td>
            <td>40.00%</td>
            <td>-</td>
            <td>8-sept-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>P.R.ALBIRSA, S.L.</td>
            <td>LIQUIDACION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>50.00%</td>
            <td>-</td>
            <td>14-sept-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>S.C.I. MAGNAN SAINT PHILIPPE</td>
            <td>LIQUIDATION</td>
            <td>REAL ESTATE</td>
            <td>-</td>
            <td>25.00%</td>
            <td>-</td>
            <td>30-sept-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>METROVACESA, S.A. (*)</td>
            <td>ESCISION TOTAL</td>
            <td>REAL ESTATE</td>
            <td>(2)</td>
            <td>20.52%</td>
            <td>-</td>
            <td>26-oct-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F 404015-0 BBVA BANCOMER LOMAS III</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>7</td>
            <td>25.00%</td>
            <td>-</td>
            <td>29-nov-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>FIDEICOMISO F/70191-2 LOMAS DE ANGELOPOLIS II</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>4</td>
            <td>25.00%</td>
            <td>-</td>
            <td>30-nov-16</td>
            <td>JOINT VENTURE</td>
        </tr>
        <tr>
            <td>PARQUE REFORMA SANTA FE, S.A. de C.V.</td>
            <td>DISPOSAL</td>
            <td>REAL ESTATE</td>
            <td>2</td>
            <td>30.00%</td>
            <td>-</td>
            <td>20-dec-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>TENEDORA DE VEHICULOS, S.A.</td>
            <td>LIQUIDACION</td>
            <td>SERVICES</td>
            <td>-</td>
            <td>35.00%</td>
            <td>-</td>
            <td>22-dec-16</td>
            <td>ASSOCIATED</td>
        </tr>
        <tr>
            <td>BRUNARA, SICAV, S.A.</td>
            <td>DISPOSAL</td>
            <td>SOCIEDADES DE CAPITAL VARIABLE</td>
            <td>-</td>
            <td>30.36%</td>
            <td>3.71%</td>
            <td>31-dec-16</td>
            <td>ASSOCIATED</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->

<ul class="cita"><li>(*) First there was partial split of the of soil activity and promotion in favor of the society of new constitution Metrovacesa Suelo y Promoción, S.A. and in October was the total split of the society in favor of Testa Residencial SOCIMI SAU, Merlin Properties, SOCIMI, S.A. and the new constitution company Metrovacesa Promotion and Leasing S.</li></ul>



### Changes in other Companies quoted recognize as Available-For-Sale

<table class="l">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="2">% of  Voting Rights</th>
            <th rowspan="2">Effective Date for the Transaction (or Notification Date)</th>
        </tr>
        <tr>
            <th>Company</th>
            <th>Type of Transaction</th>
            <th>Activity</th>
            <th>% Participation Acquired (Sold) in the Period</th>
            <th>Totally Controlled after Transaction</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>MERLIN PROPERTIES SOCIMI, S.A</td>
            <td>SPLIT METROVACESA</td>
            <td>REAL ESTATE</td>
            <td>6.44%</td>
            <td>6.44%</td>
            <td>2-nov-16</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->