## APPENDIX IX Financial Statements of Banco Bilbao Vizcaya Argentaria, S.A. 

### Balance sheets as of December 31, 2016 and 2015 of BBVA, S.A.

<table class="auto">
    <thead>
        <tr>
            <th>ASSETS</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CASH, CASH BALANCES AT CENTRAL BANKS AND OTHER DEMAND DEPOSITS</td>
            <td>15,855</td>
            <td>11,191</td>
        </tr>
        <tr class="b">
            <td>FINANCIAL ASSETS HELD FOR TRADING</td>
            <td>57,440</td>
            <td>58,606</td>
        </tr>
        <tr class="s">
            <td>Derivatives</td>
            <td>42,023</td>
            <td>40,499</td>
        </tr>
        <tr class="s">
            <td>Equity instruments</td>
            <td>3,873</td>
            <td>3,974</td>
        </tr>
        <tr class="s">
            <td>Debt securities</td>
            <td>11,544</td>
            <td>14,133</td>
        </tr>
        <tr class="s">
            <td>Loans and advances to central banks</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Loans and advances to credit institutions</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Loans and advances to customers</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>OTHER FINANCIAL ASSETS DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>AVAILABLE-FOR-SALE FINANCIAL ASSETS</td>
            <td>29,004</td>
            <td>50,601</td>
        </tr>
        <tr class="s">
            <td>Equity instruments</td>
            <td>3,506</td>
            <td>4,018</td>
        </tr>
        <tr class="s">
            <td>Debt securities</td>
            <td>25,498</td>
            <td>46,583</td>
        </tr>
        <tr class="b">
            <td>LOANS AND RECEIVABLES</td>
            <td>251,487</td>
            <td>226,781</td>
        </tr>
        <tr class="s">
            <td>Debt securities</td>
            <td>11,001</td>
            <td>4,213</td>
        </tr>
        <tr class="s">
            <td>Loans and advances to central banks</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Loans and advances to credit institutions</td>
            <td>26,596</td>
            <td>25,146</td>
        </tr>
        <tr class="s">
            <td>Loans and advances to customers</td>
            <td>213,890</td>
            <td>197,422</td>
        </tr>
        <tr class="b">
            <td>HELD-TO-MATURITY INVESTMENTS</td>
            <td>11,424</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>HEDGING DERIVATIVES</td>
            <td>1,586</td>
            <td>1,714</td>
        </tr>
        <tr class="b">
            <td>FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK</td>
            <td>17</td>
            <td>54</td>
        </tr>
        <tr class="b">
            <td>INVESTMENTS IN SUBSIDARIES, JOINT VENTURES AND ASSOCIATES</td>
            <td>30,218</td>
            <td>31,599</td>
        </tr>
        <tr class="s">
            <td>Group entities</td>
            <td>29,823</td>
            <td>31,185</td>
        </tr>
        <tr class="s">
            <td>Joint ventures</td>
            <td>18</td>
            <td>18</td>
        </tr>
        <tr class="s">
            <td>Associates</td>
            <td>377</td>
            <td>396</td>
        </tr>
        <tr class="b">
            <td>TANGIBLE ASSETS</td>
            <td>1,856</td>
            <td>1,521</td>
        </tr>
        <tr class="s">
            <td>Property, plants and equipment</td>
            <td>1,845</td>
            <td>1,516</td>
        </tr>
        <tr class="s2">
            <td>For own use</td>
            <td>1,845</td>
            <td>1,516</td>
        </tr>
        <tr class="s2">
            <td>Other assets leased out under an operating lease </td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Investment properties</td>
            <td>11</td>
            <td>5</td>
        </tr>
        <tr class="b">
            <td>INTANGIBLE ASSETS</td>
            <td>942</td>
            <td>853</td>
        </tr>
        <tr class="s">
            <td>Goodwill</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other intangible assets</td>
            <td>942</td>
            <td>853</td>
        </tr>
        <tr class="b">
            <td>TAX ASSETS</td>
            <td>12,394</td>
            <td>8,194</td>
        </tr>
        <tr class="s">
            <td>Current</td>
            <td>756</td>
            <td>652</td>
        </tr>
        <tr class="s">
            <td>Deferred</td>
            <td>11,638</td>
            <td>7,541</td>
        </tr>
        <tr class="b">
            <td>OTHER ASSETS</td>
            <td>3,709</td>
            <td>3,850</td>
        </tr>
        <tr class="s">
            <td>Insurance contracts linked to pensions</td>
            <td>2,426</td>
            <td>2,151</td>
        </tr>
        <tr class="s">
            <td>Inventories</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Rest</td>
            <td>1,283</td>
            <td>1,699</td>
        </tr>
        <tr class="b">
            <td>NON-CURRENT ASSETS AND DISPOSAL GROUPS HELD FOR SALE</td>
            <td>2,515</td>
            <td>2,340</td>
        </tr>
        <tr class="b2">
            <td>TOTAL ASSETS</td>
            <td>418,447</td>
            <td>397,303</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.1.xls">Download Excel</a>

### Balance sheets as of December 31, 2016 and 2015 of BBVA, S.A.

<table class="auto">
    <thead>
        <tr>
            <th>LIABILITIES AND EQUITY</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>FINANCIAL LIABILITIES HELD FOR TRADING</td>
            <td>48,265</td>
            <td>46,973</td>
        </tr>
        <tr class="s">
            <td>Trading Derivatives</td>
            <td>40,951</td>
            <td>39,720</td>
        </tr>
        <tr class="s">
            <td>Short positions</td>
            <td>7,314</td>
            <td>7,253</td>
        </tr>
        <tr class="s">
            <td>Deposits from central banks</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Deposits from credit institutions</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Customer deposits</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Debt certificates</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other financial liabilities</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>OTHER FINANCIAL LIABILITIES DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>FINANCIAL LIABILITIES AT AMORTIZED COST</td>
            <td>319,884</td>
            <td>303,095</td>
        </tr>
        <tr class="s">
            <td>Deposits from central banks</td>
            <td>26,629</td>
            <td>19,642</td>
        </tr>
        <tr class="s">
            <td>Deposits from credit institutions</td>
            <td>44,977</td>
            <td>55,462</td>
        </tr>
        <tr class="s">
            <td>Customer deposits</td>
            <td>207,946</td>
            <td>190,222</td>
        </tr>
        <tr class="s">
            <td>Debt certificates</td>
            <td>33,174</td>
            <td>30,966</td>
        </tr>
        <tr class="s">
            <td>Other financial liabilities</td>
            <td>7,158</td>
            <td>6,803</td>
        </tr>
        <tr class="s">
            <td>Subordinated liabilities</td>
            <td>9,209</td>
            <td>8,295</td>
        </tr>
        <tr class="b">
            <td>HEDGING DERIVATIVES</td>
            <td>1,488</td>
            <td>1,542</td>
        </tr>
        <tr class="b">
            <td>FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PROVISIONS</td>
            <td>8,917</td>
            <td>6,209</td>
        </tr>
        <tr class="s">
            <td>Provisions for pensions and similar obligations</td>
            <td>5,271</td>
            <td>5,177</td>
        </tr>
        <tr class="s">
            <td>Other long term employee benefits</td>
            <td>32</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Provisions for taxes and other legal contingencies</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Provisions for contingent risks and commitments</td>
            <td>658</td>
            <td>263</td>
        </tr>
        <tr class="s">
            <td>Other provisions</td>
            <td>2,956</td>
            <td>769</td>
        </tr>
        <tr class="b">
            <td>TAX LIABILITIES</td>
            <td>1,415</td>
            <td>1,225</td>
        </tr>
        <tr class="s">
            <td>Current</td>
            <td>127</td>
            <td>24</td>
        </tr>
        <tr class="s">
            <td>Deferred</td>
            <td>1,288</td>
            <td>1,200</td>
        </tr>
        <tr class="b">
            <td>OTHER LIABILITIES</td>
            <td>2,092</td>
            <td>1,439</td>
        </tr>
        <tr class="b">
            <td>LIABILITIES INCLUDED IN DISPOSAL GROUPS CLASSIFIED AS HELD FOR SALE</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b2">
            <td>TOTAL LIABILITIES</td>
            <td>382,061</td>
            <td>360,483</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.2.xls">Download Excel</a>


<table class="auto">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="2">Millions of Euros</th>
        </tr>
        <tr>
            <th>LIABILITIES AND EQUITY (Continued)</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>SHAREHOLDERS’ FUNDS</td>
            <td>36,748</td>
            <td>36,438</td>
        </tr>
        <tr class="s b">
            <td>Capital</td>
            <td>3,218</td>
            <td>3,120</td>
        </tr>
        <tr class="s2">
            <td>Paid up capital</td>
            <td>3,218</td>
            <td>3,120</td>
        </tr>
        <tr class="s2">
            <td>Unpaid capital which has been called up</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s b">
            <td>Share premium</td>
            <td>23,992</td>
            <td>23,992</td>
        </tr>
        <tr class="s b">
            <td>Equity instruments issued other than capital</td>
            <td>46</td>
            <td>28</td>
        </tr>
        <tr class="s2">
            <td>Equity component of compound financial instruments</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s2">
            <td>Other equity instruments issued</td>
            <td>46</td>
            <td>28</td>
        </tr>
        <tr class="s b">
            <td>Other equity</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s b">
            <td>Retained earnings</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s b">
            <td>Revaluation reserves</td>
            <td>20</td>
            <td>22</td>
        </tr>
        <tr class="s b">
            <td>Other reserves</td>
            <td>9,346</td>
            <td>7,788</td>
        </tr>
        <tr class="s2">
            <td>Reserves or accumulated losses of investments in subsidaries, joint ventures and associates</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s2">
            <td>Other</td>
            <td>9,346</td>
            <td>7,788</td>
        </tr>
        <tr class="s b">
            <td>Less: Treasury shares</td>
            <td>(23)</td>
            <td>(19)</td>
        </tr>
        <tr class="b">
            <td>ACCUMULATED OTHER COMPREHENSIVE INCOME</td>
            <td>(362)</td>
            <td>381</td>
        </tr>
        <tr class="s b">
            <td>Items that will not be reclassified to profit or loss</td>
            <td>(43)</td>
            <td>(23)</td>
        </tr>
        <tr class="s2">
            <td>Actuarial gains or (-) losses on defined benefit pension plans</td>
            <td>(43)</td>
            <td>(23)</td>
        </tr>
        <tr class="s2">
            <td>Non-current assets and disposal groups classified as held for sale</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s2">
            <td>Other adjustments</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s b">
            <td>Items that may be reclassified to profit or loss</td>
            <td>(319)</td>
            <td>404</td>
        </tr>
        <tr class="s2">
            <td>Hedge of net investments in foreign operations (effective portion)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s2">
            <td>Foreign currency translation</td>
            <td>13</td>
            <td>21</td>
        </tr>
        <tr class="s2">
            <td>Hedging derivatives. Cash flow hedges (effective portion)</td>
            <td>(127)</td>
            <td>(75)</td>
        </tr>
        <tr class="s2">
            <td>Available-for-sale financial assets</td>
            <td>(205)</td>
            <td>459</td>
        </tr>
        <tr class="s2">
            <td>Non-current assets and disposal groups classified as held for sale</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b2">
            <td>TOTAL EQUITY</td>
            <td>36,386</td>
            <td>36,820</td>
        </tr>
        <tr class="b2">
            <td>TOTAL EQUITY AND TOTAL LIABILITIES</td>
            <td>418,447</td>
            <td>397,303</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->

<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="2">Millions of Euros</th>
        </tr>
        <tr>
            <th>MEMORANDUM ITEM</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Financial guarantees given</td>
            <td>39,704</td>
            <td>39,850</td>
        </tr>
        <tr>
            <td>Contingent commitments</td>
            <td>71,162</td>
            <td>58,255</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.3.xls">Download Excel</a>


<table class="l">
    <thead>
        <tr class="m">
            <th></th>
            <th colspan="2">Millions of Euros</th>
        </tr>
        <tr>
            <th>Income Statements for the year ended December 31, 2016 and 2015 of BBVA, S.A</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>INTEREST AND SIMILAR INCOME</td>
            <td>6,236</td>
            <td>6,506</td>
        </tr>
        <tr>
            <td>INTEREST AND SIMILAR EXPENSES</td>
            <td>(2,713)</td>
            <td>(3,167)</td>
        </tr>
        <tr class="b">
            <td>NET INTEREST INCOME</td>
            <td>3,523</td>
            <td>3,339</td>
        </tr>
        <tr>
            <td>DIVIDEND INCOME</td>
            <td>2,854</td>
            <td>2,117</td>
        </tr>
        <tr>
            <td>SHARE OF PROFIT OR LOSS OF ENTITIES ACCOUNTED FOR USING THE EQUITY METHOD</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>FEE AND COMMISSION INCOME</td>
            <td>1,886</td>
            <td>1,751</td>
        </tr>
        <tr>
            <td>FEE AND COMMISSION EXPENSES</td>
            <td>(353)</td>
            <td>(289)</td>
        </tr>
        <tr>
            <td>NET GAINS (LOSSES) ON FINANCIAL ASSETS AND LIABILITIES</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>NET GAINS (LOSSES) ON FINANCIAL ASSETS AND LIABILITIES</td>
            <td>(70)</td>
            <td>151</td>
        </tr>
        <tr>
            <td>GAINS OR (-) LOSSES ON DERECOGNITION OF FINANCIAL ASSETS AND LIABILITIES NOT MEASURED AT FAIR VALUE THROUGH PROFIT OR LOSS, NET</td>
            <td>955</td>
            <td>775</td>
        </tr>
        <tr>
            <td>GAINS OR (-) LOSSES FROM HEDGE ACCOUNTING, NET</td>
            <td>(62)</td>
            <td>(16)</td>
        </tr>
        <tr>
            <td>EXCHANGE DIFFERENCES (NET)</td>
            <td>305</td>
            <td>224</td>
        </tr>
        <tr>
            <td>OTHER OPERATING INCOME</td>
            <td>140</td>
            <td>114</td>
        </tr>
        <tr>
            <td>OTHER OPERATING EXPENSES</td>
            <td>(504)</td>
            <td>(465)</td>
        </tr>
        <tr class="b">
            <td>GROSS INCOME</td>
            <td>8,674</td>
            <td>7,701</td>
        </tr>
        <tr>
            <td>ADMINISTRATION COSTS</td>
            <td>(4,247)</td>
            <td>(3,756)</td>
        </tr>
        <tr class="s">
            <td>Personnel expenses</td>
            <td>(2,502)</td>
            <td>(2,198)</td>
        </tr>
        <tr class="s">
            <td>General and administrative expenses</td>
            <td>(1,745)</td>
            <td>(1,558)</td>
        </tr>
        <tr>
            <td>DEPRECIATION</td>
            <td>(575)</td>
            <td>(519)</td>
        </tr>
        <tr>
            <td>PROVISIONS OR (-) REVERSAL OF PROVISIONS</td>
            <td>(1,187)</td>
            <td>(651)</td>
        </tr>
        <tr>
            <td>IMPAIRMENT OR (-) REVERSAL OF IMPAIRMENT ON FINANCIAL ASSETS NOT MEASURED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>(949)</td>
            <td>(1,304)</td>
        </tr>
        <tr class="s">
            <td>Financial assets measured at cost</td>
            <td>(12)</td>
            <td>(13)</td>
        </tr>
        <tr class="s">
            <td>Available-for-sale financial assets</td>
            <td>(180)</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Loans and receivables</td>
            <td>(757)</td>
            <td>(1,291)</td>
        </tr>
        <tr class="s">
            <td>Held to maturity investments</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>NET OPERATING INCOME</td>
            <td>1,716</td>
            <td>1,471</td>
        </tr>
        <tr>
            <td>IMPAIRMENT OR (-) REVERSAL OF IMPAIRMENT OF INVESTMENTS IN SUBSIDARIES, JOINT VENTURES AND ASSOCIATES</td>
            <td>(147)</td>
            <td>835</td>
        </tr>
        <tr>
            <td>IMPAIRMENT OR (-) REVERSAL OF IMPAIRMENT ON NON-FINANCIAL ASSETS</td>
            <td>(16)</td>
            <td>(22)</td>
        </tr>
        <tr class="s">
            <td>Tangible assets</td>
            <td>(16)</td>
            <td>(22)</td>
        </tr>
        <tr class="s">
            <td>Intangible assets</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other assets</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>GAINS (LOSSES) ON DERECOGNIZED ASSETS NOT CLASSIFIED AS NON-CURRENT ASSETS HELD FOR SALE</td>
            <td>12</td>
            <td>8</td>
        </tr>
        <tr>
            <td>NEGATIVE GOODWILL RECOGNISED IN PROFIT OR LOSS</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>PROFIT OR (-) LOSS FROM NON-CURRENT ASSETS AND DISPOSAL GROUPS CLASSIFIED AS HELD FOR SALE NOT QUALIFYING AS DISCONTINUED OPERATIONS </td>
            <td>(73)</td>
            <td>760</td>
        </tr>
        <tr class="b">
            <td>OPERATING PROFIT BEFORE TAX</td>
            <td>1,492</td>
            <td>3,052</td>
        </tr>
        <tr>
            <td>TAX EXPENSE OR (-) INCOME RELATED TO PROFIT OR LOSS FROM CONTINUING OPERATION</td>
            <td>170</td>
            <td>(188)</td>
        </tr>
        <tr class="b">
            <td>PROFIT FROM CONTINUING OPERATIONS</td>
            <td>1,662</td>
            <td>2,864</td>
        </tr>
        <tr>
            <td>PROFIT FROM DISCONTINUED OPERATIONS (NET)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PROFIT</td>
            <td>1,662</td>
            <td>2,864</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.4.xls">Download Excel</a>

### Statements of Recognized Income and Expenses for the year ended December 31, 2016 and 2015 of BBVA, S.A

<table class="l">
    <thead>
        <tr>
            <th>Statements of Recognized Income and Expenses for the year ended December 31, 2016 and 2015 of BBVA, S.A</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>PROFIT RECOGNIZED IN INCOME STATEMENT</td>
            <td>1,662</td>
            <td>2,864</td>
        </tr>
        <tr class="b">
            <td>OTHER RECOGNIZED INCOME (EXPENSES)</td>
            <td>(744)</td>
            <td>(1,309)</td>
        </tr>
        <tr class="b">
            <td>ITEMS NOT SUBJECT TO RECLASSIFICATION TO INCOME STATEMENT</td>
            <td>(21)</td>
            <td>(2)</td>
        </tr>
        <tr class="b">
            <td>ITEMS SUBJECT TO RECLASSIFICATION TO INCOME STATEMENT</td>
            <td>(723)</td>
            <td>(1,307)</td>
        </tr>
        <tr class="b">
            <td>Hedge of net investments in foreign operations (effective portion)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Foreign currency translation</td>
            <td>(11)</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Translation gains or (-) losses taken to equity</td>
            <td>18</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Transferred to profit or loss</td>
            <td>(29)</td>
            <td>(17)</td>
        </tr>
        <tr>
            <td>Other reclassifications</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Cash flow hedges (effective portion)</td>
            <td>(74)</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Valuation gains or (-) losses taken to equity</td>
            <td>(69)</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Transferred to profit or loss</td>
            <td>(5)</td>
            <td>(9)</td>
        </tr>
        <tr>
            <td>Transferred to initial carrying amount of hedged items
</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other reclassifications</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Available-for-sale financial assets</td>
            <td>(583)</td>
            <td>(1,890)</td>
        </tr>
        <tr>
            <td>Valuation gains/(losses)</td>
            <td>217</td>
            <td>(723)</td>
        </tr>
        <tr>
            <td>Amounts reclassified to income statement</td>
            <td>(800)</td>
            <td>(1,167)</td>
        </tr>
        <tr>
            <td>Other reclassifications</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Non-current assets held for sale</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Valuation gains/(losses)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Amounts reclassified to income statement</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other reclassifications</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Income tax</td>
            <td>(55)</td>
            <td>560</td>
        </tr>
        <tr class="b2">
            <td>TOTAL RECOGNIZED INCOME/EXPENSES</td>
            <td>918</td>
            <td>1,555</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.5.xls">Download Excel</a>

### Statement of Changes in Equity for the year ended December 31, 2016 of BBVA, S.A.
<div class="wrapper-scrolling">

<table class="l">
    <thead>
        <tr>
            <th>December 2016</th>
            <th>Capital (Note 26)</th>
            <th>Share Premium  (Note 27)</th>
            <th>Equity instruments issued other than capital</th>
            <th>Other Equity</th>
            <th>Retained earnings</th>
            <th>Revaluation reserves</th>
            <th>Other reserves</th>
            <th>(-) Treasury shares</th>
            <th>rofit or loss attributable to owners of the parent</th>
            <th>Interim dividends</th>
            <th>Interim dividends</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Balances as of January 1, 2016</td>
            <td>3,120</td>
            <td>23,992</td>
            <td>28</td>
            <td>-</td>
            <td>-</td>
            <td>22</td>
            <td>7,787</td>
            <td>(19)</td>
            <td>2,864</td>
            <td>(1,356)</td>
            <td>382</td>
            <td>36,820</td>
        </tr>
        <tr class="b">
            <td>Total income/expense recognized</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1,662</td>
            <td>-</td>
            <td>(744)</td>
            <td>918</td>
        </tr>
        <tr class="b">
            <td>Other changes in equity</td>
            <td>98</td>
            <td>-</td>
            <td>18</td>
            <td>-</td>
            <td>-</td>
            <td>(2)</td>
            <td>1,559</td>
            <td>(4)</td>
            <td>(2,864)</td>
            <td>(157)</td>
            <td>-</td>
            <td>(1,352)</td>
        </tr>
        <tr class="s">
            <td>Issuances of common shares</td>
            <td>98</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(98)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Issuances of preferred shares</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Issuance of other equity instruments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Period or maturity of other issued equity instruments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Conversion of debt on equity</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Common Stock reduction</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Dividend distribution</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(1,303)</td>
            <td>-</td>
            <td>(1,303)</td>
        </tr>
        <tr class="s">
            <td>Purchase of treasury shares</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(1,570)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(1,570)</td>
        </tr>
        <tr class="s">
            <td>Sale or cancellation of treasury shares</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>10</td>
            <td>1,566</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1,576</td>
        </tr>
        <tr class="s">
            <td> Reclassification of financial liabilities to other equity instruments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Reclassification of other equity instruments to financial liabilities</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Transfers between total equity entries</td>
            <td>-</td>
            <td>-</td>
            <td>(3)</td>
            <td>-</td>
            <td>-</td>
            <td>(2)</td>
            <td>1,513</td>
            <td>-</td>
            <td>(2,864)</td>
            <td>1,356</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td> Increase/Reduction of equity due to business combinations</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>139</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>139</td>
        </tr>
        <tr class="s">
            <td>Share based payments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other increases or (-) decreases in equity</td>
            <td>-</td>
            <td>-</td>
            <td>21</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(5)</td>
            <td>-</td>
            <td>-</td>
            <td>(210)</td>
            <td>-</td>
            <td>(194)</td>
        </tr>
        <tr class="b">
            <td>Balance as of December 31, 2016</td>
            <td>3,218</td>
            <td>23,992</td>
            <td>46</td>
            <td>-</td>
            <td>-</td>
            <td>20</td>
            <td>9,346</td>
            <td>(23)</td>
            <td>1,662</td>
            <td>(1,513)</td>
            <td>(362)</td>
            <td>36,386</td>
        </tr>
    </tbody>
</table>
</div>
<a href="{{site.baseurl}}/images/en-IX.6.xls">Download Excel</a>

### Statement of Changes in Equity for the year ended December 31, 2015 of BBVA, S.A.
<div class="wrapper-scrolling">

<table class="l">
    <thead>
        <tr>
            <th>December 2015</th>
            <th>Capital (Note 26)</th>
            <th>Share Premium  (Note 27)</th>
            <th>Equity instruments issued other than capital</th>
            <th>Other Equity</th>
            <th>Retained earnings</th>
            <th>Revaluation reserves</th>
            <th>Other reserves</th>
            <th>(-) Treasury shares</th>
            <th>Resultado del ejercicio</th>
            <th>Interim dividends</th>
            <th>Interim dividends</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>Balances as of January 1, 2015</td>
            <td>3,024</td>
            <td>23,992</td>
            <td>47</td>
            <td>-</td>
            <td>-</td>
            <td>23</td>
            <td>7,619</td>
            <td>(46)</td>
            <td>1,105</td>
            <td>(841)</td>
            <td>1,691</td>
            <td>36,614</td>
        </tr>
        <tr class="b">
            <td>Total income/expense recognized</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2,864</td>
            <td>-</td>
            <td>(1,309)</td>
            <td>1,555</td>
        </tr>
        <tr class="b">
            <td>Other changes in equity</td>
            <td>96</td>
            <td>-</td>
            <td>(19)</td>
            <td>-</td>
            <td>-</td>
            <td>(1)</td>
            <td>168</td>
            <td>27</td>
            <td>(1,105)</td>
            <td>(515)</td>
            <td>-</td>
            <td>(1,349)</td>
        </tr>
        <tr class="s">
            <td>Issuances of common shares</td>
            <td>96</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(96)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Issuances of preferred shares</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Issuance of other equity instruments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Period or maturity of other issued equity instruments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Conversion of debt on equity</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Common Stock reduction</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Dividend distribution</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(1,226)</td>
            <td>-</td>
            <td>(1,226)</td>
        </tr>
        <tr class="s">
            <td>Purchase of treasury shares</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(2,297)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(2,297)</td>
        </tr>
        <tr class="s">
            <td>Sale or cancellation of treasury shares</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(1)</td>
            <td>2,324</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>2,323</td>
        </tr>
        <tr class="s">
            <td> Reclassification of financial liabilities to other equity instruments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Reclassification of other equity instruments to financial liabilities</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Transfers between total equity entries</td>
            <td>-</td>
            <td>-</td>
            <td>(8)</td>
            <td>-</td>
            <td>-</td>
            <td>(1)</td>
            <td>272</td>
            <td>-</td>
            <td>(1,105)</td>
            <td>842</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td> Increase/Reduction of equity due to business combinations</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Share based payments</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other increases or (-) decreases in equity</td>
            <td>-</td>
            <td>-</td>
            <td>(11)</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>(7)</td>
            <td>-</td>
            <td>-</td>
            <td>(131)</td>
            <td>-</td>
            <td>(149)</td>
        </tr>
        <tr class="s">
            <td>De los cuales: dotación discrecional a obras y fondos sociales (solo cajas de ahorros y cooperativas de crédito )</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Balance as of December 31, 2015</td>
            <td>3,120</td>
            <td>23,992</td>
            <td>28</td>
            <td>-</td>
            <td>-</td>
            <td>22</td>
            <td>7,787</td>
            <td>(19)</td>
            <td>2,864</td>
            <td>(1,356)</td>
            <td>382</td>
            <td>36,820</td>
        </tr>
    </tbody>
</table>
</div>
<a href="{{site.baseurl}}/images/en-IX.7.xls">Download Excel</a>


<table class="l">
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Millions of Euros</th>
        </tr>
        <tr>
            <th>Cash Flows Statements for the year ended December 31, 2016 and 2015 of BBVA, S.A</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CASH FLOW FROM OPERATING ACTIVITIES (1)</td>
            <td>6,281</td>
            <td>4,709</td>
        </tr>
        <tr class="b">
            <td>Profit for the year</td>
            <td>1,662</td>
            <td>2,864</td>
        </tr>
        <tr class="b">
            <td>Adjustments to obtain the cash flow from operating activities</td>
            <td>1,811</td>
            <td>(1,769)</td>
        </tr>
        <tr class="s">
            <td>Depreciation</td>
            <td>574</td>
            <td>519</td>
        </tr>
        <tr class="s">
            <td>Other adjustments</td>
            <td>1,237</td>
            <td>(2,288)</td>
        </tr>
        <tr class="b">
            <td>Net increase/decrease in operating assets</td>
            <td>(16,227)</td>
            <td>11,515</td>
        </tr>
        <tr class="s">
            <td>Financial assets held for trading</td>
            <td>1,166</td>
            <td>5,889</td>
        </tr>
        <tr class="s">
            <td>Other financial assets designated at fair value through profit or loss</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Available-for-sale financial assets</td>
            <td>21,597</td>
            <td>1,564</td>
        </tr>
        <tr class="s">
            <td>Loans and receivables</td>
            <td>(24,706)</td>
            <td>3,861</td>
        </tr>
        <tr class="s">
            <td>Other operating assets</td>
            <td>(14,284)</td>
            <td>201</td>
        </tr>
        <tr class="b">
            <td>Net increase/decrease in operating liabilities</td>
            <td>19,205</td>
            <td>(8,090)</td>
        </tr>
        <tr class="s">
            <td>Financial liabilities held for trading</td>
            <td>1,292</td>
            <td>(4,003)</td>
        </tr>
        <tr class="s">
            <td>Other financial liabilities designated at fair value through profit or loss</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Financial liabilities at amortized cost</td>
            <td>15,847</td>
            <td>(2,975)</td>
        </tr>
        <tr class="s">
            <td>Other operating liabilities</td>
            <td>2,066</td>
            <td>(1,112)</td>
        </tr>
        <tr class="b">
            <td>Collection/Payments for income tax</td>
            <td>(170)</td>
            <td>189</td>
        </tr>
        <tr class="b">
            <td>CASH FLOWS FROM INVESTING ACTIVITIES (2)</td>
            <td>(1,048)</td>
            <td>(2,259)</td>
        </tr>
        <tr class="b">
            <td>Investment</td>
            <td>(3,168)</td>
            <td>(5,625)</td>
        </tr>
        <tr class="s">
            <td>Tangible assets</td>
            <td>(170)</td>
            <td>(211)</td>
        </tr>
        <tr class="s">
            <td>Intangible assets</td>
            <td>(320)</td>
            <td>(298)</td>
        </tr>
        <tr class="s">
            <td>Investments</td>
            <td>(246)</td>
            <td>(4,114)</td>
        </tr>
        <tr class="s">
            <td>Subsidiaries and other business units</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Non-current assets held for sale and associated liabilities</td>
            <td>(674)</td>
            <td>(1,002)</td>
        </tr>
        <tr class="s">
            <td>Held to maturity investments</td>
            <td>(1,758)</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other settlements related to investing activities</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>Divestments</td>
            <td>2,120</td>
            <td>3,366</td>
        </tr>
        <tr class="s">
            <td>Tangible assets</td>
            <td>20</td>
            <td>12</td>
        </tr>
        <tr class="s">
            <td>Intangible assets</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Investments</td>
            <td>93</td>
            <td>62</td>
        </tr>
        <tr class="s">
            <td>Subsidiaries and other business units</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Non-current assets held for sale and associated liabilities</td>
            <td>511</td>
            <td>1,249</td>
        </tr>
        <tr class="s">
            <td>Held to maturity investments</td>
            <td>64</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Other settlements related to investing activities</td>
            <td>175</td>
            <td>2,043</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.8.xls">Download Excel</a>

<table class="l">
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Millions of Euros</th>
        </tr>
        <tr>
            <th>CASH FLOWS STATEMENTS (Continued)</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CASH FLOWS FROM FINANCING ACTIVITIES (3)</td>
            <td>(501)</td>
            <td>(302)</td>
        </tr>
        <tr class="b">
            <td>Investment</td>
            <td>(3,247)</td>
            <td>(4,124)</td>
        </tr>
        <tr class="s">
            <td>Dividends</td>
            <td>(1,497)</td>
            <td>(916)</td>
        </tr>
        <tr class="s">
            <td>Subordinated liabilities</td>
            <td>(180)</td>
            <td>(767)</td>
        </tr>
        <tr class="s">
            <td>Common stock amortization</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Treasury stock acquisition</td>
            <td>(1,570)</td>
            <td>(2,297)</td>
        </tr>
        <tr class="s">
            <td>Other items relating to financing activities</td>
            <td>-</td>
            <td>(144)</td>
        </tr>
        <tr class="b">
            <td>Divestments</td>
            <td>2,746</td>
            <td>3,822</td>
        </tr>
        <tr class="s">
            <td>Subordinated liabilities</td>
            <td>1,000</td>
            <td>1,500</td>
        </tr>
        <tr class="s">
            <td>Common stock increase</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="s">
            <td>Treasury stock disposal</td>
            <td>1,574</td>
            <td>2,322</td>
        </tr>
        <tr class="s">
            <td>Other items relating to financing activities</td>
            <td>172</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>EFFECT OF EXCHANGE RATE CHANGES (4)</td>
            <td>(67)</td>
            <td>(302)</td>
        </tr>
        <tr class="b">
            <td>NET INCREASE/DECREASE IN CASH OR CASH EQUIVALENTS (1+2+3+4)</td>
            <td>4,665</td>
            <td>1,846</td>
        </tr>
        <tr class="b">
            <td>CASH AND CASH EQUIVALENTS AT BEGINNING OF THE YEAR</td>
            <td>11,191</td>
            <td>9,262</td>
        </tr>
        <tr class="b">
            <td>CASH AND CASH EQUIVALENTS AT END OF THE YEAR</td>
            <td>15,856</td>
            <td>11,108</td>
        </tr>
    </tbody>
</table>
<!--[Download table](#)-->



<table class="l">
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Millions of Euros</th>
        </tr>
        <tr>
            <th>COMPONENTS OF CASH AND EQUIVALENTS AT END OF THE YEAR
</th>
            <th>December 2016</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cash</td>
            <td>879</td>
            <td>825</td>
        </tr>
        <tr>
            <td>Balance of cash equivalent in central banks</td>
            <td>14,913</td>
            <td>10,283</td>
        </tr>
        <tr>
            <td>Other financial assets</td>
            <td>63</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Less: Bank overdraft refundable on demand</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr class="b2">
            <td>TOTAL CASH AND CASH EQUIVALENTS AT END OF THE YEAR</td>
            <td>15,856</td>
            <td>11,108</td>
        </tr>
    </tbody>
</table>
<a href="{{site.baseurl}}/images/en-IX.8.xls">Download Excel</a>


