APPENDIX XIV – Reconciliation of Financial Statements

<table>
    <thead>
        <tr class="m">
            <th>Current format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>ASSETS</th>
            <th>December 2015</th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CASH, CASH BALANCES AT CENTRAL BANKS AND OTHER DEMAND DEPOSITS (1)</td>
            <td>29,282</td>
        </tr>
        <tr class="b">
            <td>FINANCIAL ASSETS HELD FOR TRADING</td>
            <td>78,326</td>
        </tr>
        <tr>
            <td>Derivatives</td>
            <td>40,902</td>
        </tr>
        <tr>
            <td>Equity instruments</td>
            <td>4,534</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>32,825</td>
        </tr>
        <tr>
            <td>Loans and advances to central banks</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Loans and advances to credit institutions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Loans and advances to customers</td>
            <td>65</td>
        </tr>
        <tr class="b">
            <td>OTHER FINANCIAL ASSETS DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>2,311</td>
        </tr>
        <tr>
            <td>Equity instruments</td>
            <td>2,075</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>173</td>
        </tr>
        <tr>
            <td>Loans and advances to central banks</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Loans and advances to credit institutions</td>
            <td>62</td>
        </tr>
        <tr>
            <td>Loans and advances to customers</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>AVAILABLE-FOR-SALE FINANCIAL ASSETS</td>
            <td>113,426</td>
        </tr>
        <tr>
            <td>Equity instruments</td>
            <td>5,116</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>108,310</td>
        </tr>
        <tr class="b">
            <td>LOANS AND RECEIVABLES (2)</td>
            <td>471,828</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>10,516</td>
        </tr>
        <tr>
            <td>Loans and advances to central banks</td>
            <td>17,830</td>
        </tr>
        <tr>
            <td>Loans and advances to credit institutions</td>
            <td>29,317</td>
        </tr>
        <tr>
            <td>Loans and advances to customers</td>
            <td>414,165</td>
        </tr>
        <tr class="b">
            <td>HELD-TO-MATURITY INVESTMENTS</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>HEDGING DERIVATIVES </td>
            <td>3,538</td>
        </tr>
        <tr class="b">
            <td>FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK</td>
            <td>45</td>
        </tr>
        <tr class="b">
            <td>INVESTMENTS IN SUBSIDARIES, JOINT VENTURES AND ASSOCIATE</td>
            <td>879</td>
        </tr>
        <tr>
            <td>Joint ventures</td>
            <td>243</td>
        </tr>
        <tr>
            <td>Associates</td>
            <td>636</td>
        </tr>
        <tr class="b">
            <td>REINSURANCE ASSETS</td>
            <td>511</td>
        </tr>
        <tr class="b">
            <td>TANGIBLE ASSETS</td>
            <td>9,944</td>
        </tr>
        <tr>
            <td>Property, plants and equipment</td>
            <td>8,477</td>
        </tr>
        <tr>
            <td>For own use</td>
            <td>8,021</td>
        </tr>
        <tr>
            <td>Other assets leased out under an operating lease </td>
            <td>456</td>
        </tr>
        <tr>
            <td>Investment properties</td>
            <td>1,467</td>
        </tr>
        <tr class="b">
            <td>INTANGIBLE ASSETS</td>
            <td>10,052</td>
        </tr>
        <tr>
            <td>Goodwill</td>
            <td>6,915</td>
        </tr>
        <tr>
            <td>Other intangible assets</td>
            <td>3,137</td>
        </tr>
        <tr>
            <td>TAX ASSETS</td>
            <td>17,779</td>
        </tr>
        <tr>
            <td>Current</td>
            <td>1,901</td>
        </tr>
        <tr>
            <td>Deferred</td>
            <td>15,878</td>
        </tr>
        <tr class="b">
            <td>OTHER ASSETS</td>
            <td>8,566</td>
        </tr>
        <tr>
            <td>Insurance contracts linked to pensions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Inventories</td>
            <td>4,303</td>
        </tr>
        <tr>
            <td>Rest</td>
            <td>4,263</td>
        </tr>
        <tr class="b">
            <td>NON-CURRENT ASSETS AND DISPOSAL GROUPS HELD FOR SALE (3</td>
            <td>3,369</td>
        </tr>
        <tr class="b">
            <td>TOTAL ASSETS</td>
            <td>749,855</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<ul class="cita"><li>(1) The main differences with regard to the heading " Cash and deposits with central banks" are the inclusion of the balances deposited in Credit Institutions  and the reclassification of Loans at central banks to the heading Loans and Receivables</li>

<li>(2) The main differences with regard to the heading "Loans and receivables" are the inclusion  of loans at central banks and the reclassification of balances deposited in Credit institutions to the heading "Cash, cash balances at central banks and other demand deposits"</li> 
<li>(3) Corresponding to the heading "Non-current assest held-for-sale" of the previous format</li></ul>


<table>
    <thead>
        <tr class="m">
            <th>Previous format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>Assets</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>CASH AND BALANCES WITH CENTRAL BANKS</td>
            <td>43,467</td>
        </tr>
        <tr class="b">
            <td>FINANCIAL ASSETS HELD FOR TRADING</td>
            <td>78,326</td>
        </tr>
        <tr>
            <td>Loans and advances to credit institutions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Loans and advances to customers</td>
            <td>65</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>32,825</td>
        </tr>
        <tr>
            <td>Equity instruments</td>
            <td>4,534</td>
        </tr>
        <tr>
            <td>Trading derivatives</td>
            <td>40,902</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>OTHER FINANCIAL ASSETS DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>2,311</td>
        </tr>
        <tr>
            <td>Loans and advances to credit institution</td>
            <td>62</td>
        </tr>
        <tr>
            <td>Loans and advances to customers</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>173</td>
        </tr>
        <tr>
            <td>Equity instruments</td>
            <td>2,075</td>
        </tr>
        <tr class="b">
            <td>AVAILABLE-FOR-SALE FINANCIAL ASSETS</td>
            <td>113,426</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>108,310</td>
        </tr>
        <tr>
            <td>Equity instruments</td>
            <td>5,116</td>
        </tr>
        <tr class="b">
            <td>LOANS AND RECEIVABLES</td>
            <td>457,644</td>
        </tr>
        <tr>
            <td>Loans and advances to credit institution</td>
            <td>32,962</td>
        </tr>
        <tr>
            <td>Loans and advances to customers</td>
            <td>414,165</td>
        </tr>
        <tr>
            <td>Debt securities</td>
            <td>10,516</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="b">
            <td>HELD-TO-MATURITY INVESTMENTS</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK</td>
            <td>45</td>
        </tr>
        <tr class="b">
            <td>HEDGING DERIVATIVES </td>
            <td>3,538</td>
        </tr>
        <tr class="b">
            <td>NON-CURRENT ASSETS HELD FOR SALE </td>
            <td>3,369</td>
        </tr>
        <tr class="b">
            <td>INVESTMENTS IN ENTITIES ACCOUNTED FOR USING THE EQUITY METHOD</td>
            <td>879</td>
        </tr>
        <tr>
            <td>Associates</td>
            <td>636</td>
        </tr>
        <tr>
            <td>Joint ventures</td>
            <td>243</td>
        </tr>
        <tr class="b">
            <td>INSURANCE CONTRACTS LINKED TO PENSIONS</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>REINSURANCE ASSETS</td>
            <td>511</td>
        </tr>
        <tr class="b">
            <td>TANGIBLE ASSETS</td>
            <td>9,944</td>
        </tr>
        <tr>
            <td>Property, plants and equipment</td>
            <td>8,477</td>
        </tr>
        <tr>
            <td>For own use</td>
            <td>8,021</td>
        </tr>
        <tr>
            <td>Other assets leased out under an operating lease </td>
            <td>456</td>
        </tr>
        <tr>
            <td>Investment properties</td>
            <td>1,467</td>
        </tr>
        <tr class="b">
            <td>INTANGIBLE ASSETS</td>
            <td>10,052</td>
        </tr>
        <tr>
            <td>Goodwill</td>
            <td>6,915</td>
        </tr>
        <tr>
            <td>Other intangible assets</td>
            <td>3,137</td>
        </tr>
        <tr class="b">
            <td>TAX ASSETS</td>
            <td>17,779</td>
        </tr>
        <tr>
            <td>Current</td>
            <td>1,901</td>
        </tr>
        <tr>
            <td>Deferred</td>
            <td>15,878</td>
        </tr>
        <tr class="b">
            <td>OTHER ASSETS</td>
            <td>8,566</td>
        </tr>
        <tr>
            <td>Inventories</td>
            <td>4,303</td>
        </tr>
        <tr>
            <td>Rest</td>
            <td>4,263</td>
        </tr>
        <tr class="b">
            <td>TOTAL ASSETS</td>
            <td>749,855</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<table>
    <thead>
        <tr class="m">
            <th>Current format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>LIABILITIES</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>FINANCIAL LIABILITIES HELD FOR TRADING</td>
            <td>55,203</td>
        </tr>
        <tr>
            <td>Trending derivatives</td>
            <td>42,149</td>
        </tr>
        <tr>
            <td>Short positions</td>
            <td>13,053</td>
        </tr>
        <tr>
            <td>Deposits from central banks</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Deposits from credit institutions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Customer deposits</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Debt certificates</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other financial liabilities</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>OTHER FINANCIAL LIABILITIES DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>2,649</td>
        </tr>
        <tr>
            <td>Deposits from central banks</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Deposits from credit institutions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Customer deposits</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Debt certificates</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other financial liabilities</td>
            <td>2,649</td>
        </tr>
        <tr>
            <td>Of which: Subordinated liabilities (1)</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>FINANCIAL LIABILITIES AT AMORTIZED COST</td>
            <td>606,113</td>
        </tr>
        <tr>
            <td>Deposits from central banks</td>
            <td>40,087</td>
        </tr>
        <tr>
            <td>Deposits from credit institutions</td>
            <td>68,543</td>
        </tr>
        <tr>
            <td>Customer deposits</td>
            <td>403,362</td>
        </tr>
        <tr>
            <td>Debt certificates</td>
            <td>81,980</td>
        </tr>
        <tr>
            <td>Other financial liabilities</td>
            <td>12,141</td>
        </tr>
        <tr>
            <td>Of which: Subordinated liabilities (1)</td>
            <td>16,109</td>
        </tr>
        <tr class="b">
            <td>HEDGING DERIVATIVES</td>
            <td>2,726</td>
        </tr>
        <tr class="b">
            <td>FAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK</td>
            <td>358</td>
        </tr>
        <tr class="b">
            <td>LIABILITIES UNDER INSURANCE CONTRACTS</td>
            <td>9,407</td>
        </tr>
        <tr class="b">
            <td>PROVISIONS</td>
            <td>8,852</td>
        </tr>
        <tr>
            <td>Provisions for pensions and similar obligations</td>
            <td>6,299</td>
        </tr>
        <tr>
            <td>Other long term employee benefits</td>
            <td>68</td>
        </tr>
        <tr>
            <td>Provisions for taxes and other legal contingencies</td>
            <td>616</td>
        </tr>
        <tr>
            <td>Provisions for contingent risks and commitments</td>
            <td>714</td>
        </tr>
        <tr>
            <td>Other provisions</td>
            <td>1,155</td>
        </tr>
        <tr class="b">
            <td>TAX LIABILITIES</td>
            <td>4,656</td>
        </tr>
        <tr>
            <td>Current</td>
            <td>1,238</td>
        </tr>
        <tr>
            <td>Deferred</td>
            <td>3,418</td>
        </tr>
        <tr class="b">
            <td>OTHER LIABILITIES</td>
            <td>4,610</td>
        </tr>
        <tr class="b">
            <td>LIABILITIES INCLUDED IN DISPOSAL GROUPS CLASSIFIED AS HELD FOR SALE</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>TOTAL LIABILITIES</td>
            <td>694,573</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<ul class="cita"><li>(1) Subordinated financial liabilities: In the current format they are classified in the subheading Customer deposits and debt certificates</li></ul>

<table>
    <thead>
        <tr class="m">
            <th>Previous format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>LIABILITIES</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>FINANCIAL LIABILITIES HELD FOR TRADING</td>
            <td>55,203</td>
        </tr>
        <tr>
            <td>Deposits from central banks</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Deposits from credit institutions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Customer deposits</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Debt certificates</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Trading derivatives</td>
            <td>42,149</td>
        </tr>
        <tr>
            <td>Short positions</td>
            <td>13,053</td>
        </tr>
        <tr>
            <td>Other financial liabilities</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>OTHER FINANCIAL LIABILITIES DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>2,649</td>
        </tr>
        <tr>
            <td>Deposits from central banks</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Deposits from credit institutions</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Customer deposits</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Debt certificates</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Subordinated liabilities</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other financial liabilities</td>
            <td>2,649</td>
        </tr>
        <tr class="b">
            <td>FINANCIAL LIABILITIES AT AMORTIZED COST</td>
            <td>606,113</td>
        </tr>
        <tr>
            <td>Deposits from central banks</td>
            <td>40,087</td>
        </tr>
        <tr>
            <td>Deposits from credit institutions</td>
            <td>68,543</td>
        </tr>
        <tr>
            <td>Customer deposits</td>
            <td>403,069</td>
        </tr>
        <tr>
            <td>Debt certificates</td>
            <td>66,165</td>
        </tr>
        <tr>
            <td>Subordinated liabilities</td>
            <td>16,109</td>
        </tr>
        <tr>
            <td>Other financial liabilities</td>
            <td>12,141</td>
        </tr>
        <tr class="b">
            <td>AFAIR VALUE CHANGES OF THE HEDGED ITEMS IN PORTFOLIO HEDGES OF INTEREST RATE RISK</td>
            <td>358</td>
        </tr>
        <tr class="b">
            <td>HEDGING DERIVATIVES</td>
            <td>2,726</td>
        </tr>
        <tr class="b">
            <td>LIABILITIES ASSOCIATED WITH NON-CURRENT ASSETS HELD FOR SALE</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>LIABILITIES UNDER INSURANCE CONTRACTS</td>
            <td>9,407</td>
        </tr>
        <tr class="b">
            <td>PROVISIONS</td>
            <td>8,852</td>
        </tr>
        <tr>
            <td>Provisions for pensions and similar obligations (2)</td>
            <td>6,299</td>
        </tr>
        <tr>
            <td>rovisions for taxes and other legal contingencies</td>
            <td>616</td>
        </tr>
        <tr>
            <td>Provisions for contingent risks and commitments</td>
            <td>714</td>
        </tr>
        <tr>
            <td>Other provisions</td>
            <td>1,223</td>
        </tr>
        <tr class="b">
            <td>TAX LIABILITIES</td>
            <td>4,656</td>
        </tr>
        <tr>
            <td>Current</td>
            <td>1,238</td>
        </tr>
        <tr>
            <td>Deferred</td>
            <td>3,418</td>
        </tr>
        <tr class="b">
            <td>OTHER LIABILITIES</td>
            <td>4,610</td>
        </tr>
        <tr class="b">
            <td>TOTAL LIABILITIES</td>
            <td>694,573</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<table>
    <thead>
        <tr class="m">
            <th>Current format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>EQUITY</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>SHAREHOLDERS’ FUNDS</td>
            <td>50,639</td>
        </tr>
        <tr>
            <td>Capital</td>
            <td>3,120</td>
        </tr>
        <tr>
            <td>Paid up capital</td>
            <td>3,120</td>
        </tr>
        <tr>
            <td>Unpaid capital which has been called up</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Share premium</td>
            <td>23,992</td>
        </tr>
        <tr>
            <td>Equity instruments issued other than capital</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Equity component of compound financial instruments</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other equity instruments issued</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other equity</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Retained earnings</td>
            <td>22,588</td>
        </tr>
        <tr>
            <td>Revaluation reserves</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Other reserves</td>
            <td>(98)</td>
        </tr>
        <tr>
            <td>Reserves or accumulated losses of investments in subsidaries, joint ventures and associates</td>
            <td>(98)</td>
        </tr>
        <tr>
            <td>Other</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Less: Treasury shares</td>
            <td>(309)</td>
        </tr>
        <tr>
            <td>Profit or loss attributable to owners of the parent</td>
            <td>2,642</td>
        </tr>
        <tr>
            <td>Less: Interim dividends</td>
            <td>(1,352)</td>
        </tr>
        <tr class="b">
            <td>ACCUMULATED OTHER COMPREHENSIVE INCOME (2)</td>
            <td>(3,349)</td>
        </tr>
        <tr>
            <td>Items that will not be reclassified to profit or loss</td>
            <td>(859)</td>
        </tr>
        <tr>
            <td>Actuarial gains or (-) losses on defined benefit pension plans</td>
            <td>(859)</td>
        </tr>
        <tr>
            <td>Non-current assets and disposal groups classified as held for sale</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Share of other recognised income and expense of investments in subsidaries, joint ventures and associates</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other adjustments</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Items that may be reclassified to profit or loss</td>
            <td>(2,490)</td>
        </tr>
        <tr>
            <td>Hedge of net investments in foreign operations (effective portion)</td>
            <td>(274)</td>
        </tr>
        <tr>
            <td>Foreign currency translation</td>
            <td>(3,905)</td>
        </tr>
        <tr>
            <td>Hedging derivatives. Cash flow hedges (effective portion)</td>
            <td>(49)</td>
        </tr>
        <tr>
            <td>Available-for-sale financial assets</td>
            <td>1,674</td>
        </tr>
        <tr>
            <td>Non-current assets and disposal groups classified as held for sale</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Share of other recognised income and expense of investments in subsidaries, joint ventures and associates</td>
            <td>64</td>
        </tr>
        <tr class="b">
            <td>NON-CONTROLLING INTEREST</td>
            <td>7,992</td>
        </tr>
        <tr>
            <td>Valuation adjustments</td>
            <td>(1,333)</td>
        </tr>
        <tr>
            <td>REST</td>
            <td>9,325</td>
        </tr>
        <tr class="b">
            <td>TOTAL EQUITY</td>
            <td>55,282</td>
        </tr>
        <tr class="b">
            <td>TOTAL EQUITY AND TOTAL LIABILITIES</td>
            <td>749,855</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<table>
    <thead>
        <tr class="m">
            <th>Current format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>MEMORANDUM ITEM</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Financial guarantees given</td>
            <td>49,876</td>
        </tr>
        <tr>
            <td>Contingent commitments</td>
            <td>135,733</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<ul class="cita"><li>(1) The heading of Reserves are disclosed in three headings under the current format: Retained earnings, Revaluation Reserves and Other Reserves</li> 

<li>(2) Accumulated other comprehensive income correponds to the heading Valuation Adjustment, with a higher breakdown and different order of the subheadings</li></ul>



<table>
    <thead>
        <tr class="m">
            <th>Previous format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>EQUITY</th>
            <th>December 2015</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>SHAREHOLDERS’ FUNDS</td>
            <td>50,639</td>
        </tr>
        <tr>
            <td>Common Stock</td>
            <td>3,120</td>
        </tr>
        <tr>
            <td>Issued</td>
            <td>3,120</td>
        </tr>
        <tr>
            <td>Unpaid and uncalled (-)</td>
            <td>-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Share premium</td>
            <td>23,992</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Reserves (1)</td>
            <td>22,512</td>
        </tr>
        <tr>
            <td>Accumulated reserves (losses)</td>
            <td>22,610</td>
        </tr>
        <tr>
            <td>Reserves (losses) of entities accounted for using the equity method</td>
            <td>(98)</td>
        </tr>
        <tr>
            <td>Other equity instruments</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Equity component of compound financial instruments</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Other equity instruments</td>
            <td>35</td>
        </tr>
        <tr>
            <td>Less: Treasury stock</td>
            <td>(309)</td>
        </tr>
        <tr>
            <td>Income attributed to the parent company</td>
            <td>2,642</td>
        </tr>
        <tr>
            <td>Less: Dividends and remuneration</td>
            <td>(1,352)</td>
        </tr>
        <tr>
            <td>VALUATION ADJUSTMENTS</td>
            <td>(3,349)</td>
        </tr>
        <tr>
            <td>Available-for-sale financial assets</td>
            <td>1,674</td>
        </tr>
        <tr>
            <td>Cash flow hedging</td>
            <td>(49)</td>
        </tr>
        <tr>
            <td>Hedging of net investment in foreign transactions</td>
            <td>(274)</td>
        </tr>
        <tr>
            <td>Exchange differences</td>
            <td>(3,905)</td>
        </tr>
        <tr>
            <td>Non-current assets held-for-sale</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Entities accounted for using the equity method</td>
            <td>64</td>
        </tr>
        <tr>
            <td>Other valuation adjustments</td>
            <td>(859)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>NON-CONTROLLING INTEREST</td>
            <td>7,992</td>
        </tr>
        <tr>
            <td>Valuation adjustments</td>
            <td>(1,333)</td>
        </tr>
        <tr>
            <td>Rest</td>
            <td>9,325</td>
        </tr>
        <tr>
            <td>TOTAL EQUITY</td>
            <td>55,282</td>
        </tr>
        <tr>
            <td>TOTAL LIABILITIES AND EQUITY</td>
            <td>749,855</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<table>
    <thead>
        <tr class="m">
            <th colspan="2">Previous format</th>
        </tr>
        <tr>
            <th>MEMORANDUM  ITEM</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CONTINGENT RISKS</td>
            <td>49,876</td>
        </tr>
        <tr>
            <td>CONTINGENT COMMITMENTS</td>
            <td>135,733</td>
        </tr>
    </tbody>
</table>
[Download table](#)


<table>
    <thead>
        <tr class="m">
            <th>Current format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>STATEMENT OF PROFIT OR LOSS</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>STATEMENT OF PROFIT OR LOSS</td>
            <td>December 2015</td>
        </tr>
        <tr>
            <td>INTEREST AND SIMILAR INCOME</td>
            <td>24,783</td>
        </tr>
        <tr>
            <td>INTEREST AND SIMILAR EXPENSES</td>
            <td>(8,761)</td>
        </tr>
        <tr class="b">
            <td>NET INTEREST INCOME</td>
            <td>16,022</td>
        </tr>
        <tr>
            <td>DIVIDEND INCOME</td>
            <td>415</td>
        </tr>
        <tr>
            <td>SHARE OF PROFIT OR LOSS OF ENTITIES ACCOUNTED FOR USING THE EQUITY METHOD</td>
            <td>174</td>
        </tr>
        <tr>
            <td>FEE AND COMMISSION INCOME</td>
            <td>6,340</td>
        </tr>
        <tr>
            <td>FEE AND COMMISSION EXPENSES</td>
            <td>(1,729)</td>
        </tr>
        <tr>
            <td>NET GAINS (LOSSES) ON FINANCIAL ASSETS AND LIABILITIES </td>
            <td>865</td>
        </tr>
        <tr>
            <td>NET GAINS (LOSSES) ON FINANCIAL ASSETS AND LIABILITIES DESIGNATED AT FAIR VALUE THROUGH PROFIT OR LOSS, NET</td>
            <td>1,055</td>
        </tr>
        <tr>
            <td>GAINS OR (-) LOSSES ON FINANCIAL ASSETS AND LIABILITIES HELD FOR TRADING, NET</td>
            <td>(409)</td>
        </tr>
        <tr>
            <td>GAINS OR (-) LOSSES ON DERECOGNITION OF FINANCIAL ASSETS AND LIABILITIES NOT MEASURED AT FAIR VALUE THROUGH PROFIT OR LOSS, NET</td>
            <td>126</td>
        </tr>
        <tr>
            <td>GAINS OR (-) LOSSES FROM HEDGE ACCOUNTING, NET</td>
            <td>93</td>
        </tr>
        <tr>
            <td>EXCHANGE DIFFERENCES (NET)</td>
            <td>1,165</td>
        </tr>
        <tr>
            <td>OTHER OPERATING INCOME (2)</td>
            <td>1,315</td>
        </tr>
        <tr>
            <td>OTHER OPERATING EXPENSES (2)</td>
            <td>(2,285)</td>
        </tr>
        <tr>
            <td>INCOME ON INSURANCE AND REINSURANCE CONTRACTS (2)</td>
            <td>3,678</td>
        </tr>
        <tr>
            <td>EXPENSES ON INSURANCE AND REINSURANCE CONTRACTS (2)</td>
            <td>(2,599)</td>
        </tr>
        <tr class="b">
            <td>GROSS INCOME</td>
            <td>23,362</td>
        </tr>
        <tr>
            <td>ADMINISTRATION COSTS</td>
            <td>(10,836)</td>
        </tr>
        <tr>
            <td>Personnel expenses</td>
            <td>(6,273)</td>
        </tr>
        <tr>
            <td>General and administrative expenses</td>
            <td>(4,563)</td>
        </tr>
        <tr>
            <td>DEPRECIATION</td>
            <td>(1,272)</td>
        </tr>
        <tr>
            <td>PROVISIONS OR (-) REVERSAL OF PROVISIONS</td>
            <td>(731)</td>
        </tr>
        <tr>
            <td>IMPAIRMENT OR (-) REVERSAL OF IMPAIRMENT ON FINANCIAL ASSETS NOT MEASURED AT FAIR VALUE THROUGH PROFIT OR LOSS</td>
            <td>(4,272)</td>
        </tr>
        <tr>
            <td>Financial assets measured at cost</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Available-for-sale financial assets</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Loans and receivables</td>
            <td>(4,248)</td>
        </tr>
        <tr>
            <td>Held to maturity investments</td>
            <td>(23)</td>
        </tr>
        <tr class="b">
            <td>NET OPERATING INCOME</td>
            <td>6,251</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<ul class="cita"><li>(1) The heading net gains (losses) on financial assets and liabilities was eliminated but the breakdown is maintained</li> 

<li>(2) The headings Other operating income and Other operating expenses of the previous format are broken down in four headings under the new format, separating the income and expenses covered by insurance and reinsurance contracts.</li></ul>

<table>
    <thead>
        <tr class="m">
            <th>Current format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>(Continuación)</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="b">NET OPERATING INCOME</td>
            <td>6,251</td>
        </tr>
        <tr>
            <td>IMPAIRMENT OR (-) REVERSAL OF IMPAIRMENT ON NON-FINANCIAL ASSETS</td>
            <td>(273)</td>
        </tr>
        <tr>
            <td>Tangible assets</td>
            <td>(60)</td>
        </tr>
        <tr>
            <td>Intangible assets</td>
            <td>(4)</td>
        </tr>
        <tr>
            <td>Other</td>
            <td>(209)</td>
        </tr>
        <tr>
            <td>GAINS (LOSSES) ON DERECOGNIZED OF NON FINANCIAL ASSETS AND SUBSIDIARIES, NET</td>
            <td>(2,135)</td>
        </tr>
        <tr>
            <td>NEGATIVE GOODWILL RECOGNISED IN PROFIT OR LOSS</td>
            <td>26</td>
        </tr>
        <tr>
            <td>PROFIT OR (-) LOSS FROM NON-CURRENT ASSETS AND DISPOSAL GROUPS CLASSIFIED AS HELD FOR SALE NOT QUALIFYING AS DISCONTINUED OPERATIONS</td>
            <td>734</td>
        </tr>
        <tr class="b">
            <td>OPERATING PROFIT BEFORE TAX</td>
            <td>4,603</td>
        </tr>
        <tr>
            <td>TAX EXPENSE OR (-) INCOME RELATED TO PROFIT OR LOSS FROM CONTINUING OPERATION</td>
            <td>(1,274)</td>
        </tr>
        <tr class="b">
            <td>PROFIT FROM CONTINUING OPERATIONS</td>
            <td>3,328</td>
        </tr>
        <tr>
            <td>PROFIT FROM DISCONTINUED OPERATIONS (NET)</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PROFIT</td>
            <td>3,328</td>
        </tr>
        <tr>
            <td>Attributable to minority interest (non-controlling interests)</td>
            <td>686</td>
        </tr>
        <tr>
            <td>Attributable to owners of the parent</td>
            <td>2,642</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<table>
    <thead>
        <tr class="m">
            <th>Previous format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>STATEMENT OF PROFIT OR LOSS</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>INTEREST AND SIMILAR INCOME</td>
            <td>24,783</td>
        </tr>
        <tr>
            <td>INTEREST AND SIMILAR EXPENSES</td>
            <td>(8,761)</td>
        </tr>
        <tr class="b">
            <td>NET INTEREST INCOME</td>
            <td>16,022</td>
        </tr>
        <tr>
            <td>DIVIDEND INCOME </td>
            <td>415</td>
        </tr>
        <tr>
            <td>SHARE OF PROFIT OR LOSS OF ENTITIES ACCOUNTED FOR USING THE EQUITY METHOD</td>
            <td>174</td>
        </tr>
        <tr>
            <td>FEE AND COMMISSION INCOME</td>
            <td>6,340</td>
        </tr>
        <tr>
            <td>FEE AND COMMISSION EXPENSES </td>
            <td>(1,729)</td>
        </tr>
        <tr>
            <td>NET GAINS (LOSSES) ON FINANCIAL ASSETS AND LIABILITIES (1)</td>
            <td>865</td>
        </tr>
        <tr>
            <td>Financial instruments held for trading</td>
            <td>(409)</td>
        </tr>
        <tr>
            <td>Other financial instruments at fair value through profit or loss</td>
            <td>117</td>
        </tr>
        <tr>
            <td>Other financial instruments not at fair value through profit or loss</td>
            <td>1,157</td>
        </tr>
        <tr>
            <td>Rest</td>
            <td>-</td>
        </tr>
        <tr>
            <td>EXCHANGE DIFFERENCES (NET)</td>
            <td>1,165</td>
        </tr>
        <tr>
            <td>OTHER OPERATING INCOME (2)</td>
            <td>4,993</td>
        </tr>
        <tr>
            <td>OTHER OPERATING EXPENSES (2)</td>
            <td>(4,883)</td>
        </tr>
        <tr class="b">
            <td>GROSS INCOME</td>
            <td>23,362</td>
        </tr>
        <tr>
            <td>ADMINISTRATION COSTS</td>
            <td>(10,836)</td>
        </tr>
        <tr>
            <td>Personnel expenses</td>
            <td>(6,273)</td>
        </tr>
        <tr>
            <td>General and administrative expenses</td>
            <td>(4,563)</td>
        </tr>
        <tr>
            <td>DEPRECIATION AND AMORTIZATION</td>
            <td>(1,272)</td>
        </tr>
        <tr>
            <td>PROVISIONS (NET)</td>
            <td>(731)</td>
        </tr>
        <tr>
            <td>IMPAIRMENT LOSSES ON FINANCIAL ASSETS (NET)</td>
            <td>(4,272)</td>
        </tr>
        <tr>
            <td>Loans and receivables</td>
            <td>(4,248)</td>
        </tr>
        <tr>
            <td>Other financial instruments not at fair value through profit or loss</td>
            <td>(23)</td>
        </tr>
        <tr class="b">
            <td>NET OPERATING INCOME</td>
            <td>6,251</td>
        </tr>
    </tbody>
</table>
[Download table](#)

<table>
    <thead>
        <tr class="m">
            <th>Previous format</th>
            <th>Millions of Euros</th>
        </tr>
        <tr>
            <th>(Continued)</th>
            <th>December 2015 </th>
        </tr>
    </thead>
    <tbody>
        <tr class="b">
            <td>NET OPERATING INCOME</td>
            <td>6,251</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>IMPAIRMENT LOSSES ON OTHER ASSETS (NET) </td>
            <td>(273)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Goodwill and other intangible assets</td>
            <td>(4)</td>
        </tr>
        <tr>
            <td>Other assets</td>
            <td>(269)</td>
        </tr>
        <tr>
            <td>GAINS (LOSSES) ON DERECOGNIZED OF NON FINANCIAL ASSETS AND SUBSIDIARIES, NET</td>
            <td>(2,135)</td>
        </tr>
        <tr>
            <td>GAINS (LOSSES) IN NON-CURRENT ASSETS HELD FOR SALE NOT CLASSIFIED AS DISCONTINUED OPERATIONS</td>
            <td>734</td>
        </tr>
        <tr class="b">
            <td>OPERATING PROFIT BEFORE TAX</td>
            <td>4,603</td>
        </tr>
        <tr>
            <td>INCOME TAX</td>
            <td>(1,274)</td>
        </tr>
        <tr class="b">
            <td>PROFIT FROM CONTINUING OPERATIONS</td>
            <td>3,328</td>
        </tr>
        <tr>
            <td>PROFIT FROM DISCONTINUED OPERATIONS (NET)</td>
            <td>-</td>
        </tr>
        <tr class="b">
            <td>PROFIT</td>
            <td>3,328</td>
        </tr>
        <tr>
            <td>Profit attributable to parent company</td>
            <td>2,642</td>
        </tr>
        <tr>
            <td>Profit attributable to non-controlling interests</td>
            <td>686</td>
        </tr>
    </tbody>
</table>

[Download table](#)


