.header {
  background: $darkblue;
  padding: 23px 0 26px;
}

.Home .header {
  background: transparent;
  position: absolute; 
  top: 0;
  right: 0;
  left: 0;
}

.header-container {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(flex-end);
  margin-bottom: 4px;
  margin-top: 23px;
}

.menu {
  @include display-flex;
}

.header-title {
  color: $white;
  font-family: 'BentonLight';
  font-size: 34px;
  line-height: 1;
}

.menu-item {
  font-family: 'BentonMedium';
  font-size: 12px;
  margin-right: 50px;
  text-transform: uppercase;

  a {
    color: rgba($white, .6);

    &:hover {
      @include transition(opacity, 300ms);
      color: rgba($white, 1);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.Home {
  .menu-item a {
    color: rgba($white, 1);
    &:hover {
      color: rgba($white, 0.6);
    }
  }
  .search-item path {
    fill: $white;
  }
}


.options-list {
  @include display-flex();
  @include justify-content(flex-end);
}

.options-listitem {
  font-family: 'BentonBold';
  font-size: 12px;
  margin-right: 20px;

  a {
    color: rgba($white, 1);

    &:hover {
      @include transition(opacity, 300ms);
      color: rgba($white, .6);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation {
  @include display-flex();
  @include align-items(flex-end);
  @include justify-content(space-between);
}

.search {
  margin-left: 50px;
}

.search-item {
  cursor: pointer;
}
