$bbvablue: #0085d3;
$electricblue: #00beff;
$darkblue: #001d46;
$lightblue: #004284;
$white: #fff;
$txtgrey: #666;
$lightgrey: #f4f4f4;
$dark: #000;
$tableborder: #eaeaea;
$green: #00a7a8;
$turquoise: #2dcccd;
$darkHover: #072146;
$blueHeader: #2a86ca;



